.menu {
	width:auto;
	margin:0 auto;
	height:40px;
	padding:0px 2px;
}

.sobre {z-index:10000;}
/*** Secundaria posicionada por encima del Inicio ***/

.sec {
	/* Bordes Redondeados */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 0 0;
}

.menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 5px;
	margin-right:6px;
	margin-top:12px;
	border:none;
}

.menu li:hover {
	border: 1px solid #777;
	padding: 4px;
	
	/* Background y gradientes */
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEE));
	
	/* Bordes redondeados */
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.menu li a {
	font-family:'Oswald-Regular';
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #EEE;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
  font-size:0.75em;
}

.sec li a { text-transform:none }

.menu li h6{
    font-size: 1em;
    margin: 5px 0px 0px 0px;
  
}



.menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #fff;
}

.menu li .drop {
	padding-right:15px;
	background:image-url('menu_top/drop.png') no-repeat right center;
}

.unaCol, .dosCol, 
.seisColA, .seisColB, .seisColC, .seisColD, .seisColE, .seisColF, .seisColG, .seisColH, .seisColI, .seisColJ {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Oculto los desplegables para no superponerlos */
	text-align:left;
	padding:10px 5px;
	border:1px solid #777;
	border-top:none;
	
	/* Gradientes */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEE, #BBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));

	/* Bordes redondeados */
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
  
  z-index: 10000;
}

.menu li p {
  font: 0.688em/1.4em "lucida grande", tahoma, verdana, arial, sans-serif; 
  margin: 5px 0px 15px 0px;
  height: 75px;
}

.unaCol {width: 160px;}
.dosCol {width: 304px;}
.seisColA, .seisColB, .seisColC, .seisColD, .seisColE, .seisColF, .seisColG, .seisColH, .seisColI, .seisColJ {width: 928px;}

.menu li:hover .unaCol{
	left:-3px;
	top:auto;
}

.menu li:hover .dosCol{
	left:-3px;
	top:auto;
}

.menu li:hover .seisColA {
	left:-65px;
	top:auto;
}

.menu li:hover .seisColB {
	left:-147px;
	top:auto;
}

.menu li:hover .seisColC {
	left:-192px;
	top:auto;
}

.menu li:hover .seisColD {
	left:-300px;
	top:auto;
}

.menu li:hover .seisColE {
	left:-383px;
	top:auto;
}

.menu li:hover .seisColF {
	left:-485px;
	top:auto;
}

.menu li:hover .seisColG {
	left:-583px;
	top:auto;
}

.menu li:hover .seisColH {
	left:-658px;
	top:auto;
}

.menu li:hover .seisColI {
	left:-746px;
	top:auto;
}

.menu li:hover .seisColJ {
	left:-828px;
	top:auto;
}

.menu li:hover .seccion-1 {
  left: -51px;
  top: auto; 
}
  
.menu li:hover .seccion-2 {
  left: -135px;
  top: auto;
}
  
.menu li:hover .seccion-3 {
  left: -235px;
  top: auto;
}


.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:152px;}
.col_2 {width:304px;}
.col_3 {width:454px;}
.col_4 {width:604px;}
.col_5 {width:756px;}
.col_6 {width:918px;}

.menu .menu_right {
	float:right;
	margin-right:0px;
}
.menu li .align_right {
	/* Bordes redondeados */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
.menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}
.menu h4 {
	padding-bottom:10px;
	border-bottom:1px solid #666;
}
.menu h5 {
	margin:7px 0 10px 0;
	padding-bottom:10px;
	border-bottom:1px solid #888;
}
.menu h6 {}
.menu p {
	line-height:18px;
	margin:0 0 14px 0;
}
.menu li:hover div a {
	font-size:14px;
	line-height:1.6em;
}

/* estilo para la sombra de las imagenes */
.imgsombra {
	background:#FFF;
	padding:4px;
	border:1px solid #777;
	-moz-box-shadow:0px 0px 5px #666;
	-webkit-box-shadow:0px 0px 5px #666;
	box-shadow:0px 0px 5px #666;
}
.img_left {
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}
.menu li .black_box {
	background-color:#333;
	color: #eee;
	text-shadow: 1px 1px 1px #000;
	padding:4px;

	/* Imagen a la izq. */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/* Sombras */
	-webkit-box-shadow:inset 0 0 3px #000;
	-moz-box-shadow:inset 0 0 3px #000;
	box-shadow:inset 0 0 3px #000;
}
.menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #fff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}

.menu li .cajaGris li {
	background:#F4F4F4;
	border:1px solid #bbb;
	margin:0px 10px 4px 0px;
	padding:4px 6px;
	float:left;
	width:auto;

	/* a la izq de la imagen */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.menu li .cajaGris li:hover {
	background:#fff;
	border:1px solid #aaa;
	margin:0px 10px 4px 0px;
	padding:4px 6px;
}



/**** Menu ***/

.menu {
	/* Color de fondo y gradientes */
	background:#000;
}

.sec {
	background:#000;
  background: -moz-linear-gradient(top, #F4F4F4, #EEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEE));
	
	/* Bordes y Sombras */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
  margin: 5px 0px 0px 0px;
}

.menu li:hover div a { color:#860101; }
.menu li:hover div a:hover {color:#eb0202;}

.menu li:hover div a img {
    float: left; border: 1px solid #CCC; padding: 3px; background-color: white;
    width: 138px;  
    margin: 5px 15px 15px 0px;
}

.menu {
	li.google_cse,
  li.google_cse:hover {
    margin-top: 0;
  	float: right;
    padding: 4px 0 0;
    border: 0;
    background: transparent;

    .gsc-control-cse {
    	width: 240px;
      padding: 0;
      border: 0;
      background-color: transparent;
    }
  }
}
