  <div id="choose-existing-media">
    <div class="row">
      <p><%= t('media.existent.label') %></p>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= label :search, :article_id, t('activerecord.attributes.medium.belong_article'), class: 'left inline' %>
      </div>
      <div class="large-10 columns">
        <%= ajax_select2_field :search, :article_id, search_articles_path, {}, { placeholder: t('articles.none'), allowClear: true } %>
      </div>
    </div>

    <div class="row collapse">
      <div class="large-2 columns">
        <%= label :search, :type, t('activerecord.attributes.medium.type'), class: 'left inline' %>
      </div>
      <div class="large-4 columns">
        <%= i18n_select :search, :type, Medium.types, i18n_key: 'media.types', include_blank: true %>
      </div>
      <div class="large-5 columns">
        <input type="text" name="search[query]" id="query" placeholder="<%= t('media.existent.search.placeholder') %>">
      </div>
    </div>

    <div class="row collapse">
      <div class="large-2 columns">
        <%= label :search, :date, t('activerecord.attributes.medium.date'), class: 'left inline' %>
      </div>
      <div class="large-4 columns">
        <%= datepicker_field :search, :date, { trigger: '#media-date-trigger', shownOn: 'never', constrainInput: true } %>
      </div>
      <div class="large-2 columns">
        <a href="#" class="button small postfix" id="media-date-trigger"><%= t('activerecord.actions.shared.select_date') %></a>
      </div>
      <div class="large-1 columns end">
        <%= help t('media.list.filter.date_help') %>
      </div>
      <div class="large-2 columns right">
        <%= link_to t('media.existent.search.submit'), "#", {id: "search_media_button", class: "button postfix radius"} %>
      </div>
    </div>


    <div class="large-1 columns">
      <span class="indicator inline" <%= plugins indicators: { hideOnInit: true, context: '#existent-media-pane' } %>>
        <%= image_tag 'indicator-small.gif' %>
      </span>
    </div>
  </div>