<div id="ws_announcements" data-options="<%= announcements_options(YavuSettings.announcements.hostspec).to_json %>">
  <!-- will show connection status -->
  <div class="status"></div>
  <!-- will show log messages -->
  <div class="logs"></div>
</div>
