<section class="top-bar-section">
  <%= menu_group class: 'left' do -%>
    <%= menu_divider %>
    <%= menu_dropdown :articles, main_app.articles_path, target: Article do -%>
      <%= menu_item t('menu.actions.list'), main_app.articles_path, target: Article %>
      <%= menu_item t('menu.actions.new'), main_app.new_article_path, action: :create, target: Article %>
    <% end -%>

    <%= menu_dropdown :content, target: [Medium, Gallery] do -%>
      <%= menu_item t('menu.media'), main_app.media_path, target: Medium %>
      <%= menu_item t('menu.galleries'), main_app.galleries_path, target: Gallery %>
    <% end -%>

    <%= menu_dropdown :structure, target: [Tag, Edition, Supplement, :cover] do -%>
      <%= menu_item t('tags.label.plural'), main_app.tags_path, target: Tag %>
      <%= menu_item t('editions.label.plural'), main_app.editions_path, target: Edition %>
      <%= menu_item t('sections.label.plural'), main_app.sections_path, target: Section %>
      <%= menu_item t('supplements.label.plural'), main_app.supplements_path, target: Supplement %>
      <%= menu_item t('news_sources.label.plural'), main_app.news_sources_path, target: NewsSource %>
      <%= menu_item t('covers.label.plural'), main_app.covers_path, target: :cover %>
    <% end -%>

    <%= menu_dropdown :administration, target: [ClientApplication, Component, FrontendServer, :jobs, ExtraAttribute, User, Role, Version] do -%>
      <%= menu_item t('client_applications.label.plural'), main_app.client_applications_path, target: ClientApplication %>
      <%= menu_item t('components.label.plural'), main_app.components_path, target: Component %>
      <%= menu_item t('frontend_servers.label.plural'), main_app.frontend_servers_path, target: FrontendServer %>
      <%= menu_divider %>
      <%= menu_item t('jobs.label'), main_app.jobs_path, target: :jobs %>
      <%= menu_divider %>
      <%= menu_item t('extra_attributes.label.plural'), main_app.extra_attributes_path, target: ExtraAttribute %>
      <%= menu_item t('settings.label.plural'), main_app.settings_path, target: Setting %>
      <%= menu_divider %>
      <%= menu_item t('users.label.plural'), main_app.users_path, target: User %>
      <%= menu_item t('roles.label.plural'), main_app.roles_path, target: Role %>
      <%= menu_item t('versions.auditing'), main_app.auditing_path, target: Version %>
    <% end -%>

    <%- if Menu.extras? %>
      <%= menu_dropdown :extensions do -%>
        <% Menu.extras.each do |extra| %>
          <%= menu_item extra.value, extra.path, extra.options || {}  %>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>

  <%= menu_group class: 'right' do %>
    <%= menu_divider %>
    <%= render 'shortcuts/menu' %>
    <%= menu_divider %>
    <%= menu_dropdown current_user.username do -%>
      <%= menu_item t('session.header.profile'), main_app.profile_path %>
      <%= menu_divider %>
      <%= menu_item t('session.header.logout'), main_app.destroy_user_session_path, method: :delete %>
    <% end -%>
  <% end -%>
</section>
