<section id="context" class="section">
  <p class="title" data-section-title>
    <a href="#context">
      <i class="fi-pencil"></i>
      <%= t("components.form.context") %>
    </a>
  </p>

  <div class="content">
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :context %>
        <%= f.text_area :context, class: 'codemirror', data: {plugins: escape_configuration('codemirror' => {mode: 'text/x-ruby', matchBrackets: true, indentUnit: 2})} %>
      </div>
    </div>
  </div>
</section>
