<section id="defaults" class="section">
  <p class="title" data-section-title>
    <a href="#defaults" >
      <i class="fi-pencil"></i>
      <%= t('components.form.defaults') %>
    </a>
  </p>
  <div class="content">
    <p><%= t('components.form.defaults_description') %></p>

    <div id="fields-container">
      <%= render partial: 'components/form/default_fields', locals: { f: f } %>
    </div>

    <div class="row">
      <div class="large-12 columns text-right">
        <%= f.link_to_add t('components.form.add_field'), :fields, class: 'button small success radius', data: {target: '#fields-container'} %>
      </div>
    </div>
  </div>
</section>