<%= f.fields_for :fields do |field_form| %>
  <div class="panel">
    <div class="row inline-labels">
      <span class="large-2 columns">
        <%= field_form.label :name, class: 'right inline label-element' %>
      </span>
      <span class="large-6 columns">
        <%= field_form.text_field :name, class: 'name-field' %>
      </span>
      <span class="large-4 columns left-padded" style="overflow: auto">
        <%= field_form.label :name, class: 'inline hint' do %>
          <code>
            @settings['<span class="display-name"><%= field_form.object.name %></span>']
          </code>
        <% end %>
      </span>
    </div>

    <div class="row inline-labels">
      <span class="large-2 columns">
        <%= field_form.label :description, class: 'right inline label-element' %>
      </span>
      <span class="large-10 columns">
        <%= field_form.text_field :description %>
      </span>
    </div>

    <% if field_form.object.new_record? %>
      <%= render partial: 'components/form/new_default_field', locals: { field_form: field_form } %>
    <% else %>
      <%= render partial: 'components/form/existing_default_field', locals: { field_form: field_form } %>
    <% end %>

    <div class="row inline-labels">
      <div class="large-2 columns">
        <%= field_form.label :value, t('activerecord.attributes.component_field.default'), class: 'right inline label-element' %>
      </div>

      <div class="large-10 columns">
        <!-- Scalar, Hash -->
        <% %w( ComponentFieldScalar ComponentFieldHash ).each do |type| %>
          <span class="initially-hidden type-dependent show-when-type-<%= type %>">
            <%= field_form.text_area :value, value: type == field_form.object.type ? field_form.object.value : nil %>
          </span>
        <% end %>

        <!-- Integer -->
        <span class="initially-hidden type-dependent show-when-type-ComponentFieldInteger">
          <%= field_form.number_field :value, value: 'ComponentFieldInteger' == field_form.object.type ? field_form.object.value : nil %>
        </span>

        <!-- Single Model -->
        <span class="initially-hiden type-dependent show-when-type-ComponentFieldModel">
          <% ComponentField.model_classes.each do |model_class| %>
            <!-- && <%= model_class.name %> -->
            <span class="initially-hidden model-dependent show-when-model-<%= model_class.name.parameterize %>">
              <% value = 'ComponentFieldModel' == field_form.object.type && field_form.object.model_class == model_class.name ? field_form.object.value.try(:id) : nil %>
              <%= field_form.text_field :value, value: value, data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(model_class), dataType: :json}, allowClear: true, placeholder: t("components.form.select_#{model_class.to_s.downcase}")}) } %>
            </span>
          <% end %>
        </span>

        <% %w( ComponentFieldMultiModel ComponentFieldOrderedMultiModel ).each do |type| %>
          <!-- <%= type %> -->
          <span class="initially-hidden type-dependent show-when-type-<%= type %>">
          <% ComponentField.model_classes.each do |model_class| %>
              <!-- && <%= model_class %> -->
              <span class="initially-hidden model-dependent show-when-model-<%= model_class.name.parameterize %>">
                <% value = type == field_form.object.type && field_form.object.model_class == model_class.name ? field_form.object.value.map(&:id).join(',') : nil %>
                <%= field_form.text_field :value, value: value, data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(model_class, order: true), dataType: :json}, allowClear: true, placeholder: t("components.form.select_#{model_class.to_s.downcase.pluralize}"), multiple: true}) } %>
              </span>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="text-right">
      <%= field_form.link_to_remove t('components.form.remove_field'), class: 'button small alert radius' %>
    </div>
  </div>
<% end %>
