<div class="row inline-labels">
  <div class="large-2 columns">
    <%= field_form.label :type, class: 'right inline label-element' %>
  </div>
  <div class="large-4 columns inline readonly-value">
    <%= field_form.hidden_field :type, class: 'type-field' %>
    <%= field_form.object.class.model_name.human %>
  </div>

  <div class="initially-hidden type-dependent <%= [ComponentFieldModel, ComponentFieldMultiModel, ComponentFieldOrderedMultiModel].map { |x| "show-when-type-#{x}" }.join(' ') %>">
    <div class="large-2 columns">
      <%= field_form.label :model_class, class: 'right inline label-element' %>
    </div>

    <div class="large-4 columns">
      <%= field_form.collection_select :model_class, ComponentField.model_classes, ->(x) {x.to_s.parameterize }, ->(x) { x.model_name.human }, { selected: field_form.object.model_class.try(:parameterize) }, class: 'model-field', data: { plugins: escape_configuration('select2' => {}) } %>
    </div>
  </div>
</div>
