<section id="extras" class="section">
  <p class="title" data-section-title>
    <a href="#extras">
      <i class="fi-pencil"></i>
      <%= t("components.form.extras") %>
    </a>
  </p>

  <div class="content">
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :extras %>
        <%= f.text_area :extras, class: 'codemirror',
                        data: {
                          plugins: escape_configuration('codemirror' => {
                            mode: 'text/x-ruby',
                            matchBrackets: true,
                            indentUnit: 2}
                          )
                        } %>
      </div>
    </div>
  </div>
</section>
