<section id="data" class="section">

  <p class="title" data-section-title>
    <a href="#data"><i class="fi-pencil"></i>
      <%= t('components.form.data') %></a>
  </p>

  <div class="content">
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :type %>
        <% if @component.new_record? %>
          <%= f.collection_select :type, BaseComponent.types, :to_s, ->(x) { x.model_name.human.capitalize }, {},
                                  data: {plugins: escape_configuration('select2' => {})} %>
        <% else %>
          <strong><%= @component.class.model_name.human.capitalize %></strong>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :name %>
        <% if @component.new_record? %>
          <%= f.text_field :name %>
        <% else %>
          <strong><%= @component.name %></strong>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :enabled do %>
          <%= f.check_box :enabled %>
          <%= t 'components.form.enable' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :readme %>
        <%= f.text_area :readme, class: 'codemirror', data: {plugins: escape_configuration('codemirror' => {mode: 'text/x-markdown'})} %>
      </div>
    </div>
  </div>
</section>
