<div class="row inline-labels">
  <div class="large-2 columns">
    <%= field_form.label :type, class: 'right inline label-element' %>
  </div>
  <div class="large-4 columns">
    <%= field_form.collection_select :type, ComponentField.types, :to_s, ->(x) { x.model_name.human }, {}, class: 'type-field', data: { plugins: escape_configuration('select2' => {}) } %>
  </div>

  <div class="initially-hidden type-dependent <%= [ComponentFieldModel, ComponentFieldMultiModel, ComponentFieldOrderedMultiModel].map { |x| "show-when-type-#{x}" }.join(' ') %>">
    <div class="large-2 columns">
      <%= field_form.label :model_class, class: 'right inline label-element' %>
    </div>

    <div class="large-4 columns">
      <%= field_form.collection_select :model_class, ComponentField.model_classes, ->(x) { x.to_s.parameterize }, ->(x) { x.model_name.human }, {}, class: 'model-field', data: { plugins: escape_configuration('select2' => {}) } %>
    </div>
  </div>
</div>
