<table class="data_container">
  <tbody>
    <% if resources.empty? %>
      <tr>
        <td><%= t('dashboard.info_table.empty') %> </td>
      </tr>
    <% else %>
      <% resources.each_with_index do |resource, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to resource, resource %></td>
          <td><%= resource.send(accounting_method, *accounting_params.try(:values).try(:symbolize_keys)) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
