<div class="info_table_wrapper" data-url="<%= dashboard_most_box_url  %>" data-params="<%= local_assigns.has_key?(:update_params) ? update_params : '' %>" >
  <div class="alert-box secondary title">
    <span data-tooltip class="has-tip" title="<%= (local_assigns.has_key? :date_range) ? date_range_with_format(date_range, 'between_and') : '' %> ">
      <%= title %>
    </span>
  </div>
  <div class="table_container">
  <%= render partial: 'dashboard/info.html.erb', locals: { resources: resources, accounting_method: accounting_method, accounting_params: accounting_params} %>
  </div>
</div>
