<%= render_flashes %>

<div <%= plugins dashboard: {} %> >
  <% if can? :read, Article %>
    <% @article_groups.each_slice(2) do |article_groups| %>
      <div class="row">
        <% article_groups.each do |article_group| %>
        <section class="large-6 columns">
          <%= render partial: 'dashboard/info_table',
            locals: {
              title: article_group[:title],
              resources: article_group[:articles],
              date_range: article_group[:range],
              update_params: article_group[:update_params],
              accounting_method: article_group[:accounting_method],
              accounting_params: article_group[:accounting_params]
            }
          %>
        </section>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
