<div class="large-12 columns"%>
  <fieldset class="configuration articles">
    <h3><%= t 'draft_preview.config' %></h3>
    <div class="row">
      <%= form_tag(draft_preview_path(@client_application, @route.id, @draft.id), method: 'get', target: '_blank') do %>
        <%= render partial: 'shared/preview_configurations/edition_select' %>
        <%= label_tag t 'draft_preview.article_select' %>
        <%= ajax_select2_field_tag :article, @object.settings.id, search_articles_path, { multiple: false } %>
        <%= submit_tag t('draft_preview.view'), type: 'submit', class: 'button radius medium success' %>
      <% end %>
    </div>
  </fieldset>
</div>
