<div class="large-12 columns"%>
  <fieldset class="configuration articles">
    <h3><%= t 'draft_preview.config' %></h3>
    <div class="row">
        <%= form_tag(draft_preview_path(@client_application, @route.id, @draft.id), method: "get") do %>
          <%= render partial: 'shared/preview_configurations/edition_select' %>
          <%= submit_tag t('draft_preview.view'), type: 'submit', class: 'button radius medium success' %>
        <% end %>
    </div>
  </fieldset>
</div>
