<fieldset class="configuration articles">
  <h3><%= t 'draft_preview.config' %></h3>

  <h5><%= t 'draft_preview.section_select' %></h5>
  <div class="row">
      <%= form_tag(draft_preview_path(@client_application, @route.id, @draft.id), method: "get", target: '_blank') do %>
        <%= render partial: 'shared/preview_configurations/edition_select' %>
        <%= label_tag t 'draft_preview.section_select' %>
        <%= ajax_select2_field_tag :section, @object.settings.id, search_sections_path, { multiple: false }, { minimumInputLength: 0 } %>
        <%= submit_tag(t('draft_preview.save_and_preview'), type: 'submit', class: 'button radius medium success') %>
      <% end %>
  </div>
</fieldset>
