<div class="components">
  <div class="form-container" <%= plugins 'componentsform' => {} %>>
    <%= nested_form_for @component, url: form_component_path(@component), as: :component  do |f| %>
      <%= render_form_errors @component  %>

      <div class="field-container panel">
        <div class="section-container auto" data-section="tabs">

          <%= render 'components/form/main_data', f: f  %>

          <%= render 'components/form/context', f: f %>

          <%= render 'components/form/extras', f: f %>

          <%= render 'components/form/defaults', f: f %>
        </div>
      </div>
      <div class="large 12-columns">
        <ul class="form-actions right">
          <li><%= f.submit t('components.form.submit'),class: 'action button radius success save-component' %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>