<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('components.copy.title') %></h1>
  <h2><%= t('components.copy.original_component', component: @original_component) %></h2>
</div>

<%= render_flashes %>

<%= form_for @component, url: create_copy_component_path(@original_component), as: :component do |f| %>
  <div class="form-container">
    <%= render_form_errors @component  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('components.form.submit'),class: 'action button radius success save-component' %></li>
    </ul>
  </div>
<% end %>

<%= render_context_actions :component, left: { back: { url: components_path } } %>
