<div class="row crud-inner-header">
  <h1><%= title t('components.edit.title', name: @component.name) %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :component, left: {
  back:  { url: components_path }, 
  show:  { url: component_path(@component) }
} %>
