<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('components.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(components_path, :name) %>
  </div>

</div>

<%= render_flashes %>

<%= render_context_actions :component, right: { new: { url: new_component_path } }, target: Component %>

<p><%= kaminari_info @components %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-4">
      <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'components', field: 'name', label: t('activerecord.attributes.component.name').capitalize } %>
    </th>
    <th class="large-4">
      <%= t('activerecord.attributes.component.slug').capitalize  %>
    </th>
    <th class="large-4">
      <%= t('activerecord.attributes.component.type').capitalize  %>
    </th>
    <th class="large-4">
      <%= t('activerecord.attributes.component.enabled') %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
 <tbody>
  <% @components.each do |component| %>
    <tr>
      <td>
        <%= component.name %>
      </td>
      <td>
        <%= component.slug %>
      </td>
      <td>
        <%= t component.class.model_name.human %>
      </td>
      <td class="text-center">
        <%= render_boolean component.enabled? %>
      </td>
      <td>
      <%= render_dropdown_actions component, :component, show:         {url: component_path(component)},
                                                         edit:         {url: edit_component_path(component)},
                                                         copy:         {url: copy_component_path(component), class: 'success'},
                                                         disable:      {url: disable_component_path(component), condition: component.enabled?, divider: true, class: 'alert'},
                                                         enable:       {url: enable_component_path(component), condition: !component.enabled?, divider: true, class: 'success'},
                                                         translations: {url: component_translations_path(component), condition: !component.cover?, divider: true},
                                                         assets:       {url: component_assets_path(component), condition: !component.cover?},
                                                         views:        {url: component_views_path(component), condition: !component.cover?},
                                                         services:     {url: component_services_path(component)},
                                                         destroy:      {url: component_path(component)} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @components %>
  </div>
</div>
