<div class="crud-inner-header">
  <h1><%= title t('components.new.title', component_type: @component.class.model_name.human) %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :component, left: { back: { url: components_path } } %>
