<div class="crud-inner-header">
  <h1><%= title t('components.show.title', component_type: @component.class.model_name.human, component_name: @component.name) %></h1>
</div>

<%= render_flashes %>

<div class="field-container panel">
<div class="section-container tabs show-field-container" data-section="tabs">
  <section class="active">
    <p class="title" data-section-title><a href="#">General</a></p>
    <div class="content" data-section-content>
      <div class="row">
        <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component.name' %></div>
        <div class="large-9 columns"><%= render_value @component.name %></div>
      </div>
      <div class="row">
        <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component.slug' %></div>
        <div class="large-9 columns"><%= render_value @component.slug %></div>
      </div>
      <div class="row">
        <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component.description' %></div>
        <div class="large-9 columns"><%= render_value @component.description %></div>
      </div>
      <div class="row">
        <%= render 'components/show/defaults' %>
      </div>
      <div class="row">
        <div class="large-12 columns label-element"><%= t 'activerecord.attributes.component.readme' %></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= CodeRay.scan(@component.readme, :markdown).div.html_safe %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'components/show/used_in_representations_tab' %>

  <% unless @component.cover? %>
    <%= render 'components/show/views_tab' %>
    <%= render 'components/show/translations_tab' unless @component.translations.empty? %>
    <%= render 'components/show/assets_tab' unless @component.assets.empty? %>
  <% end %>

  <%= render 'components/show/context_tab' unless @component.context.blank? %>
  <%= render 'components/show/libraries_tab' unless @component.extras.blank? %>
  <%= render 'components/show/services_tab' unless @component.services.empty? %>
  <%= render 'components/show/versions' %>

</div>
</div>

<%= render_context_actions :component,
  left: {
    back: {url: components_path}
  },
  right: {
    copy: {url: copy_component_path(@component), class: 'success'},
    edit: {url: edit_component_path(@component)},
    destroy: {url: component_path(@component)}
  },
  target: @component %>
