.voting-votes-total {
  font-weight: bold;
  margin-left: 2px; 
}
.voting-votes-up,
.voting-votes-down {
  position:relative;
  display: inline-block;
  cursor:pointer;
}
.voting-votes-up img,
.voting-votes-down img {
  border: none;
  padding: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}
.votes-like {
  color: #0B610B;
  vertical-align: super;
}
.votes-dislike {
  color: #DF0101; 
  vertical-align: super;
}
.rating {
  display: inline;
}