<a href="#" class="right button small dropdown secondary radius" data-dropdown="action-dropdown-<%= target.id %>">
  <%= t('activerecord.actions.shared.actions') %>
</a>
<ul class="f-dropdown" id="action-dropdown-<%= target.id %>" <%= plugins mover: {} %> data-dropdown-content>
  <% actions.each do |action| %>
    <% if action.delete(:divider) %>
      <li class="<%= action.delete(:divider_class) %>"></li>
    <% end %>

    <% if action.delete(:disabled) %>
      <li class="disabled"><%= content_tag 'a', action.delete(:disable_text), title: action.delete(:disable_title) %></li>
    <% elsif action.delete(:title) %>
      <li class="<%= action.delete(:actions_title_class) %>"><a href="#"><%= action.delete(:text) %></a></li>
    <% else %>
      <li class="<%= action.delete(:class) %>"><%= link_to(action.delete(:text), action.delete(:url), action) %></li>
    <% end %>
  <% end %>
</ul>