<div class="form-container">
  <%= form_for(@supplement) do |f| %>

    <%= render_form_errors @supplement  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name, nil, class:"two" %>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :news_source, nil, class:"two" %>
          <%= collection_select2_select :supplement, :news_source_id, NewsSource.all, :id, :to_s %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :logo %>
          <%= ajax_select2_field :supplement, :logo_id, autocomplete_media_path(type: 'ImageMedium'), { escape_markup: false }, { prompt: true, placeholder: t('media.none'), allowClear: true } %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
