<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('supplements.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(supplements_path, :name) %>
  </div>
</div>

<%= render_flashes %>

<%= render_context_actions :supplement, right: { new: { url: new_supplement_path } }, target: Supplement %>

<p><%= kaminari_info @supplements %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.supplement.name' %></th>
      <th><%= t 'activerecord.attributes.supplement.news_source' %></th>
      <th><%= t 'activerecord.attributes.supplement.active_edition' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @supplements) do |supplement| %>
      <td>
        <% if supplement.is_default %>
          <span class="round label">&#10025;</span>
        <% end %>
        <%= raw supplement.name %>
      </td>
      <td><%= render_value supplement.news_source %></td>
      <td><%= render_value raw supplement.active_edition %></td>
      <td>
        <%= render_dropdown_actions(supplement, :supplement,
          {
            show:           {url: supplement_path(supplement)},
            edit:           {url: edit_supplement_path(supplement)},
            editions:       {url: editions_supplement_path(supplement)},
            sections:       {url: sections_supplement_path(supplement)},
            become_default: {url: become_default_supplement_path(supplement), condition: !supplement.is_default, method: :post},
            destroy:        {url: supplement_path(supplement)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @supplements %>
  </div>
</div>
