<h1><%= raw title t('supplements.show.title', supplement: @supplement) %></h1>

<%= render_flashes %>

<div class="show-field-container panel">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.supplement.name'%></div>
    <div class="large-9 columns"><%= render_value raw @supplement.name %></div>
  </div>

  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.supplement.news_source'%></div>
    <div class="large-9 columns"><%= render_value @supplement.news_source %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.supplement.is_default'%></div>
    <div class="large-9 columns"><%= render_boolean @supplement.is_default %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.supplement.active_edition'%></div>
    <div class="large-9 columns"><%= render_value @supplement.active_edition, t('supplements.no_active_edition') %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.actions.supplement.editions'%></div>
    <div class="large-9 columns"><%= link_to render_value(@supplement.editions.count), editions_supplement_path(@supplement) %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.actions.supplement.sections'%></div>
    <div class="large-9 columns"><%= link_to render_value(@supplement.sections.count), sections_supplement_path(@supplement) %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.actions.supplement.articles'%></div>
    <div class="large-9 columns"><%= @supplement.articles.count %></div>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @supplement.extra_attribute_model} %>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.supplement.logo'%></div>
    <div class="large-9 columns"><%= preview_medium(@supplement.logo, controller: 'articles') if @supplement.logo %></div>
  </div>
</div>

<%= render_context_actions :supplement, left: { back: {url: supplements_path} },
                                        right: { become_default: {url: become_default_supplement_path(@supplement), condition: !@supplement.is_default, method: :post},
                                                 edit:           {url: edit_supplement_path(@supplement)},
                                                 editions:       {url: editions_supplement_path(@supplement)},
                                                 sections:       {url: sections_supplement_path(@supplement)},
                                                 destroy:        {url: supplement_path(@supplement)} },
                                        target: @supplement %>
