<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') } } %>>
  <%= form_tag(editions_path, :class => 'filters-form', method: :get) do %>
    <div class="field-container">
      <div class="row panel radius">
        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :supplement_id, t('editions.filter.supplement') %>
            <%= collection_select2_select :filter, :supplement_id, Supplement.where(nil), :id, :to_s, { prompt: true } %>
          </div>
        </div>

        <ul class="form-actions">
          <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
          <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
