<div class="form-container">
  <%= nested_form_for(@edition) do |f| %>
    <%= render_form_errors @edition %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>          
          <%= f.text_field :name %>          
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= f.label :date_string %>
          <div class="row collapse">
            <div class="large-3 columns">
              <%= datepicker_field :edition, :date_string, { trigger: '#editions-date-trigger', shownOn: 'never', constrainInput: true }, { value: (date_with_format @edition.date) || date_with_format(Date.today) } %>
            </div>
            <div class="large-1 columns end">
              <a href="#" class="postfix button" id="editions-date-trigger"><i class="fi-calendar"></i></a>
            </div>
          </div>
          <div class="hint">
            <p> <%= t('editions.date_help') %> </p>
          </div>
        </div>
      </div>
      <% if @edition.new_record? || !@edition.is_active? %>
        <div class="row">
           <div class="large-12 columns">
            <%= f.label :is_visible %>
            <%= f.check_box :is_visible %>
           </div>
        </div>
      <% end %>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :supplement %>
          <%= collection_select2_select :edition, :supplement_id, Supplement.where(nil), :id, :to_s, { prompt: true } %>
        </div>
      </div>
      <div class="row">
        <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
