<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('editions.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= form_tag(editions_path, method: :get) do %>
      <div class="row collapse">

        <div class="large-7 columns">
          <%= datepicker_field :filter, :name, { trigger: '#simple_filter-date-trigger', shownOn: 'never', constrainInput: false }, { placeholder: t('activerecord.actions.shared.simple_search') } %>
        </div>
        <div class="large-1 columns">
          <a href="#" class="button postfix secondary" id="simple_filter-date-trigger">
            <i class="fi-calendar"></i>
          </a>
        </div>

        <div class="large-1 columns">
          <%= button_tag type: 'submit', name: 'commit', value: t('activerecord.actions.shared.filter'), class: 'button postfix' do %>
            <i class="fi-magnifying-glass"></i>
          <% end %>
        </div>
        <div class="large-2 columns end">
          <%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button postfix radius secondary' %>
        </div>
      </div>
    <% end %> 
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'editions/filter' %>

<%= render_flashes %>

<%= render_context_actions :edition, right: { new:  { url: new_edition_path } }, target: Edition %>

<%= render_filter_labels(:editions) %>

<p><%= kaminari_info @editions %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'editions', field: 'edition', label: t('activerecord.attributes.edition.name') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'editions', field: 'date', label: t('activerecord.attributes.edition.date') } %>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'editions', field: 'supplement', label: t('activerecord.attributes.edition.supplement') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'editions', field: 'is_visible', label: t('activerecord.attributes.edition.is_visible') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'editions', field: 'is_active', label: t('activerecord.attributes.edition.active') } %>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @editions, :class => 'editions-list') do |edition| %>
      <% css_class = edition.is_active ? 'backgr-active' : !edition.is_visible? ? 'backgr-no-visible' : '' %>
      <td class="<%= css_class %>">
        <%= edition %>
      </td>
      <td class="<%= css_class %>">
        <%= date_with_format edition.date, :long %>
      </td>
      <td class="<%= css_class %>"><%= edition.supplement %></td>
      <td class="<%= css_class %>"><%= render_boolean edition.is_visible %></td>
      <td class="<%= css_class %>"><%= render_boolean edition.is_active %></td>
      <td class="<%= css_class %>">
        <%= render_dropdown_actions(edition, :edition,
          {
            show:           {url: edition_path(edition)},
            edit:           {url: edit_edition_path(edition)},
            articles:       {url: articles_edition_path(edition)},
            become_active:  {url: become_active_edition_path(edition), condition: edition.is_visible? && !edition.is_active?, method: :put},
            destroy:        {url: edition_path(edition)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @editions %>
  </div>
</div>
