<h1><%= raw title t('editions.show.title', edition: @edition) %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.name' %></div>
    <div class="large-9 columns"><%= render_value raw @edition.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.date' %></div>
    <div class="large-9 columns"><%= render_value @edition.date_with_format %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.is_visible' %></div>
    <div class="large-9 columns"><%= render_boolean @edition.is_visible %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.active' %></div>
    <div class="large-9 columns"><%= render_boolean @edition.is_active %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.supplement' %></div>
    <div class="large-9 columns"><%= render_value raw @edition.supplement %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.edition.articles' %></div>
    <div class="large-9 columns"><%= link_to render_value(raw @edition.articles.count), articles_edition_path(@edition) %></div>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @edition.extra_attribute_model} %>
  </div>

</div>

<%= render partial: 'paper_trail/versions/versions', locals: {versions: @edition.versions} %>

<%= render_context_actions :edition, left: { back: {url: editions_path} },
                                     right: { become_active: {url: become_active_edition_path(@edition), condition: @edition.is_visible? && !@edition.is_active?, method: :put},
                                              articles: {url: articles_edition_path(@edition)},
                                              edit:  {url: edit_edition_path(@edition)},
                                              destroy: {url: edition_path(@edition)} },
                                     target: @edition %>
