<%= render_dropdown_actions(representation, :representation,
  {
    show:   { url: client_application_representation_path(@client_application, representation) },
    rename: { url: rename_client_application_representation_path(@client_application, representation) },
    draft_preview_and_publish:
    {
      url: preview_client_application_representation_path(@client_application, representation, gbt: client_application_representations_path(@client_application)),
      condition: representation.has_draft?
    },
    disabled: 
    {
      disable_text: t('activerecord.actions.representation.draft_preview_and_publish'),
      condition: !representation.has_draft?,
      disabled: true
    },
    desing:   
    {
      title: true,
      text: t('activerecord.actions.representation.groups.design'),
      divider: true
    },
    assets: { url: manage_assets_client_application_representation_path(@client_application, representation) },
    edit:   { url: edit_client_application_representation_path(@client_application, representation) },
    copy:   
    { 
      url: copy_client_application_representation_path(@client_application, representation),
      class: 'success'
    },
    alternative_views: { url: client_application_representation_views_path(@client_application, representation) },
    editorial:
    {
      title: true,
      text: t('activerecord.actions.representation.groups.editorial'),
      divider: true
    },
    discard_draft:
    { 
      url: discard_draft_client_application_representation_path(@client_application, representation), 
      method: :delete, 
      data: { confirm: t('representations.actions.confirmation.discard_draft') },
      condition: representation.has_draft?
    },
    disble_discard_draft:
    {
      disable_text: t('activerecord.actions.representation.discard_draft'),
      condition: !representation.has_draft?,
      disabled: true
    },
    destroy: { url: client_application_representation_path(@client_application, representation) }
  }
) %>