<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') }, collapseOnInit: !@filter.any? } %>>
  <%= form_tag '', :class => 'filters-form', :method => :get do %>
    <div class="field-container">
      <section class="section active">
        <div class="content">
          <div class="row">
            <div class="large-3 columns">
              <%= label :filter, :name, t('activerecord.attributes.representation.name'), class: 'inline right' %>
            </div>
            <div class="large-9 columns">
              <%= text_field :filter, :name %>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <div class="large-10 columns large-offset-2">
        <%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %>
        <%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius secondary small' %>
      </div>
    </div>
  <% end %>
</div>
