<div class="form-container">
  <%= form_for [@client_application, @representation], url: url do |f| %>
    <%= render_form_errors @representation  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
