<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations.copy.title') %></h1>
  <h2><%= t('representations.copy.original_representation', representation: @original_representation) %></h2>
</div>

<%= render_flashes %>

<%= render 'form', url: create_copy_client_application_representation_path(@client_application, @original_representation) %>

<%= render_context_actions :representation, left: { back: { url: client_application_representations_path(@client_application) } } %>
