<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li>&nbsp;</li>
  </ul>
  <div class="row">
    <h1 class="large-7 columns">
      <%= title t('representations.list.title') %>
    </h1>

    <div class="large-5 columns quick-filter-container">
      <%= render_simple_filter(client_application_representations_path(@client_application), :name) %>
    </div>
  </div>
</div>

<%= render_flashes %>

<%= render_context_actions :representation, right: { new: { url: new_client_application_representation_path } }, target: Representation %>

<p><%= kaminari_info @representations %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-4">
      <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'representations', field: 'name', label: t('activerecord.attributes.representation.name').capitalize } %>
    </th>
    <th class="large-3"><%= t('representations.list.backups') %></th>
    <th class="large-3"><%= t('representations.list.routes') %></th>
    <th class="large-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @representations.each do |representation| %>
    <tr>
      <td><%= representation.name %></td>
      <td><%= render_value representation.backups.count %></td>
      <td>
        <%= render_value render_collection representation.routes %>
      </td>
      <td><%= render partial: 'actions_dropdown', locals: { representation: representation } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @representations %>
  </div>
</div>

<%= render_context_actions :client_application, left: { back: {url: client_applications_path} } %>
