<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations.new.title') %></h1>
</div>

<%= render_flashes %>

<%= render 'form', url: client_application_representations_path(@client_application, @representation) %>

<%= render_context_actions :representation, left: { back: { url: client_application_representations_path(@client_application) } } %>
