<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations.show.title') %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.representation.client_application' %></div>
    <div class="large-9 columns"><%= render_value @representation.client_application %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.representation.name' %></div>
    <div class="large-9 columns"><%= render_value @representation.name %></div>
  </div>

  <% if @representation.has_draft? %>
    <fieldset>
      <legend><%= t 'activerecord.attributes.representation.draft' %></legend>

      <div class="row">
        <div class="large-3 columns label-element"><%= t 'activerecord.attributes.draft.created_at' %></div>
        <div class="large-9 columns"><%= l @representation.draft.created_at %></div>
      </div>
    </fieldset>
  <% else %>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.representation.draft' %></div>
    <div class="large-9 columns n-a"><%= t 'activerecord.attributes.representation.no_draft' %></div>
  </div>
  <% end %>

  <% if @representation.has_backups? %>
    <fieldset>
      <legend><%= t 'activerecord.attributes.representation.backups' %></legend>

      <% @representation.backups.each do |backup| %>
        <div class="row">
          <div class="large-3 columns label-element"><%= t 'activerecord.attributes.backups.created_at' %></div>
          <div class="large-9 columns">
            <%= link_to l(backup.created_at, format: :long_with_time), client_application_representation_backup_path(@client_application, @representation, backup) %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% else %>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.representation.backups' %></div>
      <div class="large-9 columns n-a"><%= t 'activerecord.attributes.representation.no_backups' %></div>
    </div>
  <% end %>

  <!-- TODO: Include information about where this representation is being used -->
</div>

<%= render partial: 'paper_trail/versions/versions', locals: {versions: @representation.versions} %>

<%= render_context_actions :representation,
  left: {
    back: { url: client_application_representations_path(@client_application) }
  },
  right: {
    edit: { url: edit_client_application_representation_path(@client_application, @representation) }
  },
  target: @representation %>
