<%- if controller_name != 'sessions' %>
  <%= link_to t('devise.links.sign_in'), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t('devise.links.forgot_password'), new_password_path(resource_name) %><br />
<% end -%>