<div id="media-modal" class="reveal-modal" data-animation="fadeAndPop" <%= plugins mediamodal: { container: '#media-modal', articleId: @article.id } %>>
  <div class="row">
    <h2><%= t('media.upload.title') %></h2>

    <%= render partial: 'media/modal/uploads_options', locals: { f: f } %>

    <hr class="thick strong">

    <h3>
      <%= t('media.current.title') %>
    </h3>

    <div id="no-media-notice" class="<%=  @article.main_image ? 'initially-hidden' : 'alert-box' %>" >
      <%= t 'media.not_main_image' %>
    </div>

    <div id="selected-media-pane">
      <%= render partial: 'media/modal/related_media', locals: { f: f } %>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
