<ul class="selected-media-pane">
  <%= f.fields_for :article_media do |am_form| %>
  <li class="medium <% if am_form.object.main %> main-medium <% end %>" data-medium-id="<%= am_form.object.medium_id %>">
    <div class="right delete-container">
      <%= am_form.link_to_remove class: 'button small radius alert' do -%>
      <i class="fi-x"></i>
      <% end -%>
    </div>
    <div class="row medium-preview-row">
      <%= preview_medium(am_form.object.medium, prefix: 'modal', controller: "articles") if am_form.object.medium %>
      <div class="large-10 columns end">
        <div class="row">
          <div class="large-12 columns">
            <%= am_form.label :caption, t('articles.media.caption') %>
            <%= am_form.text_area :caption, placeholder: am_form.object.try(:calculated_caption), class: 'caption-field' %>
            <%= am_form.hidden_field :medium_id, class: 'medium_id-field' %>
            <%= am_form.hidden_field :order, class: 'order-field' %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= am_form.label :alt, t('articles.media.alt') %>
            <%= am_form.text_area :alt %>
          </div>
          <div class="large-6 columns">
            <%= am_form.label :title, t('articles.media.title') %>
            <%= am_form.text_area :title %>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns">
            <%= am_form.label :only_cover, t('articles.media.only_cover') %>
          </div>
          <div class="large-1 columns">
            <%= am_form.check_box :only_cover %>
          </div>
          <div class="large-2 columns">
            <%= am_form.label :for_gallery, t('articles.media.for_gallery') %>
          </div>
          <div class="large-1 columns end">
            <%= am_form.check_box :for_gallery %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
  <%= f.link_to_add '#', :article_media, id: 'add_nested_fields', class: 'initially-hidden', "data-target" => ".selected-media-pane" %>
<p class="emptyness-item initially-hidden"><%= t('articles.media.related.empty') %></p>
<div>
  <a href="#" id="close-modal" class="right button radius"><%= t('media.upload.ok') %></a>
</div>
<h4><small><%= t('media.upload.save_notice') %></small></h4>