<div class="section-container auto" data-section="tabs">
  <section id="choose-existing-media" class="section active">
    <p class="title" data-section-title><a href="#choose-existing-media"><%= t('media.existent.label') %></a></p>
    <div class="content" id="existent-media-pane">
      <div id="search-media-form">
        <div class="row">
          <div class="row">
            <div class="large-3 columns">
              <%= label :search, :query, t('media.existent.search.quick_search'), class: 'right inline' %>
            </div>
            <div class="large-6 columns end">
              <input type="text" name="search[query]" id="search_query" placeholder="<%= t('media.existent.search.placeholder') %>">
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= label :search, :article_id, t('activerecord.attributes.medium.belong_article'), class: 'right inline' %>
            </div>
            <div class="large-6 columns end">
              <%= ajax_select2_field :search, :article_id, search_articles_path, {}, { placeholder: t('articles.none'), allowClear: true } %>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= label :search, :type, t('activerecord.attributes.medium.type'), class: 'right inline' %>
            </div>
            <div class="large-6 columns end">
              <%= i18n_select :search, :type, Medium.types, i18n_key: 'media.types', include_blank: true %>
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <%= label :search, :date, t('activerecord.attributes.medium.date'), class: 'right inline' %>
            </div>
            <div class="large-6 columns end">
              <div class="row collapse">
                <div class="large-3 columns">
                  <%= datepicker_field :search, :date, { trigger: '#media-date-trigger', shownOn: 'never', constrainInput: true } %>
                </div>
                <div class="large-1 columns">
                  <a href="#" class="button postfix" id="media-date-trigger"><i class="fi-calendar"></i></a>
                </div>
                <div class="large-1 columns end">
                  <%= help t('media.list.filter.date_help') %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-2 large-offset-8 columns">
              <span class="indicator inline" <%= plugins indicators: { hideOnInit: true, context: '#existent-media-pane' } %>>
              <%= image_tag 'indicator-small.gif' %>
              </span>
              <a href="<%= search_media_path %>" id="search_media_button" class="button small radius"><%= t('media.existent.search.submit') %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="error_alert_search"></div>
      </div>
      <div class="row" id="search-results-container"></div>
    </div>
  </section>
  <% if can? :create, Medium %>
  <section id="upload-new-media" class="section">
    <p class="title" data-section-title><a href="#upload-new-media"><%= t('media.upload.label') %></a></p>
    <div class="content">
      <div id="form-dropzone-modal" class="dropzone-container" <%= plugins dropzone: { url: media_path, token: form_authenticity_token, message: false, clickable: '#medium_message', paramName: 'medium[file]' } %>>
        <div class="row">
          <div class="row">
            <div class="large-3 columns">
              <%= label_tag 'medium[type]', t('media.upload.type'), class: 'inline right' %>
            </div>
            <div class="large-6 columns end">
              <%= upload_type_select_tag :medium, :type, exclude: ['EmbeddedMedium'], include_blank: false, class: 'large' %>
            </div>
          </div>
          <div class="row panel">
            <div class="fallback large-10 columns">
              <%= file_field_tag 'medium[file]', multiple: true %>
            </div>
            <p class="large-12 columns message no-js-hidden" id="medium_message">
            <%= t('media.upload.drop') %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="error_alert_upload"></div>
      </div>
    </div>
  </section>
  <section id="create-embedded-media" class="section">
    <p class="title" data-section-title><a href="#create-embedded-media"><%= t('media.embedded.label') %></a></p>
    <div class="content">
      <div id="new_medium" class="row">
        <div class="row">
          <div class="large-3 columns">
            <%= label :medium, :name, t('activerecord.attributes.medium.name'), class: 'inline right' %>
          </div>
          <div class="large-6 columns end">
            <%= text_field :medium, :name %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <%= label :medium, :date, t('activerecord.attributes.medium.date'), class: 'right inline' %>
          </div>
          <div class="large-6 columns end">
            <div class="row collapse">
              <div class="large-3 columns">
                <%= datepicker_field :medium, :date,
                { trigger: '#medium-date-trigger', shownOn: 'never', constrainInput: true },
                { value: date_with_format(Date.today)}
                %>
              </div>
              <div class="large-1 columns">
                <a href="#" class="button postfix" id="medium-date-trigger"><i class="fi-calendar"></i></a>
              </div>
              <div class="large-1 columns end">
                <%= help t('articles.date_help') %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <%= label :medium, :content, t('activerecord.attributes.medium.content'), class: 'right inline' %>
          </div>
          <div class="large-6 columns">
            <%= text_area :medium, :content %>
          </div>
          <div class="large-1 columns end">
            <%= help t('articles.content_help') %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 large-offset-7 columns">
            <a id="create_embedded_button" class="right add_nested_fields button small radius success" data-association="article_media"
              data-blueprint-id="article_media_fields_blueprint"
              data-target=".selected-media-pane"
              data-medium-url="<%= media_path %>"
            href="javascript:void(0)"><%= t('media.new.embedded_medium.title') %></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="success_alert" class="initially-hidden"><%= t('media.new.messages.success') %></div>
        <div id="error_alert_embedded"></div>
      </div>
    </div>
  </section>
  <% end %>
</div>