<div class="row">
  <div class="large-9 columns article-title">
    <%= render_value(medium.name, t('media.messages.description_none')) %>
  </div>
  <div class="large-1 columns end">
    <i class="fi-paperclip"></i>
  </div>
</div>