<div class="row">
  <div class="large-12 columns">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
</div>

<fieldset id="versions">
  <legend><%= t('media.versions.legend') %></legend>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label t('media.versions.xsmall') %>
      <%= f.text_field :xsmall_version %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label t('media.versions.small') %>
      <%= f.text_field :small_version %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">  
      <%= f.label t('media.versions.medium') %>
      <%= f.text_field :medium_version %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label  t('media.versions.big') %>
      <%= f.text_field :big_version %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label  t('media.versions.xbig') %>
      <%= f.text_field :xbig_version %>
    </div>
  </div>
</fieldset>