<ul class="small-block-grid-1">
  <li>
    <%= t("media.versions.xsmall") %>:
    (<%= medium.xsmall_version %>)
    <div>
      <a class="th radius" href="<%= medium.file_url(:xsmall).to_s %>">
        <%= image_tag(medium.file_url(:xsmall).to_s) %>
      </a>
    </div>
  </li>
  <li>
    <%= t("media.versions.small") %>:
    (<%= medium.small_version %>)
    <div>
      <a class="th radius" href="<%= medium.file_url(:small).to_s %>">
        <%= image_tag(medium.file_url(:small).to_s) %>
      </a>
    </div>
  </li>
  <li>
    <%= t("media.versions.medium") %>
    (<%= medium.medium_version %>)
    <div>
      <a class="th radius" href="<%= medium.file_url(:medium).to_s %>">
        <%= image_tag(medium.file_url(:medium).to_s) %>
      </a>
    </div>
  </li>
  <li>
    <%= t("media.versions.big") %>
    (<%= medium.big_version %>)
    <div>
      <a class="th radius" href="<%= medium.file_url(:big).to_s %>">
        <%= image_tag(medium.file_url(:big).to_s) %>
      </a>
    </div>
  </li>
  <li>
    <%= t("media.versions.xbig") %>
    (<%= medium.xbig_version %>)
    <div>
      <a class="th radius" href="<%= medium.file_url(:xbig).to_s %>">
        <%= image_tag(medium.file_url(:xbig).to_s) %>
      </a>
    </div>
  </li>
  <li>
    <%= t('media.versions.original') %>
    <div>
      <a class="th radius" href="<%= medium.file_url.to_s %>">
        <%= image_tag(medium.file_url.to_s) %>
      </a>
    </div>
   </li>
</ul>
