<div class="row">
  <div class="large-9 columns article-title">
    <%= render_value(medium.name, t('media.messages.description_none')) %>
  </div>
  <div class="large-1 columns end">
    <%= image_tag(medium.default_url_for_preview, class: "th radius select2-medium-image-result") %>
  </div>
</div>