.other_sites
{
  color: #D7D7D7;
  font-weight: bold;
  text-align: center;

  a {
			   font-size:70.8%; 
			   color:#bbbaba;
         float:left;
			   text-decoration: none;
         padding:10px 12px;
			   }
			   
  a:hover {
			   color:#fff;
			   }
}
