<% if article.main_image %>
  <span class="right">
    <i class="fi-photo"></i>
  </span>
<% end %>

<div class="n-a text-small context-info">
  <span class="edition">
    <%= article.edition %>
  </span>
  &middot;
  <span class="section">
    <%= article.section %>
  </span>
</div>

<div class="article-title">
  <%= article.title %>
</div>
