<li class="emptyness-item">
  <%= t 'representations.cover.editor.settings.articles.no_results' %>
</li>
<% @articles.each do |article| %>
  <%= render partial: @partial, object: article, as: :article, locals: {article_configuration: nil } %>
<% end %>