<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') }} %>>
  <%= form_tag '', :class => 'filters-form', :method => :get do %>
    <div class="field-container">
      <div class="row panel radius">
        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :body, t('articles.filter.exact_search') %>
            <div class="row collapse">
              <div class="large-11 columns">
                <%= text_field :filter, :body, placeholder: t('articles.filter.body') %>
              </div>
              <div class="large-1 columns end">
                <%= help t('articles.filter.help.body') %>
              </div>
            </div>
          </div>
          <div class="large-4 columns">
            <%= label :filter, :tag, t('articles.filter.tag') %>
            <%= ajax_select2_field :filter, :tag, search_tags_path, {}, { placeholder: t('tags.all'), allowClear: true } %>
          </div>
          <div class="large-4 columns">
            <%= label :filter, :section_id, t('articles.filter.section') %>
            <%= collection_select2_select :filter, :section_id, Section.workspace_of(current_user).includes(:supplement).where(nil), :id, :to_s, {}, {}, { placeholder: t('sections.all') } %>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :name, t('editions.date_edition') %>
            <div class="row collapse">
              <div class="large-4 columns">
                <%= datepicker_field :filter, :edition_date_from, { trigger: '#article-date-trigger-date_from', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.from') } %>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-date_from">
                  <i class="fi-calendar"></i>
                </a>
              </div>
              <div class="large-4 columns">
                <%= datepicker_field :filter, :edition_date_to, { trigger: '#article-date-trigger-date_to', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.to') } %>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-date_to">
                  <i class="fi-calendar"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <%= label :filter, :name, t('articles.filter.last_updated') %>
            <div class="row collapse">
              <div class="large-4 columns">
                <%= datepicker_field :filter, :last_updated_from, { trigger: '#article-date-trigger-last_updated_from', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.from') } %>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-last_updated_from">
                  <i class="fi-calendar"></i>
                </a>
              </div>

              <div class="large-4 columns">
                <%= datepicker_field :filter, :last_updated_to, { trigger: '#article-date-trigger-last_updated_to', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.to') } %>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-last_updated_to">
                  <i class="fi-calendar"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <%= label :filter, :name, t('articles.filter.time_publish') %>
            <div class="row collapse">
              <div class="large-4 columns">
                <%= timepicker_field :filter, :created_time_from, {timeFormat: 'HH:mm', trigger: '#article-date-trigger-created_time_from', shownOn: 'never', constrainInput: true } , { placeholder: t('activerecord.actions.shared.from') }%>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-created_time_from">
                  <i class="fi-clock"></i>
                </a>
              </div>
              <div class="large-4 columns">
                <%= timepicker_field :filter, :created_time_to, {timeFormat: 'HH:mm', trigger: '#article-date-trigger-created_time_to', shownOn: 'never', constrainInput: true } , { placeholder: t('activerecord.actions.shared.to') }%>
              </div>
              <div class="large-2 columns">
                <a href="#" class="button postfix" id="article-date-trigger-created_time_to">
                  <i class="fi-clock"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="large-4 columns">
            <%= label :filter, :edition_id, t('articles.filter.edition') %>
            <%= collection_select2_select :filter, :edition_id, Edition.all, :id, :to_s, {}, {}, { placeholder: t('editions.all') } %>
          </div>
        </div>

        <ul class="form-actions">
          <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
          <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
        </ul>

      </div>
    </div>

  <% end %>
</div>
