<% if !@article.new_record? %>
<div class="row">
  <div class="large-12 columns">
    <a class="button radius secondary small right" id="mange-media" href="#" data-reveal-id="media-modal">
      <%= t('articles.media.manage') %>
    </a>
  </div>
</div>
<% end %>

<div class="form-container">
  <%= nested_form_for @article, url: url do |f| %>
    <%= render partial: 'media/modal/media_modal', locals: { f: f } %>
    <% wysiwyg_config = escape_configuration wysiwyg: {} %>

    <%= render_form_errors @article %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :slug %>
          <% if @article.new_record? %>
            <em class="hint"><%= t('articles.new.slug_pendant') %></em>
          <% else %>
            <%= f.text_field :slug, class: 'large-12', disabled: true %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :heading %>
          <%= f.text_area :heading, :class => 'large-11' %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :title %>
          <%= f.text_area :title, :class => 'large-11' %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :lead %>
          <%= f.text_area :lead, :class => 'large-11' %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= render partial: 'shared/yavu_wysiwyg_editor', locals: { f: f, field: :body } %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :signature %>
          <%= f.text_area :signature, class: 'large-11' %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :tags %>
          <%= tagging_select :article, :serialized_tags, search_tags_path, :visible, { }, { multiple: true }  %>
          <div class="hint">
            <%= t('activerecord.attributes.article.tags_hint') %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <%= f.label :time %>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= timepicker_field :article, :time, {timeFormat: 'HH:mm', trigger: '#articles-time-trigger', shownOn: 'never'}, {value: (time_with_format @article.time) || Time.now.to_formatted_s(:time)} %>
            </div>
            <div class="large-1 columns">
              <a href="#" class="postfix button" id="articles-time-trigger"><i class="fi-clock"></i></a>
            </div>
            <div class="large-1 columns end">
              <%= help t('articles.time_help') %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :section %>
          <%= collection_select2_select :article, :section_id, Section.workspace_of(current_user).includes(:supplement).where(nil), :id, :to_s, prompt: true %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :edition %>
          <%= ajax_select2_field :article, :edition_id, search_editions_path, {}, { prompt: true } %>
          <div class="hint">
            <%= t('activerecord.attributes.article.edition_hint') %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :related %>
          <%= ajax_select2_field :article, :serialized_related, search_articles_path(id: @article.id), {escape_markup: false}, { prompt: true, multiple: true } %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :is_visible do %>
            <%= f.check_box :is_visible %>
            <%= t('activerecord.attributes.article.is_visible') %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :hide_from_cover do %>
            <%= f.check_box :hide_from_cover %>
            <%= t('activerecord.attributes.article.hide_from_cover') %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
        </div>
      </div>

      <fieldset>
        <legend> <%= t 'articles.show.statistics' %> </legend>
        <div class="row">
          <div class="large-6 columns">
            <div class="row">
              <div class="large-6 columns">
                <%= f.label :initial_likes do %>
                  <%= f.number_field :initial_likes %>
                  <%= t('activerecord.attributes.article.initial_likes') %>
                <% end %>
              </div>
              <div class="large-6 columns">
                <%= f.label :initial_dislikes do %>
                  <%= f.number_field :initial_dislikes %>
                  <%= t('activerecord.attributes.article.initial_dislikes') %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row">
            <div class="large-offset-6 columns large-6" >
            <%= f.label :initial_visits do %>
              <%= f.number_field :initial_visits %>
              <%= t('activerecord.attributes.article.initial_visits') %>
            <% end %>
          </div>
            </div>
          </div>
        </div>
      </fieldset>

    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>

<%= yield :yavu_media_wysiwyg %>
