<h1><%= title t('articles.copy.title') %></h1>

<%= render_flashes %>

<%= render 'form', url: create_copy_articles_path %>

<div class="actions">
  <%= link_to t('activerecord.actions.shared.back'), articles_path, class: 'button secondary radius' %>
</div>
