<h1><%= title t('articles.edit.title') %></h1>

<%= render_flashes %>

<div
  <%= plugins uniqueaccess: {
    url: announcements_url,
    channel: channel_path(@article, namespace: '/uniqueaccess'),
    user: current_user.username,
    legend: t('articles.edit.unique_access.legend'),
    changedText: t('articles.edit.unique_access.made_changes'),
    savedText: t('articles.edit.unique_access.saved'),
    destroyedText: t('articles.edit.unique_access.destroyed')
  } %>
>
  <%= render 'form', url: article_path(@article) %>
</div>

<%= render_context_actions :article, left: { back: { url: articles_path } } %>
