<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('articles.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(articles_path, :containing) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'articles/filter' %>

<%= render_flashes %>

<%= render_context_actions(:article, right: { new: { url: new_article_path } }, target: Article) %>

<%= render_filter_labels(:articles) %>

<p><%= kaminari_info @articles %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-2">
      <%= render partial: 'shared/sort_field_link', locals: {list_name: 'articles', field: 'title', label: t('activerecord.models.article').capitalize} %>
    </th>
    <th colspan="2" class="large-2">
      <%= render partial: 'shared/sort_field_link', locals: {list_name: 'articles', field: 'section', label: t('activerecord.attributes.article.section')} %>
    </th>
    <th colspan="2" class="large-2">
      <%= render partial: 'shared/sort_field_link', locals: {list_name: 'articles', field: 'time', label: t('activerecord.attributes.article.updated_at')} %>
    </th>
  </tr>
  </thead>

  <tbody>
  <%- @articles.each do |article| %>
    <tr>
      <td colspan="7">
        <%= render_dropdown_actions article, :article,
                                    show: { url: article_path(article) },
                                    edit: { url: edit_article_path(article) },
                                    clone: { url: copy_article_path(article) },
                                    destroy: { url: article_path(article) } %>
        <div class="title">
          <%= raw article.title.truncate(90, escape: false) %>
        </div>
        <div class="subtitle"><%= raw article.lead %></div>
        <div class="additional-information">
          <div class="large-5 columns">
            <div>
              <strong><%= t('activerecord.attributes.article.section') %>:</strong>
              <%= raw article.section %>
              <%= link_to section_path(article.section) do %>
                <i class="fi-magnifying-glass"></i>
              <% end %>
              <%= link_to articles_section_path(article.section) do %>
                <i class="fi-filter"></i>
              <% end %>
            </div>
            <div>
              <strong><%= t('activerecord.attributes.article.edition') %>:</strong>
              <% if article.edition %>
                <%= article.edition %>
                <%= link_to edition_path(article.edition) do %>
                  <i class="fi-magnifying-glass"></i>
                <% end %>
                <%= link_to articles_edition_path(article.edition) do %>
                  <i class="fi-filter"></i>
                <% end %>
              <% else %>
                &mdash;
              <% end %>

            </div>
            <%= render partial: 'categories_preview', locals: {article: article, tags_limit: 15} %>
          </div>
          <div class="large-5 columns end">
            <div>
              <strong><%= t('activerecord.attributes.article.updated_at') %>:</strong>
              <%= "#{date_with_format article.time, :long}, #{time_with_format article.time}" %>
            </div>
            <div>
              <strong><%= t('activerecord.attributes.article.media') %>:</strong>
              <%= article.article_media.count %>
              <%= link_to media_article_path(article) do %>
                <i class="fi-filter"></i>
              <% end %>
            </div>
            <div>
              <strong><%= t('activerecord.attributes.article.calculated_is_visible') %>:</strong>
              <%= render_boolean article.visible? %>
            </div>
          </div>
          <div class="large-2 columns">
            <% if article.main_image %>
              <div class="th radius right">
                <%= image_tag(article.main_image.medium.file_url(:small).to_s) %>
              </div>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @articles %>
  </div>
</div>
