<h1><%= title raw @article %></h1>

<%= render_flashes %>

<div class="show-field-container panel">
  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.slug' %></div>
    <div class="large-9 columns"><%= render_value raw @article.slug %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.heading' %></div>
    <div class="large-9 columns"><%= render_value raw @article.heading %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.title' %></div>
    <div class="large-9 columns"><%= render_value raw @article.title %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.lead' %></div>
    <div class="large-9 columns"><%= render_value raw @article.lead %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.body' %></div>
    <div class="large-9 columns"><%= render_value raw InternalArticleBodyHelpers.backerize_internal_tags(@article) %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.signature' %></div>
    <div class="large-9 columns"><%= render_value raw @article.signature %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.datetime' %></div>
    <div class="large-9 columns">
      <%= t('articles.show.date_shown', date: l(@article.date, format: :long)) + '.' %>
      <%= t('articles.show.time_shown', time: @article.time.to_s(:time)) %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.tags' %></div>
    <div class="large-9 columns"><%= render_value @article.related_tags.root.join(', ') %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.section' %></div>
    <div class="large-9 columns"><%= render_value @article.section %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.edition' %></div>
    <div class="large-9 columns"><%= render_value @article.edition %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.related' %></div>
    <div class="large-9 columns"><%= raw render_value @article.related.join(', ') %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.calculated_is_visible' %></div>
    <div class="large-9 columns"><%= render_boolean @article.visible? %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.is_visible' %></div>
    <div class="large-9 columns"><%= render_boolean @article.is_visible %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.hide_from_cover' %></div>
    <div class="large-9 columns"><%= render_boolean @article.hide_from_cover %></div>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @article.extra_attribute_model} %>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {fieldset_title: t('activerecord.attributes.article.calculated_extra_attribute_model'),extra_attribute_model: @article.calculated_extra_attribute_model} %>
  </div>
</div>

<div class="show-field-container panel">
  <h2><%= t 'articles.show.media' %></h2>
  <% @article.article_media.group_by(&:type).each do |type, media| %>
    <div class="row">
       <div class="large-12 columns">
        <h3><%= t "media.types.#{type}" %></h3>
        <ul class="large-block-grid-6">
          <% media.each do |article_medium| %>
            <li>
              <%= preview_medium article_medium.medium, controller: 'articles' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <%end %>
</div>

<div class="show-field-container panel">
  <h2><%= t 'articles.show.statistics' %></h2>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.article.visits' %></div>
    <div class="large-9 columns"><%= @article.visits %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.initial_visits' %></div>
    <div class="large-9 columns"><%= render_value @article.initial_visits %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.initial_likes' %></div>
    <div class="large-9 columns"><%= render_value @article.initial_likes %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.article.initial_dislikes' %></div>
    <div class="large-9 columns"><%= render_value @article.initial_dislikes %></div>
  </div>
</div>

<%= render partial: 'paper_trail/versions/versions', locals: {versions: @article.versions} %>

<%= render_context_actions :article, left: { back: {url: articles_path} },
                                     right: { clone: {url: copy_article_path(@article), class: 'warning'},
                                              edit:  {url: edit_article_path(@article)},
                                              destroy: {url: article_path(@article)} },
                                     target: @article %>
