<%= form_for(@extra_attribute) do |f| %>
  <div class="form-container">

    <%= render_form_errors @extra_attribute  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :attribute_type %>
          <%= f.select :attribute_type, ExtraAttribute.attribute_type.options, {}, data: {plugins: escape_configuration('select2' => {})}, class: 'item-editable' %>
        </div>
        <p class="field">
          <fieldset>
            <legend><%= t 'activerecord.attributes.extra_attribute.model_classes' %></legend>
            <%= f.fields_for :model_classes do |mcf| %>
              <% @extra_attribute.model_classes.each do |mc, v| %>
                <div class="row">
                  <div class="large-1 columns"><%= mcf.label t("activerecord.models.#{mc}") %></div>
                  <div class="large-6 columns"><%= mcf.check_box mc, checked: (v == '1' ? 'checked' : '') %></div>
                </div>
              <% end %>
            <% end %>
          </fieldset>
        </p>
    </div>
  </div>

  <ul class="form-actions">
    <li class="right"><%= f.submit t('extra_attributes.form.submit'), class: "action button radius success" %></li>
  </ul>

<% end %>
