<h1><%= title t('extra_attributes.edit.title') %></h1>

<%= render 'form' %>

<%= render_context_actions :extra_attributes, 
  left: {
    back: { url: extra_attributes_path },
    show: { url: @extra_attribute }
  } %>
