<div class="row crud-header">
  <ul class="breadcrumbs">
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('extra_attributes.list.title') %>
  </h1>

</div>

<%= render_flashes %>

<%= render_context_actions :extra_attributes, right: { new: { url: new_extra_attribute_path } }, target: ExtraAttribute %>

<p><%= kaminari_info @extra_attributes %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-2">
      <%= t('activerecord.attributes.extra_attribute.name').capitalize  %>
    </th>
    <th class="large-3">
      <%= t('activerecord.attributes.extra_attribute.description').capitalize  %>
    </th>
    <th class="large-1">
      <%= t('activerecord.attributes.extra_attribute.attribute_type').capitalize  %>
    </th>
    <th class="large-4">
      <%= t('activerecord.attributes.extra_attribute.model_classes').capitalize  %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
 <tbody>
  <% @extra_attributes.each do |extra_attribute| %>
    <tr>
      <td>
        <%= extra_attribute.name %>
      </td>
      <td>
        <%= extra_attribute.description %>
      </td>
      <td>
        <%= extra_attribute.attribute_type %>
      </td>
      <td>
        <%= extra_attribute.serialized_model_classes %>
      </td>
      <td>
        <%= render_dropdown_actions extra_attribute, :extra_attributes,
          {
            edit:     { url: edit_extra_attribute_path(extra_attribute) },
            destroy:  { url: extra_attribute_path(extra_attribute) }
          }
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @extra_attributes %>
  </div>
</div>
