<div class="crud-inner-header">
  <h1><%= title t('extra_attributes.new.title') %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :extra_attributes, left: { back: { url: extra_attributes_path } } %>
