<p id="notice"><%= notice %></p>

<p>
  <strong>Extraattribute:</strong>
  <%= @extra_attribute.ExtraAttribute %>
</p>

<%= link_to 'Edit', edit_extra_attribute_path(@extra_attribute) %> |
<%= link_to 'Back', extra_attributes_path %>
