<%= render_dropdown_actions(newsletter, :newsletter,
  {
    show:     { url: client_application_newsletter_path(@client_application, newsletter) },
    edit:     { url: edit_client_application_newsletter_path(@client_application, newsletter) },
    disable:  { url: disable_client_application_newsletter_path(@client_application, newsletter), method: :post, condition: newsletter.enabled? },
    enable:   { url: enable_client_application_newsletter_path(@client_application, newsletter), method: :post, condition: !newsletter.enabled? },
    sendmail: { url: sendmail_client_application_newsletter_path(@client_application, newsletter) },
    destroy:  { url: client_application_newsletter_path(@client_application, newsletter) }
  }
) %>
