<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') } } %>>
  <%= form_tag client_applications_path, :class => 'filters-form', method: :get do %>
    <div class="field-container">
      <div class="row panel radius">
        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :enabled, t('client_applications.filter.enabled') %>
            <%= i18n_select :filter, :enabled, [:enabled, :disabled, :whatever], i18n_key: 'helpers.common.values', include_blank: true, class: 'six' %>
          </div>
        </div>

        <ul class="form-actions">
          <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
          <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
