<%= form_for [ @client_application, @newsletter ] do |f| %>
  <%= render_form_errors @newsletter %>
  <div class="field-container panel">
    <div class="form-item" data-item-hidden="<%= @newsletter.id %>">
      <div class="row">
        <div class="large-6 columns">
          <%= f.label t('activerecord.attributes.newsletter.name') %>
          <%= f.text_field :name, data: @newsletter.name %>
        </div>
        <div class="large-2 large-offset-2 columns">
          <%= f.label t('activerecord.attributes.newsletter.frequency') %>
          <%= f.text_field :frequency, data: @newsletter.frequency %>
        </div>
        <div class="large-2 columns">
          <%= f.label t('activerecord.attributes.newsletter.expiration') %>
          <%= f.number_field :expiration, data: @newsletter.expiration %>
        </div>
        <div class="large-12 columns">
          <%= f.label :enabled do -%>
            <%= f.check_box :enabled %>
            <%= t('activerecord.attributes.newsletter.enabled') %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.newsletter.subject') %>
          <%= f.text_field :subject, data: @newsletter.subject %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="section-container auto" data-section>
            <section class="active">
              <p class="title" data-section-title><a><%= f.label t('activerecord.attributes.newsletter.generator') %></a></p>
              <div class="content" data-section-content>
                <p><%= f.text_area :generator, data: { plugins: escape_configuration('codemirror' => { mode: "text/html" }) }, id: "codemirror_#{@newsletter.id}", class: 'codemirror' %>
                </p>
              </div>
            </section>
            <section>
              <p class="title" data-section-title><a><%= f.label t('activerecord.attributes.newsletter.context') %></a></p>
              <div class="content" data-section-content>
                <p><%= f.text_area :context, data: { plugins: escape_configuration('codemirror' => { mode: "ruby" }) }, id: "codemirror_#{@newsletter.id}", class: 'codemirror' %>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul class="form-actions right">
    <li><%= f.submit t('newsletters.form.submit'),class: 'action button radius success' %></li>
  </ul>
<% end %>
