<h1><%= title t('newsletters.edit.title', newsletter: @newsletter.name) %></h1>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions(:newsletter, left: {
  back: { url: client_application_newsletters_path(@client_application) },
  show: { url: client_application_newsletter_path(@client_application, @newsletter) }
}) %>
