<div class="row crud-header">
  <h1 class="large-6 columns">
    <%= title t('newsletters.list.title') %>
  </h1>

  <div class="large-6 columns quick-filter-container">
    <%#= render_simple_filter(client_application_newsletters_path, :query) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render_flashes %>

<%= render_context_actions(:newsletter, { right: { new:  { url: new_client_application_newsletter_path } } }) %>

<%#= render_filter_labels(:newsletters) %>

<p><%= kaminari_info @newsletters %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-6"><%= t('activerecord.attributes.newsletter.name') %></th>
    <th class="large-2"><%= t('activerecord.attributes.newsletter.enabled') %></th>
    <th class="large-4"><%= t('activerecord.attributes.newsletter.frequency') %></th>
    <th class="large-2"><%= t('activerecord.attributes.newsletter.expiration') %></th>
    <th class="large-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @newsletters.each do |newsletter| %>
    <tr>
      <td><%= newsletter.name %></td>
      <td class="text-center"><%= render_boolean newsletter.enabled %></td>
      <td><%= newsletter.frequency %></td>
      <td><%= newsletter.expiration %></td>
      <td>
        <%= render partial: 'actions_dropdown', locals: { newsletter: newsletter } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @newsletters %>
  </div>
</div>
