<h1><%= title t('newsletters.new.title') %></h1>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions(:newsletter, left: { back: { url: client_application_newsletters_path } } ) %>
