<div class="crud-inner-header">
  <h1><%= title t('newsletters.show.title', newsletter: @newsletter.name) %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.newsletter.name' %></div>
    <div class="large-10 columns"><%= @newsletter.name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.newsletter.enabled' %></div>
    <div class="large-10 columns">
      <strong>
        <%= render_boolean(@newsletter.enabled?) %>
      </strong>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.newsletter.frequency' %></div>
    <div class="large-10 columns"><pre><%= @newsletter.frequency %></pre></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.newsletter.expiration' %></div>
    <div class="large-10 columns"><pre><%= @newsletter.expiration %></pre></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="section-container auto" data-section>
        <section class="active">
          <p class="title" data-section-title><a><%= t 'activerecord.attributes.newsletter.generator' %></a></p>
          <div class="content" data-section-content>
            <p><%= CodeRay.scan(@newsletter.generator, :erb).div(:line_numbers => :table).html_safe %></p>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a><%= t 'activerecord.attributes.newsletter.context' %></a></p>
          <div class="content" data-section-content>
            <p><%= CodeRay.scan(@newsletter.context, :ruby).div(:line_numbers => :table).html_safe %></p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<%= render_context_actions :newsletter, left: {
    back: { url: client_application_newsletters_path(@client_application) },
    edit: { url: edit_client_application_newsletter_path(@client_application, @newsletter) }
  }
%>
