<% if field.default? %>
  <%= text_field_tag field.name, '', data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(field.model_class), dataType: :json}, allowClear: true, placeholder: field.value.presence || t("components.form.select_#{field.model_class.underscore}") }) } %>
<% else %>
  <%= text_field_tag field.name, field.value.try(:id), data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(field.model_class), dataType: :json}, allowClear: true, placeholder: t("components.form.select_#{field.model_class.underscore}") }) } %>
<% end %>
