<% if field.default? %>
  <%= text_field_tag field.name, '', data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(field.model_class), dataType: :json}, allowClear: true, placeholder: field.value, multiple: true }) } %>
<% else %>
  <%= text_field_tag field.name, field.value.map(&:id).join(','), data: { plugins: escape_configuration('select2' => {ajax: {url: autocomplete_field_options_path(field.model_class), dataType: :json}, allowClear: true, placeholder: t("components.form.select_#{field.model_class.underscore}"), multiple: true }) } %>
<% end %>