CKEDITOR.plugins.add( 'YavuMedia', {
    init: function( editor ) {
      var $wysiwygModal = $('#wysiwyg-modal-media');
      var $insertMediaInput = $wysiwygModal.find('input.media-searcher');
      var $insertMediaAction = $wysiwygModal.find('.insert-media-action');
      var $insertCaptionInput = $wysiwygModal.find('input.media-caption');
      var mediaSizeInputSelector = 'input[name=media_size]:checked';

      editor.addCommand('YavuMediaInsert',
        new CKEDITOR.command(editor, {
					exec: function(editor) {
						$wysiwygModal.foundation('reveal', 'open');

            // Remove any previous event listener on click
            $insertMediaAction.off('click');
            $insertMediaAction.on('click', function(event) {
				      $wysiwygModal.foundation('reveal', 'close');
              var mediumId  = $insertMediaInput.val();
              if (!mediumId) {
                alert('Debe seleccionar algún medio para continuar');
                return;
              }
              var mediaSize = $wysiwygModal.find(mediaSizeInputSelector).val();
              if (!mediaSize) {
                alert('Debe seleccionar algún tamaño para continuar');
                return;
              } else {
                mediaSize = 'size:' + mediaSize;
              }
              var mediaCaption = $insertCaptionInput.val();
              if (mediaCaption) {
                mediaCaption = 'caption:' + mediaCaption;
              }
              var options = mediaSize + ',' + mediaCaption;

              editor.insertHtml('{{new_medium?:' + mediumId + '|' + options + '}}');
            });
					}
				})
			);

      editor.ui.addButton( 'YavuMedia', {
        label: 'Insertar medio',
        command: 'YavuMediaInsert',
        toolbar: 'insert,0',
        icon: '<%= image_url 'yavumedia.png' %>'
      });

      CKEDITOR.dialog.add( 'YavuMediaInsert', '/assets/plugins/ckeditor/plugins/yavu_media/dialogs/yavu_media_insert.js' );
    }
});
