.Suple { 
	height:auto; 
	overflow: auto; 
  }

.Suple ul { margin:0; }

.Suple h6 {
		margin-left:10px;
		margin-bottom: 20px;
		padding-top: 10px;
		text-shadow: 0px 1px rgba(0, 0, 0, .8); 
    font-size: 200%;
    font-family: 'Oswald-Regular', arial, sans-serif;
		line-height: 1.2em;
    }

.Suple ul.col{
		display:block;
		width:190px;
		float: left;
		margin:0 30px 0 10px;
    }


  
.Suple ul.col li.Ppal 
    { 
	  list-style:none;
    }


.Suple ul.col li.Ppal h6 {
  font: normal 200% 'Oswald-Regular', arial, sans-serif;
  line-height: 1.1em;
  font-weight: bold; }


.Suple ul.col li {
font-size: 110%;
line-height: 1.8em;
list-style-type: square;
}


.Suple img 
    { 
	  width:190px; 
	  display:block; 
	  margin-bottom:10px;
    border:2px solid #fff;
    }
    
    
.Suple img.tapa 
	{ 
	width:150px; 
	}
	
.Suple img.logo 
	{ 
	width:150px; 
	border:none; 
	background:none 
	}

/* estilos particulares de cada suplemento */ 
/*turismo*/
.turismo {
	background: #f30;
	 
	li {
		font-size:80%;  
		list-style-type:square; 
    color:#fff;
	  }
	  
	a {
		text-decoration: none; 
		color:#fff;
		}
			
	a:hover {
		color:#f60;
		}

    }

/*joven*/
.joven {
	background: #000;
	
  h6 {
    color:#fff;  
  }
  
	li {
		font-size:80%;  
		list-style-type:square; 
    color:#fff;
	  }
	  
	a {
		text-decoration: none; 
		color:#fff;
		}
			
	a:hover {
		color:#333;
		}

    }

/*moda*/
.moda {
	background:#f0f;
  
    h6 {
    color:#fff;  
  	}
  
	  li {
		font-size:80%;  
		list-style-type:square; 
    color:#fff;
    margin-bottom:10px;
	  }
    
		a {
			text-decoration: none; 
			color:#fff;
			}
		a:hover {
			color:#8b008b;
			}

    }

/*gourmet*/
.gourmet {
	background:#000000;
  
     h6 {
    color:#fff;  
  }
   
	  li {
		font-size:80%;  
		list-style-type:square; 
    color:#fff;
    margin-bottom:10px;
	  }
    
		a {
			text-decoration: none; 
			color:#fff;
			}
		a:hover {
			color:#333;
			}

    }
    

/*salud*/
.salud {
	background:#0cc;
  
  
    h6 {
    color:#000;  
  }
  
	  li {
		font-size:80%;  
		list-style-type:square; 
    color:#000;
    margin-bottom:10px;
	  }
    
		a {
			text-decoration: none; 
			color:#000;
			}
		a:hover {
			color:#666;
			}

    }    