.customizer {
background: white;
font-family: Arial, sans-serif;
float: left;
position: fixed;
border-radius: 0 4px 4px 0;
border: 1px solid rgba(0, 0, 0, 0.19);
margin: 10px 0px 0px 0px;
z-index:99999;

  .drawer {
    float: left;
    padding: 11px 10px 10px 10px;
    border-radius: 0 0 4px 0;
    display: none;
    width: 180px;
    max-height: 42px;

    &.visible {
      display: block;
    }
  }

  .handle {
    float: left;
    padding: 10px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    float: left;
    display: block;
    clear: both;
    width: 90px;
  }

  .subtitle {
    font-size: 9px;
    font-weight: 200;
    float: left;
    display: block;
    clear: both;
    width: 90px;
  }

  .themes {
		margin: 0px 0px 0px 0px;

    .switch {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background: #fff;
      display: inline-block;
      margin: 0 5px 0 0;
      vertical-align: middle;

      &:hover {
        -webkit-transform: scale(1.25, 1.25);
           -moz-transform: scale(1.25, 1.25);
                transform: scale(1.25, 1.25);
      }
    }

    .switch-theme-opcion-1 {
      background: #000;
    }

    .switch-theme-opcion-2 {
      background: #336596;
    }

    .switch-theme-opcion-3 {
      background: #eb1e00;
    }

    .switch-theme-opcion-4 {
      background: #99cc33;
    }

    .switch-theme-opcion-5 {
      background: #6766ff;
    }

    .switch-theme-opcion-6 {
      background: #ff7f00;
    }

    .switch-theme-opcion-7 {
      background: #990099;
    }
  }
}
