<a href="#" class="button small dropdown secondary radius" data-dropdown="action-dropdown-<%= frontend_server.id %>">
  <%= t('activerecord.actions.shared.actions') %>
</a>
<ul class="f-dropdown" id="action-dropdown-<%= frontend_server.id %>" <%= plugins mover: {} %> data-dropdown-content>
  <li class="success has-dropdown">
    <i class="drop-icon fi-play"></i>
    <%= link_to t('activerecord.actions.frontend_server.configure_with'), nil %>
    <ul class="submenu">
      <% ClientApplication.enabled.each do |c| %>
          <li class="success"><%= link_to t(c), configure_frontend_server_path(id: frontend_server.name, client_application_id: c.id), method: :post %></li>
      <% end %>
    </ul>
  </li>

</ul>
