<div class="row crud-header">
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('frontend_servers.list.title') %>
  </h1>

</div>

<%= render_flashes %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-2"><%= t('activerecord.attributes.frontend_server.name') %></th>
    <th class="large-2"><%= t('activerecord.attributes.frontend_server.updated_at') %></th>
    <th class="large-2"><%= t('activerecord.attributes.frontend_server.client_application') %></th>
    <th class="large-2 text-center"><%= t('activerecord.attributes.frontend_server.status') %></th>
    <th class="large-6"><%= t('activerecord.attributes.frontend_server.status_message') %></th>
    <th class="large-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @servers.each do |frontend_server| %>
    <tr>
      <td><%= frontend_server.name %></td>
      <td><%= l frontend_server.updated_at %></td>
      <td><%= frontend_server.client_application %></td>
      <td class="text-center"><%= render_boolean frontend_server.healthy? %></td>
      <td><%= frontend_server.status_message %></td>
      <td>
        <%= render partial: 'actions_dropdown', locals: {frontend_server: frontend_server} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
