<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @draft, client_application_representation_path(@client_application, @draft.representation) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations.cover.title') %></h1>

  <%= render_flashes %>
</div>

<div class="editor-container cover-editor" <%= plugins 'covereditor' => {searchArticlesUrl: search_by_section_and_edition_articles_path(f: 'r')},
                                                       'uniqueaccess' => {url: announcements_url, channel: channel_path(@draft, namespace: '/uniqueaccess'), user: current_user.username,
                                                                          legend: t('representations.edit.unique_access.legend'),
                                                                          changedText: t('representations.edit.unique_access.made_changes'),
                                                                          savedText: t('representations.edit.unique_access.saved'),
                                                                          destroyedText: t('representations.edit.unique_access.destroyed')} %>
>
  <div class="show-on-load fade-in">
    <%= render partial: 'representations/cover_editor/editor' %>
  </div>

  <div class="loader show-while-loading">
    <p><%= image_tag 'indicator-large.gif' %></p>
    <p><%= t 'representations.edit.loading' %></p>
  </div>

  <%= form_for [@client_application, @draft.representation], url: update_cover_client_application_representation_path(@client_application, @draft.representation) do |f| %>
    <%= hidden_field_tag 'cover[configuration]', '', id: 'value-configuration' %>
    <%= hidden_field_tag 'cover[operation]', '', id: 'value-form-operation' %>
    <%= hidden_field_tag 'representation[lock_version]', @draft.lock_version %>

    <ul class="form-actions right show-on-load no-js-hidden fade-in">
      <li>
        <%= f.submit t('representations.actions.save_draft'), name: 'save', id: 'save-draft', class: 'action button radius' %>
      </li>
      <li>
        <%= f.submit t('representations.edit.actions.apply_draft.regular'),
                     name: 'apply',
                     id: 'apply-draft',
                     class: 'action button radius success tip-top',
                     title: t('representations.cover.notices.apply_draft'),
                     data: { regular_text: t('representations.cover.actions.apply_draft.regular'),
                             submission_text: t('representations.cover.actions.apply_draft.processing'),
                             success_text: t('representations.cover.actions.apply_draft.success'),
                             error_text: t('representations.cover.actions.apply_draft.error'),
                             tooltip: true } %>
      </li>
    </ul>
  <% end %>
</div>

<%= render_context_actions :covers, left: { back: { url: covers_path } } %>
