<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('covers.list.title') %>
  </h1>

  <div class="large-6 columns quick-filter-container">
    <%= render_simple_filter(covers_path, :name) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>
</div>

<%= render 'covers/filter' %>

<%= render_flashes %>

<%= render_filter_labels(:covers) %>

<p><%= kaminari_info @covers %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'covers', field: 'name', label: t('activerecord.attributes.representation.name') } %>
      </th>
      <th class="large-5">
        <%= t('activerecord.attributes.representation.client_application') %>
      </th>
      <th class="large-5">
        <%= t('representations.list.routes') %>
      </th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @covers) do |cover| %>
      <td><%= raw cover.name %></td>
      <td><%= render_value cover.client_application %></td>
      <td><%= render_value render_collection cover.routes %></td>
      <td>
        <%= render_dropdown_actions(cover, :cover,
          {
            edit:     {url: cover_client_application_representation_path(cover.client_application, cover)},
            draft_preview_and_publish:
            {
              url: preview_client_application_representation_path(cover.client_application, cover, gbt: covers_path),
              condition: cover.has_draft?
            },
            disabled_draft_preview_and_publish: 
            {
              disable_text: t('activerecord.actions.representation.draft_preview_and_publish'),
              condition: !cover.has_draft?,
              disabled: true
            },
            discard_draft:
            { 
              url: discard_draft_client_application_representation_path(cover.client_application, cover, gbt: covers_path), 
              method: :delete, 
              data: { confirm: t('representations.actions.confirmation.discard_draft') },
              condition: cover.has_draft?
            },
            disble_discard_draft:
            {
              disable_text: t('activerecord.actions.representation.discard_draft'),
              condition: !cover.has_draft?,
              disabled: true
            },
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>
  
  <div class="large-8 columns">
    <%= paginate @covers %>
  </div>
</div>
