<div class="r-col" data-id="<%= column.id %>">
  <div class="controls">
    <a href="#setup-column" class="setup-col action fi-wrench"
       title="<%= t 'representations.edit.column.actions.setup' %>"
    ></a>

    <a href="#move-left" class="move-col action fi-arrow-left"
       title="<%= t 'representations.edit.column.actions.move_left' %>"
       data-direction="left"
    ></a>

    <a href="#move-right" class="move-col action fi-arrow-right"
       title="<%= t 'representations.edit.column.actions.move_right' %>"
       data-direction="right"
    ></a>

    <a href="#pop-palette" class="pop-palette action fi-puzzle"
       title="<%= t 'representations.edit.column.actions.append_component' %>"
       data-reveal-id="palette"
    ></a>

    <a href="#remove-column" class="remove-col action fi-x"
       title="<%= t 'representations.edit.column.actions.remove' %>"
       data-ask="<%= t 'representations.edit.column.actions.confirmation.remove' %>"
    ></a>
  </div>

  <div class="components-container">
    <% column.component_configurations.each do |configuration| %>
      <%= render partial: 'representations/representation_editor/component_configuration', locals: { component_configuration: configuration } %>
    <% end %>
  </div>

  <!-- Setup modal -->
  <div class="reveal-modal fullscreen setup-col-modal">
    <div class="modal-title">
      <h2>
        <%= t 'representations.edit.column.setup.title' %>
        <span class="lead"><%= t 'representations.edit.column.setup.lead' %></span>
      </h2>
    </div>

    <div class="modal-content">
      <%= render partial: 'representations/representation_editor/column_form', locals: { column: column } %>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <a href="#close" class="dismiss-modal button medium success radius"><%= t 'representations.edit.column.actions.dismiss_modal' %></a>
      </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- /Setup modal -->
</div>
