<div class="form-container r-col-view">
  <div class="field-container">
    <div class="row field">
      <div class="large-12 columns">
        <%= label_tag 'column', t('representations.edit.representation_form.column_view') %>

        <div class="row">
          <div class="large-8 columns">
            <%= text_area_tag 'column', column.get_view.value, placeholder: @draft.default_column_view.value, data: { plugins: escape_configuration('codemirror' => { mode: 'application/x-erb', name: 'htmlembedded', scriptingModeSpec: 'ruby'}) } %>
          </div>

          <div class="large-4 columns hint">
            <ul class="simple">
              <li>
                <%= t('representations.edit.representation_form.keywords') %>
                <ul>
                  <li><%= t('representations.edit.representation_form.keyword.column.content', keyword: View::CONTENT_PLACEHOLDER).html_safe %></li>
                </ul>
              </li>
              <li>
                <%= t('representations.edit.representation_form.view_struct_inheritance', struct: t('representations.edit.representation_form.column')) %>
                <p><code><%= @draft.default_column_view.value %></code></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
