<div class="r-component">
  <div class="title-bar">
    <span class="component-description">
      <%= component_configuration.description %>
    </span>
    <span class="n-a">
      &middot;
      <span class="configuration-detail component-type">
        <%= component_configuration.component %>
      </span>
    </span>
  </div>

  <!-- Actions -->
  <div class="controls">
    <a href="#configuration" class="action setup-component fi-wrench"
       title="<%= t 'representations.edit.component.actions.setup' %>"
    ></a>

    <a href="#move-down" class="action move-component fi-arrow-down"
       title="<%= t 'representations.edit.component.actions.move_down' %>"
       data-direction="down"
    ></a>

    <a href="#move-up" class="action move-component fi-arrow-up"
       title="<%= t 'representations.edit.component.actions.move_up' %>"
       data-direction="up"
    ></a>

    <a href="#remove" class="action remove-component fi-x"
       data-ask="<%= t 'representations.edit.component.actions.confirmation.remove' %>"
    ></a>
  </div>

  <!-- Setup modal -->
  <div class="reveal-modal fullscreen setup-component-modal">
    <div class="modal-title">
      <h2>
        <%= t 'representations.edit.component.setup.title' %>
        <span class="lead">
          <%= t 'representations.edit.component.setup.lead' %>
        </span>
      </h2>
    </div>

    <div class="modal-content">
      <%= render partial: 'components/configuration/configuration_form', locals: { component_configuration: component_configuration } %>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <a href="#close" class="dismiss-modal button medium success radius"><%= t 'representations.edit.component.actions.dismiss_modal' %></a>
      </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- /Setup modal -->
</div>
