<!-- Visual editor -->
<div class="controls large general">
  <a href="#representation_form" id="configuration_modal" class="" data-reveal-id="representation_form">
    <%= t 'representations.edit.actions.representation_configuration' %>
    <i class="fi-wrench action"></i>
  </a>
</div>

<div class="controls large text-center">
  <a href="#prepend-row" class="add-row action fi-plus" data-action="prepend" title="<%= t 'representations.edit.actions.prepend_row' %>"></a>
</div>

<div class="row canvas">
  <% @draft.rows.each do |row| %>
    <%= render partial: 'representations/representation_editor/row', object: row, locals: { context: 'representation' } %>
  <% end %>
</div>

<div class="controls large text-center">
  <a href="#append-row" class="add-row action fi-plus" data-action="append" title="<%= t 'representations.edit.actions.append_row' %>"></a>
</div>
<!-- /Visual editor -->

<!-- Components palette -->
<%= render partial: 'representations/representation_editor/palette' %>
<!-- /Components palette -->

<!-- Representation form -->
<%= render partial: 'representations/representation_editor/representation_form', locals: { draft: @draft } %>
<!-- /Representation form -->

<!-- Templates -->
<script id="template-row" type="text/html">
  <%= render partial: 'representations/representation_editor/row', locals: { row: @row_template, draft: @draft } %>
</script>

<script id="template-column" type="text/html">
  <%= render partial: 'representations/representation_editor/column', locals: { column: @column_template, draft: @draft } %>
</script>

<script id="template-component" type="text/html">
  <%= render partial: 'representations/representation_editor/component_configuration', locals: { component_configuration: @component_configuration_template } %>
</script>
<!-- /Templates -->
