<div id="palette" class="reveal-modal fullscreen">
  <div class="modal-title">
    <h2>
      <%= t 'representations.edit.palette.title' %>
    </h2>
  </div>

  <div class="modal-content">
    <p class="lead">
      <%= t 'representations.edit.palette.lead' %>
    </p>

    <div class="panel row">
      <ul class="large-block-grid-4 small-block-grid-2">
        <% @available_components.each do |component| %>
          <% if component.enabled? %>
            <li>
              <a href="#add-component"
                 class="add-component template-component button medium success radius"
                 data-component="<%= { id: component.id, name: component.to_s }.to_json %>"
              ><%= component %></a>
            </li>
          <% else %>
            <li>
              <a href="#"
                 class="add-component template-component button medium alert radius disabled"
              ><%= component %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#close" class="dismiss-modal button medium secondary radius"><%= t 'representations.edit.palette.cancel' %></a>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
