<div class="form-container r-views-configuration">
  <div class="field-container">

    <p class="lead"><%= t 'representations.edit.representation_form.views' %></p>

    <div class="row field">
      <div class="large-12 columns">
        <%= label_tag "layout", t('representations.edit.representation_form.layout') %>
        <div class="row">
          <div class="large-8 columns">
            <%= text_area_tag "layout", draft.view.value, data: { plugins: escape_configuration('codemirror' => { mode: "application/x-erb", name: "htmlembedded", scriptingModeSpec:"ruby" }) }, id: "codemirror_1", class: 'codemirror' %>
          </div>
          <div class="large-4 columns hint">
            <ul class="simple">
              <li>
                <%= t('representations.edit.representation_form.keywords') %>
                <ul>
                  <li><%= t('representations.edit.representation_form.keyword.representation.content', keyword: View::CONTENT_PLACEHOLDER).html_safe %></li>
                  <li><%= t('representations.edit.representation_form.keyword.representation.javascripts', keyword: View::JAVASCRIPTS_PLACEHOLDER).html_safe %></li>
                  <li><%= t('representations.edit.representation_form.keyword.representation.stylesheets', keyword: View::STYLESHEETS_PLACEHOLDER).html_safe %></li>
                  <li><%= t('representations.edit.representation_form.keyword.representation.favicon', keyword: View::FAVICON_PLACEHOLDER).html_safe %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="thick" />

    <div class="row field">
      <div class="large-12 columns">
        <%= label_tag "default_row_view", t('representations.edit.representation_form.default_row_view') %>

        <div class="row">
          <div class="large-8 columns">
            <%= text_area_tag "default_row_view", draft.default_row_view.value, data: { plugins: escape_configuration('codemirror' => { mode: "application/x-erb", name: "htmlembedded", scriptingModeSpec:"ruby" }) }, id: "codemirror_3", class: 'codemirror' %>
          </div>

          <div class="large-4 columns hint">
            <ul class="simple">
              <li>
                <%= t('representations.edit.representation_form.keywords') %>
                <ul>
                  <li><%= t('representations.edit.representation_form.keyword.row.content', keyword: View::CONTENT_PLACEHOLDER).html_safe %></li>
                </ul>
              </li>
              <li><%= t('representations.edit.representation_form.default_view_struct_inheritance', struct: t('representations.edit.representation_form.row')) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="thick" />

    <div class="row field">
      <div class="large-12 columns">
        <%= label_tag "default_column_view", t('representations.edit.representation_form.default_column_view') %>

        <div class="row">
          <div class="large-8 columns">
            <%= text_area_tag "default_column_view", draft.default_column_view.value, data: { plugins: escape_configuration('codemirror' => { mode: "application/x-erb", name: "htmlembedded", scriptingModeSpec:"ruby" }) }, id: "codemirror_2", class: 'codemirror' %>
          </div>

          <div class="large-4 columns hint">
            <ul class="simple">
              <li>
                <%= t('representations.edit.representation_form.keywords') %>
                <ul>
                  <li><%= t('representations.edit.representation_form.keyword.row.content', keyword: View::CONTENT_PLACEHOLDER).html_safe %></li>
                </ul>
              </li>
              <li><%= t('representations.edit.representation_form.default_view_struct_inheritance', struct: t('representations.edit.representation_form.column')) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
