<div id="representation_form" class="reveal-modal fullscreen" data-reveal>
  <div class="modal-title">
    <h2>
      <%= t 'representations.edit.representation_form.title' %>
      <span class="lead"><%= t 'representations.edit.representation_form.lead' %></span>
    </h2>
  </div>

  <div class="modal-content">
    <%= render partial: 'representations/representation_editor/representation_form_views', locals: { draft: draft } %>
  </div>

  <div class="modal-footer">
    <div class="text-right">
      <a href="#close" class="dismiss-modal button medium success radius"><%= t 'representations.edit.component.actions.dismiss_modal' %></a>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
