<div class="r-row" data-id="<%= row.id %>">
  <div class="cols-container">
    <% row.columns.each do |column| %>
      <%= render partial: 'representations/representation_editor/column', locals: { column: column } %>
    <% end %>
  </div>

  <div class="controls vertical">
    <a href="#setup-row" class="setup-row action fi-wrench"
       title="<%= t('representations.edit.row.actions.setup') %>"
    ></a>

    <a href="#move-up" class="move-row action fi-arrow-up"
       title="<%= t('representations.edit.row.actions.move_up') %>"
       data-direction="up"
    ></a>

    <a href="#move-down" class="move-row action fi-arrow-down"
       title="<%= t('representations.edit.row.actions.move_down') %>"
       data-direction="down"
    ></a>

    <a href="#append-column" class="add-col action fi-plus"
       title="<%= t('representations.edit.row.actions.append_column') %>"
       data-action="append"
    ></a>

    <a href="#remove-row" class="remove-row action fi-x"
       title="<%= t('representations.edit.row.actions.remove') %>"
       data-ask="<%= t 'representations.edit.row.actions.confirmation.remove' %>"
    ></a>
  </div>

  <!-- Setup modal -->
  <div class="reveal-modal fullscreen setup-row-modal">
    <div class="modal-title">
      <h2>
        <%= t 'representations.edit.row.setup.title' %>
        <span class="lead"><%= t 'representations.edit.row.setup.lead' %></span>
      </h2>
    </div>

    <div class="modal-content">
      <%= render partial: 'representations/representation_editor/row_form', locals: { row: row } %>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <a href="#close" class="dismiss-modal button medium success radius"><%= t 'representations.edit.row.actions.dismiss_modal' %></a>
      </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- /Setup modal -->
</div>
