CKEDITOR.plugins.add( 'YavuArticle', {
    init: function( editor ) {
      var $wysiwygModal = $('#wysiwyg-modal-article');
      var $insertArticleInput = $wysiwygModal.find('input.article-searcher');
      var $insertCaptionInput = $wysiwygModal.find('input.article-caption');
      var $insertArticleAction = $wysiwygModal.find('.insert-article-action');

      editor.addCommand('YavuArticleInsert',
        new CKEDITOR.command(editor, {
					exec: function(editor) {
						$wysiwygModal.foundation('reveal', 'open');

            // Remove any previous event listener on click
            $insertArticleAction.off('click');
            $insertArticleAction.on('click', function(event) {
				      $wysiwygModal.foundation('reveal', 'close');
              var articleId  = $insertArticleInput.val();
              if (!articleId) {
                alert('Debe seleccionar algún artículo para continuar');
                return;
              }
              var articleCaption  = $insertCaptionInput.val();

              editor.insertHtml('{{new_article?:' + articleId + '|' + articleCaption + '}}');
            });
					}
				})
			);

      editor.ui.addButton( 'YavuArticle', {
        label: 'Insertar enlace a artículo',
        command: 'YavuArticleInsert',
        toolbar: 'insert,0',
        icon: '<%= image_url 'yavuarticle.png' %>'
      });

      CKEDITOR.dialog.add( 'YavuArticleInsert', '/assets/plugins/ckeditor/plugins/yavu_media/dialogs/yavu_article_insert.js' );
    }
});
