<div class="row">
  <div class="large-4 columns">
    <%= form.label extra_attribute.name,  extra_attribute.description || extra_attribute.name %>
  </div>
  <div class="large-8 columns">
    <% if extra_attribute.attribute_type.boolean? %>
      <%= form.check_box extra_attribute.name %>
    <% elsif extra_attribute.attribute_type.color? %>
      <div class="color-picker">
        <%= form.color_field extra_attribute.name %>
        <%= button_tag "Quitar color", class: "reset-color tiny radius alert" %>
        <%= form.hidden_field extra_attribute.name %>
      </div>
    <% elsif extra_attribute.attribute_type.date? %>
      <div class="row collapse">
        <div class="large-3 columns">
          <%= datepicker_field form.object_name, extra_attribute.name, { trigger: "##{extra_attribute.name}-trigger", shownOn: 'never', constrainInput: true }, { value: date_with_format(form.object.public_send(extra_attribute.name)) } %>
        </div>
        <div class="large-1 columns end">
          <a href="#" class="postfix button" id="<%= extra_attribute.name %>-trigger"><i class="fi-calendar"></i></a>
        </div>
      </div>
    <% elsif extra_attribute.attribute_type.time? %>
      <div class="row collapse">
        <div class="large-2 columns">
          <%= timepicker_field form.object_name, extra_attribute.name, {timeFormat: 'HH:mm', trigger: "##{extra_attribute.name}-trigger", shownOn: 'never'}, { value: time_with_format(form.object.public_send(extra_attribute.name)) } %>
        </div>
        <div class="large-1 columns">
          <a href="#" class="postfix button" id="<%= extra_attribute.name %>-trigger"><i class="fi-clock"></i></a>
        </div>
        <div class="large-1 columns end">
        </div>
      </div>
    <% else %>
      <%= form.text_field extra_attribute.name %>
    <% end %>
  </div>
</div>
