<fieldset>
  <legend><%= ExtraAttributeModel.model_name.human %></legend>
  <div>
    <%= form.fields_for :extra_attribute_model do |f| %>
        <%= render partial: 'extra_attribute_models/extra_attribute_field',
                   collection: ExtraAttribute.for(form.object.class),
                   as: :extra_attribute, locals: {form: f}
        %>
    <% end %>
  </div>
</fieldset>
