<div class="row">
<div class="large-3 columns label-element">
<%= extra_attribute.description.blank? ? extra_attribute.name : extra_attribute.description %>
</div>
<div class="large-9 columns">
<% if extra_attribute.attribute_type %>
  <% if extra_attribute.attribute_type.boolean? %>
    <%= render_boolean extra_attribute_model.send extra_attribute.name %>
  <% elsif extra_attribute.attribute_type.color? %>
    <%= render_color extra_attribute_model.send extra_attribute.name %>
  <% else %>
    <%= extra_attribute_model.send extra_attribute.name %>
  <% end %>
<% end %>
</div>
</div>
