<fieldset>
  <legend><%= defined?(fieldset_title) ? fieldset_title : ExtraAttributeModel.model_name.human %></legend>
  <% if extra_attribute_model %>
  <%= render partial: 'extra_attribute_models/show_extra_attribute_field', collection: extra_attribute_model.allowed_extra_attributes, as: :extra_attribute, locals: {extra_attribute_model: extra_attribute_model } %>
  <% end %>
</fieldset>
