<div class="form-container" <%= plugins 'usersform' => {} %>>
  <%= form_for(@user) do |f| %>
    <%= render_form_errors @user %>
    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="row">
        <fieldset>
          <legend> <%= t('activerecord.attributes.user.password') %> </legend>
          <p class="hint">
            <%= t('users.help.password') %>
          </p>
          <div class="row">
            <%= f.label :new_password %>
            <%= f.password_field :new_password %>
          </div>
          <div class="row">
            <%= f.label :new_password_confirmation %>
            <%= f.password_field :new_password_confirmation %>
          </div>
        </fieldset>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :roles %>
          <%= collection_select2_select :user, :role_ids, Role.enabled, :id, :to_s, {}, { multiple: true } %>
        </div>
      </div>

      <div class="row">
        <fieldset>
          <legend> <%= t('users.workspaces') %> </legend>
          <p class="hint">
            <%= t('users.help.workspaces') %>
          </p>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :client_applications %>
              <%= f.label :all_client_applications do -%>
                <%= f.check_box :all_client_applications %>
                <%= t 'activerecord.attributes.user.enable_all_client_applications' %>
              <% end -%>
              <%= collection_select2_select :user, :client_application_ids, ClientApplication.all, :id, :to_s, {}, { multiple: true } %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :sections %>
              <%= f.label :all_sections do -%>
                <%= f.check_box :all_sections %>
                <%= t 'activerecord.attributes.user.enable_all_sections' %>
              <% end -%>
              <%= collection_select2_select :user, :section_ids, Section.all, :id, :to_s, {}, { multiple: true } %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :representations %>
              <%= f.label :all_representations do -%>
                <%= f.check_box :all_representations %>
                <%= t 'activerecord.attributes.user.enable_all_representations' %>
              <% end -%>
              <%= collection_select2_select :user, :representation_ids, Representation.all_covers, :id, :to_s, {}, { multiple: true } %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
