<div class="form-container">
  <%= form_for(@user, url: profile_path, method: :patch) do |f| %>
    <%= render_form_errors @user %>
    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>

      <fieldset>
        <legend> <%= t('activerecord.attributes.user.password') %> </legend>
        <p class="hint">
          <%= t('users.help.password') %>
        </p>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :current_password %>
            <%= f.password_field :current_password %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :new_password %>
            <%= f.password_field :new_password %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :new_password_confirmation %>
            <%= f.password_field :new_password_confirmation %>
          </div>
        </div>
      </fieldset>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
