<div class="large-4 columns">
  <p><%= t 'client_applications.label.plural' %></p>

  <%- if @user.all_client_applications? %>
    <p><strong><%= t 'activerecord.attributes.user.all_client_applications' %></strong></p>
  <% elsif @user.client_applications.any? %>
    <ul>
      <%= content_tag_for(:li, @user.client_applications) do |client_application| -%>
        <%= client_application %>
      <% end -%>
    </ul>
  <% else %>
    <p><%= render_value '' %></p>
  <% end -%>
</div>

<div class="large-4 columns">
  <p><%= t 'sections.label.plural' %></p>

  <%- if @user.all_sections? %>
    <p><strong><%= t 'activerecord.attributes.user.all_sections' %></strong></p>
  <% elsif @user.sections.any? %>
    <ul>
      <%= content_tag_for(:li, @user.sections) do |section| -%>
        <%= section %>
      <% end -%>
    </ul>
  <% else %>
    <p><%= render_value '' %></p>
  <% end -%>
</div>

<div class="large-4 columns">
  <p><%= t 'covers.label.plural' %></p>

  <%- if @user.all_representations? %>
    <p><strong><%= t 'activerecord.attributes.user.all_representations' %></strong></p>
  <% elsif @user.representations.any? %>
    <ul>
      <%= content_tag_for(:li, @user.representations) do |representation| -%>
        <%= representation %>
      <% end -%>
    </ul>
  <% else %>
    <p><%= render_value '' %></p>
  <% end -%>
</div>