<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('users.list.title') %>
  </h1>

  <div class="large-7 columns right quick-filter-container">
    <%= render_simple_filter(users_path, :user) %>
  </div>
</div>

<%= render_flashes %>

<%= render_context_actions :user, right: { new: { url: new_user_path } }, target: User %>

<p><%= kaminari_info @users %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-4"><%= t('activerecord.attributes.user.username') %></th>
      <th class="large-6"><%= t('activerecord.attributes.user.email') %></th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @users) do |user| %>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td>
        <%= render_dropdown_actions(user, :user,
          {
            show:           {url: user_path(user)},
            edit:           {url: edit_user_path(user)},
            destroy:        {url: user_path(user)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @users %>
  </div>
</div>
