<h1><%= title t('users.show.title', user: @user) %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.user.username' %></div>
    <div class="large-9 columns"><%= render_value @user.username %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.user.email' %></div>
    <div class="large-9 columns"><%= render_value @user.email %></div>
  </div>

  <fieldset>
    <legend><%= t 'activerecord.attributes.user.roles_permissions_workspaces' %></legend>

    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.user.roles' %></div>
      <div class="large-9 columns"><%= render_collection @user.roles %></div>
    </div>

    <div class="row">
      <div class="large-12 columns label-element"><%= t 'activerecord.attributes.user.permissions' %></div>
      <div class="large-12 columns">
        <div class="row">
          <%= render partial: 'roles/permissions_detail', locals: { subject: @user } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns label-element"><%= t 'users.workspaces' %></div>
      <div class="large-12 columns">
        <div class="row">
          <%= render partial: 'workspaces' %>
        </div>
      </div>
    </div>

  </fieldset>
</div>

<%= render_context_actions :section, left: { back: {url: users_path} },
                                     right: { edit:  {url: edit_user_path(@user)},
                                              destroy: {url: user_path(@user)} },
                                     target: @user %>
