<div class="form-container">
  <%= form_for(@news_source) do |f| %>
    <%= render_form_errors @news_source %>
    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <p class="hint">
          <%= t('news_sources.help.supandcli') %>
        </p>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :supplements %>
            <%= collection_select2_select :news_source, :supplement_ids, Supplement.all, :id, :to_s, {}, { multiple: true } %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :client_applications %>
            <%= collection_select2_select :news_source, :client_application_ids, ClientApplication.all, :id, :to_s, {}, { multiple: true } %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :is_default %>
            <%= f.check_box :is_default %>
          </div>
        </div>
      </div>
    </div>


    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
