<div class="row crud-header">
  <h1 class="large-9 columns">
    <%= title t('news_sources.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :news_source, right: { new: { url: new_news_source_path } }, target: NewsSource %>

<p><%= kaminari_info @news_sources %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.news_source.name' %></th>
      <th><%= t 'activerecord.attributes.news_source.supplements' %></th>
      <th><%= t 'activerecord.attributes.news_source.client_applications' %></th>
      <th><%= t 'activerecord.attributes.news_source.is_default' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @news_sources) do |news_source| %>
      <td>
        <% if news_source.is_default %>
          <span class="round label">&#10025;</span>
        <% end %>
        <%= news_source.name %>
      </td>
      <td>
        <%= render_value render_collection news_source.supplements %>
      </td>
      <td>
        <%= render_value render_collection news_source.client_applications %>
      </td>
      <td>
        <%= render_boolean news_source.is_default %>
      </td>
      <td>
        <%= render_dropdown_actions(news_source, :news_source,
          {
            show:           {url: news_source_path(news_source)},
            edit:           {url: edit_news_source_path(news_source)},
            destroy:        {url: news_source_path(news_source)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @news_sources %>
  </div>
</div>
