<h1><%= raw title t('news_sources.show.title', news_source: @news_source) %></h1>

<%= render_flashes %>

<div class="show-field-container panel">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.news_source.name'%></div>
    <div class="large-9 columns"><%= render_value raw @news_source.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.news_source.supplements'%></div>
    <div class="large-9 columns">
      <%= render_value render_collection @news_source.supplements %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.news_source.client_applications'%></div>
    <div class="large-9 columns">
      <%= render_value render_collection @news_source.client_applications %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.news_source.is_default'%></div>
    <div class="large-9 columns">
      <%= render_boolean @news_source.is_default %>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @news_source.extra_attribute_model} %>
  </div>
</div>

<%= render_context_actions :news_source, left: { back: {url: news_sources_path} },
                                        right: { edit:           {url: edit_news_source_path(@news_source)},
                                                 destroy:        {url: news_source_path(@news_source)} },
                                        target: @news_source %>
