<%= form_for [@component, @service], url: form_component_service_path(@component, @service) do |f| %>
  <% @component_service = @service %>
  <%= render_form_errors @service %>
  <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.name') %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.http_method') %>
          <%= collection_select2_select(:component_service, :http_method, ComponentService.http_method.values, :to_s, :to_s) %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.cache_control') %>
          <%= f.text_field :cache_control, placeholder: ClientApplication.service_cache_control_default %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.available_parameters') %>
          <%= multi_select(:component_service, :available_parameters_string) %>
          <div class="hint">
            <%= t('component/services.form.help.available_parameters') %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.view') %>
          <%= collection_select2_select(:component_service, :view_id, @component.views.html, :id, :to_s) %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.component/services.body') %>
          <%= f.text_area :body, data: { plugins: escape_configuration('codemirror' => { mode: 'text/x-ruby', matchBrackets: true, indentUnit: 2 })} %>
        </div>
      </div>
  </div>
  
  <ul class="form-actions right">
    <li><%= f.submit t('component/services.form.submit'),class: 'action button radius success' %></li>
  </ul>
<% end %>
