<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/services.label.plural'), component_services_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('component/services.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :component_service, right: { new: { url: new_component_service_path } }, target: ComponentService %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-6">
      <%= t('activerecord.attributes.component/services.name').capitalize %>
    </th>
    <th class="large-2">
      <%= t('activerecord.attributes.component/services.http_method').capitalize %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
 <tbody>
  <% @services.each do |service| %>
    <tr>
      <td>
        <%= service.name %>
      </td>
      <td>
        <%= service.http_method %>
      </td>
      <td>
        <%= render_dropdown_actions service, :component_service,
          {
            show:    { url: component_service_path(@component, service) },
            edit:    { url: edit_component_service_path(@component, service) },
            destroy: { url: component_service_path(@component, service) }
          }
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render_context_actions :component_services, left: { back: { url: components_path } } %>