<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/services.label.plural'), component_services_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('component/services.new.title') %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :component_service, left: { back: { url: component_services_path(@component) } } %>
