<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/services.label.plural'), component_services_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('component/services.show.title') %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.component' %></div>
    <div class="large-10 columns"><%= @component.name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.name' %></div>
    <div class="large-10 columns"><%= @service.name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.available_parameters' %></div>
    <div class="large-10 columns">
      <% @service.available_parameters.each  do |ap|%>
        <span class="success label"> <%= ap %> </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.http_method' %></div>
    <div class="large-10 columns"><%= @service.http_method %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.cache_control' %></div>
    <div class="large-10 columns"><%= @service.cache_control.blank? ? t('activerecord.attributes.component/services.cache_control_default',cache_control_default: ClientApplication.service_cache_control_default) : @service.cache_control %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/services.body' %></div>
    <div class="large-10 columns">
      <%= CodeRay.scan(@service.body, :ruby).div(:line_numbers => :table).html_safe %>
    </div>
  </div>
</div>

<%= render_context_actions :component_service, 
  left: {
    back:     { url: component_services_path(@component) }
  }, 
  right: {
    edit:     { url: edit_component_service_path(@component, @service) },
    destroy:  { url: component_service_path(@component, @service) }
  },
  target: @service %>
