<%= form_for [@component, @component_view], url: form_component_view_path(@component, @component_view) do |f| %>
  <%= render_form_errors @component_view %>
  <div class="field-container panel">
    <div class="form-item" data-item-hidden="<%= @component_view.id %>">
      <div class="row">
        <div class="large-6 columns">
          <%= f.label t('activerecord.attributes.view.name') %>
          <%= f.text_field :name, data: @component_view.name %>
        </div>
        <div class="large-5 large-offset-1 columns">
          <%= f.label t('activerecord.attributes.view.format') %>
          <%= f.text_field :format %>
        </div>
        <div class="large-12 columns">
          <%= f.label :default do -%>
            <%= f.check_box :default %>
            <%= t('activerecord.attributes.view.default') %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.view.value') %>
          <%= f.text_area :value, data: { plugins: escape_configuration('codemirror' => { mode: "text/html" }) }, id: "codemirror_#{@component_view.id}", class: 'codemirror' %>
        </div>
      </div>
      <% if @component.takes_layout_views? %>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :is_layout do %>
              <%= f.check_box :is_layout %>
              <%= t('activerecord.attributes.view.is_layout') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <ul class="form-actions right">
    <li><%= f.submit t('component/views.form.submit'),class: 'action button radius success' %></li>
  </ul>
<% end %>
