<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/views.label.plural'), component_views_path(@component) %></li>
    <li><%= link_to @component_view, component_view_path(@component, @component_view) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('component/views.edit.title') %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :component_views, left: { back: { url: component_views_path(@component) } } %>
