<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/views.label.plural'), component_views_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('component/views.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :component_views, right: { new: { url: new_component_view_path } }, target: View %>

<table class="crud-table">
  <thead>
  <tr>
    <% if @component.takes_layout_views? %>
      <th class="large-4">
        <%= t('activerecord.attributes.component/views.name') %>
      </th>
      <th class="large-3">
        <%= t('activerecord.attributes.component/views.format') %>
      </th>
      <th class="large-3">
        <%= t('activerecord.attributes.component/views.is_layout') %>
      </th>
    <% else %>
      <th class="large-7">
        <%= t('activerecord.attributes.component/views.name') %>
      </th>
      <th class="large-3">
        <%= t('activerecord.attributes.component/views.format') %>
      </th>
    <% end %>
    <th class="large-2"></th>
  </tr>
  </thead>
 <tbody>
  <% @component_views.each do |view| %>
    <tr>
      <td>
        <%= render_boolean(true) if view.default? %>
        <%= view.name %>
      </td>
      <td>
        <pre><%= render_value view.format, '<span class="n-a">text/html</span>'.html_safe %></pre>
      </td>
      <% if @component.takes_layout_views? %>
        <td>
          <%= render_boolean view.is_layout %>
        </td>
      <% end %>
      <td>

        <%= render_dropdown_actions view, :view,
          {
            show:           { url: component_view_path(@component, view) },
            edit:           { url: edit_component_view_path(@component, view) },
            become_default: 
                            { 
                              url: make_default_component_view_path(@component, view),
                              condition: view.can_be_default?,
                              class: 'success',
                              method: :post,
                              divider: true
                            },
            destroy:        { url: component_view_path(@component, view) }
          }
        %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render_context_actions :component, left: { back: { url: components_path } } %>
