<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/views.label.plural'), component_views_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('component/views.show.title', view: @component_view) %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/views.component' %></div>
    <div class="large-10 columns"><%= @component.name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/views.name' %></div>
    <div class="large-10 columns">
      <%= @component_view.name %>
      <% if @component_view.default? %>
        <strong>
          <%= render_boolean(true) %> <%= t 'component/views.show.default_view' %>
        </strong>
      <% end %>
    </div>
  </div>
  <% if @component.takes_layout_views? %>
    <div class="row">
      <div class="large-2 columns label-element"><%= t('activerecord.attributes.component/views.is_layout') %></div>
      <div class="large-10 columns"><%= render_boolean @component_view.is_layout %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/views.format' %></div>
    <div class="large-10 columns"><pre><%= @component_view.format %></pre></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= CodeRay.scan(@component_view.value, :erb).div(:line_numbers => :table).html_safe %>
    </div>
  </div>
</div>

<%= render_context_actions :component_views, 
  left: {
    back: { url: component_views_path(@component) } 
  }, 
  right: { 
    edit: { url: edit_component_view_path(@component, @component_view) } 
  },
  target: @component_view %>
