<% if errors.any? %>
  <div id="error_explanation">
    <h2><%=t "form.shared.error_message", { error_count: pluralize(errors.count, "error")} %></h2>

    <ul>
    <% errors.each do |k,v| %>
      <li><%= "#{k.to_s} - #{v.to_s}" %></li>
    <% end %>
    </ul>
  </div>
<% end %>