<% if errors.any? %>
  <div id="error_explanation" class="panel radius alert row">
    <h5><%= t('form.shared.error_message', { error_count: pluralize(errors.count, t('form.shared.error')), model_name: model_name }) %></h5>

    <% errors.full_messages.each do |msg| %>
      <div class="error-msg large-11 columns large-offset-1"><%= msg %></div>
    <% end %>
  </div>
<% end %>