<header id="global-header">
  <nav class="top-bar">
    <ul class="title-area">
      <li id="app-name" class="name">
        <h1>
          <span class="indicator" <%= plugins indicators: { hide: 'fadeOut', show: 'fadeIn', duration: 250 } %>>
            &#9729;
          </span>
          <%= link_to t('app.name'), main_app.root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <% if current_user %>
      <%= render partial: 'shared/header/logged_in' %>
    <% else %>
      <%= render partial: 'shared/header/logged_out' %>
    <% end %>
  </nav>

  <%= render partial: 'shared/header/announcements' if current_user %>
</header>
