<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>

<%= javascript_include_tag 'libs' %>
<%= javascript_include_tag 'all-plugins' %>
<%= javascript_include_tag 'application' %>