<%= form_tag(request.path, method: :get, class: 'row collapse') do %>
  <span class="large-3 columns">
    <span class="prefix"><%= label_tag :per_page, t('index.pagination.per_page') %></span>
  </span>
  <span class="large-2 columns">
    <%= text_field_tag :per_page, @per_page %>
  </span>
  <span class="large-4 columns end">
    <%= submit_tag t('index.pagination.refresh'), :class => 'button postfix' %>
  </span>
<% end %>