<a href="<%= list_name %>?sort[field]=<%= field %>&sort[order]=<%= @order.opposite_order %>" >
  <% if @order.sorted_by? field %>
    <% order = (@order.ascendent?) ? '↑' : '↓' %>
    <%= "#{label} #{order}" %>
  <% else %>
    <%= "#{label}" %>
  <% end %>
</a>
