<%= stylesheet_link_tag 'libs', media: 'all' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_link_tag 'all-plugins', media: 'all' %>
<%= stylesheet_link_tag '//code.jquery.com/ui/1.11.0/themes/flick/jquery-ui.min.css', media: 'screen' %>