<%= f.label field %>
<%= f.text_area field, :class => 'large-11', data: { plugins: escape_configuration(wysiwyg: {height: 200, removePlugins: 'elementspath', resize_enabled: true})}%>

<% content_for :yavu_media_wysiwyg do %>
  <div id="wysiwyg-modal-media" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2>Insertar medio</h2>
    <%= ajax_select2_field_tag :media, nil, autocomplete_media_path, { class: 'media-searcher', autofocus: true }, { escape_markup: false, prompt: true, placeholder: I18n.t('media.none'), allowClear: true } %>
    <h4> Tamaño </h4>
    <% %i(xsmall small medium big xbig).each.with_index do |v, i| %>
      <div class="small-<%= (i == 4) ? 4 : 2 %> columns">
        <%= label_tag 'media_size', I18n.t("media.versions.#{v}") %>
        <%= radio_button_tag 'media_size', v, (i == 2) %>
      </div>
    <% end %>
    <h4> Etiqueta </h4>
    <%= text_field_tag 'caption', nil, class: 'media-caption', placeholder: "Por defecto será el título de este artículo" %>
    <a href="javascript:;" class="insert-media-action button small right">Insertar</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <div id="wysiwyg-modal-article" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2>Insertar artículo</h2>
    <%= ajax_select2_field_tag :article, nil, search_articles_path, { class: 'article-searcher', autofocus: true }, { escape_markup: false, prompt: true, placeholder: I18n.t('articles.none'), allowClear: true } %>
    <%= label_tag 'caption', I18n.t("activerecord.attributes.article_relation.caption") %>
    <%= text_field_tag 'caption', nil, class: 'article-caption' %>
    <a href="javascript:;" class="insert-article-action button small right">Insertar</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
<% end %>
