<%= form_for [@component, @component_asset], url: update_content_component_asset_path(@component, @component_asset)  do |f| %>
  <%= render_form_errors @component_asset %>

  <div class="field-container panel">
    <div class="form-item" data-item-hidden="<%= @component_asset.id %>">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :content %>
          <%= f.text_area :content, data: { plugins: escape_configuration('codemirror' => {mode: @component_asset.content_type}) }, id: "codemirror_#{@component_asset.id}", class: 'codemirror' %>
        </div>
      </div>
    </div>
  </div>

  <ul class="form-actions right">
    <li><%= f.submit t('component/assets.form.submit'), class: 'action button radius success' %></li>
  </ul>
<% end %>
