<div class="form-container">
  <%= form_for @component_asset, url: create_empty_component_assets_path(@component) do |f| %>
    <%= render_form_errors @component_asset %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('component/assets.name') %>
        </div>
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="large-6 columns">
              <%= f.text_field :file %>
            </div>
            <div class="large-2 columns left">
               <%= collection_select2_select(:component_asset, :type, AssetUploader.empty_asset_extensions, :to_s, :to_s) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
