<div class="form-container">
  <%= form_for [@component, @component_asset], url: form_component_asset_path(@component, @component_asset) do |f| %>
    <%= render_form_errors @component_asset %>

    <div class="field-container panel">
      <div class="form-item" data-item-hidden="<%= @component_asset.id %>">
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :file %>
            <%= f.file_field :file %>
            <%= t 'component/assets.form.current_file', file: @component_asset.file_identifier %>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('component/assets.form.submit'), class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
