<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('component/assets.list.title', component: @component) %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :component_asset, 
  left: { 
    new_empty: { url: new_empty_component_assets_path(@component), :class => 'success' } 
  }, 
  right: {
    new: { url: new_component_asset_path } 
  },
  target: ComponentAsset %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-10">
      <%= t('activerecord.attributes.component_asset.file').capitalize %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
 <tbody>
  <% @component_assets.each do |asset| %>
    <tr>
      <td>
        <%= asset %>
      </td>
      <td>

        <%= render_dropdown_actions asset, :component_asset,
          {
            show:         { url: component_asset_path(@component, asset) },
            edit:         { url: edit_component_asset_path(@component, asset) },
            rename:       { url: rename_component_asset_path(@component, asset) },
            download:     { 
                            url: component_asset_serve_path(asset),
                            class: 'success'
                          },
            edit_content: { 
                            url: edit_content_component_asset_path(@component, asset),
                            condition: asset.editable?,
                            class: 'success'
                          },
            destroy:      { url: component_asset_path(@component, asset) }
          }
        %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @component_assets %>
  </div>
</div>

<%= render_context_actions :component, left: { back: { url: components_path } } %>