<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/assets.label.plural'), component_assets_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('component/assets.new.title', component: @component) %>
  </h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :component_asset, left: { back: { url: component_assets_path(@component) } } %>
