<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/assets.label.plural'), component_assets_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <%= title t('activerecord.actions.component_asset.rename_name', asset: @component_asset) %>
  </h1>
</div>

<div class="form-container">
  <%= form_for [@component, @component_asset], url: update_name_component_asset_path(@component, @component_asset) do |f| %>
    <%= render_form_errors @component_asset %>

    <div class="field-container panel">
      <div class="form-item" data-item-hidden="<%= @component_asset.id %>">
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :file %>
            <%= f.text_field :file, value: @component_asset.relative_url_without_extension(false) %>
            <div class="hint">
              <%= t('component/assets.name_hint') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('component/assets.form.submit'), class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>

<%= render_context_actions :component_asset, left: { back: { url: component_assets_path(@component) } } %>
