<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/assets.label.plural'), component_assets_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1><%= title t('component/assets.show.title', asset: @component_asset) %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_asset.type' %></div>
    <div class="large-9 columns"><%= @component_asset.type %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_asset.file' %></div>
    <div class="large-9 columns"><%= render_value @component_asset.file_url %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_asset.content' %></div>
    <div class="large-9 columns">
      <%= render_asset @component_asset %>
    </div>
  </div>
  <% if @component_asset.editable? %>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_asset.compiled_content' %></div>
      <div class="large-9 columns">
        <%= render_asset @component_asset, compiled: true %>
      </div>
    </div>
  <% end %>
</div>

<%= render_context_actions :component_asset,
  left: {
    back: { url: component_assets_path(@component) }
  }, 
  right: { 
    edit: { url: edit_component_asset_path(@component, @component_asset) },
    edit_content: { url: edit_content_component_asset_path(@component, @component_asset), condition: @component_asset.editable?, class: 'success' }
  },
  target: @component_asset %>
