<div class="form-container">
  <%= form_for(@shortcut) do |f| %>
    <%= render_form_errors @shortcut %>
    <%= f.hidden_field :user_id %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-8 columns">
          <%= f.label :title, class: 'inline large-2 columns' %>
          <%= f.text_field :title, class: 'large-10' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :show_in_menu, class: 'inline' do %>
            <%= f.check_box :show_in_menu %>
            <%= t('activerecord.attributes.shortcut.show_in_menu') %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :url %>
          <%= f.text_field :url, readonly: @shortcut.new_record? %>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>