<% shortcuts = Shortcut.for(current_user).for_menu.sorted %>
<li class="nav-shortcuts has-dropdown" id="nav-shortcuts" <%= plugins shortcuts: { titleSuffix: " | #{t('app.name')}" } %>>
  <a href="#">
    &#10025; <%= t('shortcuts.list.title') %>
  </a>
  <ul class="dropdown">
    <% unless shortcuts.empty? %>
      <%= content_tag_for(:li, shortcuts) { |shortcut| link_to shortcut.title, shortcut.url } %>

      <li class="divider"></li>
    <% end %>

    <li>
      <%= link_to main_app.new_shortcut_path, class: 'catchable' do %>
        &#10025; <%= t('shortcuts.label.add_page') %>
      <% end %>
    </li>

    <li class="divider"></li>

    <li>
      <%= link_to main_app.manage_shortcuts_path do %>
        <%= t('shortcuts.label.manage') %>
      <% end %>
    </li>
  </ul>
</li>
