<div class="row crud-header">
  <h1 class="large-12 columns">
    <%= title t('shortcuts.manage.title') %>
  </h1>
</div>

<%= render_flashes %>

<div class="row">
  <div class="large-12 columns large-centered end">
    <% unless @shortcuts.empty? %>
      <ul class="tabular">
        <%= content_tag_for(:li, @shortcuts, class: 'row') do |shortcut| %>
          <div class="large-7 columns">
            <div class="hoverable">
              <%= shortcut.title %>
              <div class="on-hover n-a"><%= shortcut.url %></div>
            </div>
          </div>
          <div class="large-3 columns">
            <% if shortcut.show_in_menu %>
              <%= link_to remove_from_menu_shortcut_path(shortcut), method: :put, class: 'hoverable' do %>
                <span class="label radius on-normal"><%= t('shortcuts.manage.in_menu') %></span>
                <span class="label radius alert on-hover"><%= t('shortcuts.manage.remove_from_menu') %></span>
              <% end %>
            <% else %>
              <%= link_to add_to_menu_shortcut_path(shortcut), method: :put, class: 'hoverable' do %>
                <span class="label radius secondary on-normal"><%= t('shortcuts.manage.not_in_menu') %></span>
                <span class="label radius success on-hover"><%= t('shortcuts.manage.add_to_menu') %></span>
              <% end %>
            <% end %>
          </div>
          <div class="large-2 columns">
            <%= link_to shortcut, method: :delete, class: 'button tiny alert radius right', data: { confirm: t('activerecord.actions.shared.confirmation.destroy') } do %>
              <%= t('activerecord.actions.shared.destroy') %>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% else %>
      <p class="alert-box nothing-to-show radius secondary"><%= t('activerecord.shared.nothing') %></p>
    <% end %>
  </div>
</div>
