/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {
  display:none;
}

/* Overlay */
#simplemodal-overlay {
  background-color:#000;
}

/* Container */

#simplemodal-container {
  height: 525px;
  width: 600px;
  color:#bbb;
  background-color:#333;
  border:4px solid #444;
  padding:12px;
  
  .simplemodal-data {
    padding:8px;
  }
  
  code {
    background:#141414;
    border-left:3px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:12px;
    margin-bottom:12px;
    padding:4px 6px 6px;
  }
  a { 
  	color:#ddd;
  
  	&.modalCloseImg {
      background: image-url("session/x.png") no-repeat ;
      width:25px;
      height:29px;
      display:inline;
      z-index:3200;
      position:absolute;
      top:-15px;
      right:-16px;
      cursor:pointer;
  	}
    
    
  }
  
  h3 {
  	color:#ccc;
	} 
  
  a {
		display: inline-block;
		width: 32px;
		height: 31px;
		text-indent:-9000px;
		text-decoration:none;
		color:#000;
		font-size:80%;
	
	  &:hover {
        background-position:0 -32px;
	  }
    } 
	
    .facebook {
		background: image-url("social_profiles/facebook.png") no-repeat ;
    }	
    
	 .twitter {
		background: image-url("social_profiles/twitter.png") no-repeat ;
    }	
	
    .google_oauth2 {
		background: image-url("social_profiles/google.png") no-repeat ;
    }	
    
    h4 {
    color:#fff; 
    padding-right:2%;
    display: inline-block;
    font:80% "lucida grande",tahoma,verdana,arial,sans-serif;
    }
    
    .providers {
    margin-top:5%;
    }
    
    
    button.boton {
	  font: bold 13px "helvetica neue", helvetica, arial, sans-serif;
	  color: #fff;
	  text-decoration: none;
	  text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    background:red;
    border:1px solid #000;
    margin: 2% 0;
    }
  
    #form-log-in {
      margin:5% 0;
      
      .form-row {
      margin:1% 0;
      }
      
      .form-property {
      color:#fff;
      }
      
      label {
      color:#fff;
      font-size:80%;
      margin-bottom:0.5%;
      }
      
      input {
      color:#333;
      padding:0.5%;
      border:1px solid red;
      font-size:90%;
      }
    }
    
}








