/* Component session styles */
.login-container {
	margin-left: auto;
  margin-right: auto;

}

.login-container a.button {
	border: 1px outset #AAA;
	padding: 4px 5px;
}
  

.register-container {
  float: right
}

#basic-modal-content .error {
  color: red;
  font-size: 13px
}

#basic-modal-content .success {
  color: green;
  font-size: 13px
}

.basic-modal {
  cursor: pointer;
  float: left;
  width: 100%;
  margin: 6px 0px;
}

