.cloud a{
font-family: 'Oswald-Regular', arial, sans-serif;
margin-right: 20px;
line-height: 1.4em; 
}

.cloud a:hover {
text-decoration: none;
border-bottom: 1px dotted;
}

.cloud .extra-big {
font-size: 30px;
margin: 1%;
}

.cloud .big {
font-size: 26px;
margin: 1%;
}

.cloud .normal {
font-size: 22px;
margin: 1%;
}

.cloud .small {
font-size: 18px;
margin: 1%;
}

.cloud .mini {
font-size: 14px;
margin: 1%;
}  
