<div class="form-container">
  <%= form_for(@section) do |f| %>

    <%= render_form_errors @section  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :slug %>
          <%= f.text_field :slug %>
          <div class="hint">
           <%= t('sections.form.help.slug') %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :is_visible %>
          <%= f.label :is_visible do %>
            <%= f.check_box :is_visible %>
            <%= t('sections.edit.make_visible') %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :main_article %>
          <%= ajax_select2_field :section, :main_article_id, search_articles_path, {escape_markup: false}, { prompt: true, allowClear: true, placeholder: ' ' } %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :supplement %>
          <%= collection_select2_select :section, :supplement_id, Supplement.where(nil), :id, :to_s, { prompt: true } %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :parent %>
          <%= collection_select2_select :section, :parent_id, Section.but(@section), :id, :to_s, { prompt: true } %>
        </div>
      </div>
      <div class="row">
        <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
      </div>
    </div>

    <ul class="form-actions">
      <li class="right"><%= f.submit class: "action button radius success" %></li>
    </ul>

  <% end %>
</div>
