<li class="node">
  <%= link_to section, section_path(section), data: { plugins: escape_configuration(updater: { target: '#updater-target' }) } %>

  <% if section.children.any? %>
    <ul>
      <%= render section.children %>
    </ul>
  <% end %>
</li>