<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('sections.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(sections_path, :name) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'sections/filter' %>

<%= render_flashes %>

<%= render_context_actions :section, right: { tree: { url: tree_sections_path, data: { plugins: escape_configuration(manners: {}) } },
                                              new:  { url: new_section_path } },
                                     target: Section  %> 

<%= render_filter_labels(:sections) %>

<p><%= kaminari_info @sections %></p>

<table class="large-12 crud-table">
  <thead>
    <tr>
      <th class="two">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'sections', field: 'name', label: t('activerecord.attributes.section.name') } %>
      </th>
      <th><%= t 'activerecord.attributes.section.supplement' %></th>
      <th><%= t 'activerecord.attributes.section.parent' %></th>
      <th><%= t 'activerecord.attributes.section.is_visible' %></th>
      <th class="two"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @sections) do |section| %>
      <td><%= raw section.name %></td>
      <td><%= section.supplement %></td>
      <td><%= render_value raw section.parent %></td>
      <td><%= render_boolean section.is_visible %></td>
      <td>
        <%= render_dropdown_actions(section, :section,
          {
            show:           {url: section_path(section)},
            edit:           {url: edit_section_path(section)},
            articles:       {url: articles_section_path(section)},
            destroy:        {url: section_path(section)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @sections %>
  </div>
</div>
