<h1><%= raw title t('sections.show.title', section: @section) %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.name' %></div>
    <div class="large-9 columns"><%= render_value raw @section.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.slug' %></div>
    <div class="large-9 columns"><%= render_value raw @section.slug %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.is_visible' %></div>
    <div class="large-9 columns"><%= render_boolean @section.is_visible %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.main_article' %></div>
    <div class="large-9 columns"><%= render_value raw @section.main_article %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.supplement' %></div>
    <div class="large-9 columns"><%= render_value raw @section.supplement %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.parent' %></div>
    <div class="large-9 columns"><%= render_value raw @section.parent %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.section.articles' %></div>
    <div class="large-9 columns"><%= link_to render_value(raw @section.articles.count), articles_section_path(@section) %></div>
  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @section.extra_attribute_model} %>
  </div>
</div>

<%= render partial: 'paper_trail/versions/versions', locals: {versions: @section.versions} %>

<%= render_context_actions :section, left: { back: {url: sections_path} },
                                     right: { articles: {url: articles_section_path(@section)},
                                              edit:  {url: edit_section_path(@section)},
                                              destroy: {url: section_path(@section)} },
                                     target: @section %>
