<h1><%= title t('sections.tree.title') %></h1>

<p class="hint"><%= t('sections.tree.help') %></p>

<div class="row">
  <div class="large-12 columns">
    <div class="large-1 columns">
      <%= label_tag :livefilter, t('sections.tree.fields.name'), class: 'inline' %>
    </div>
    <div class="large-11 columns">
      <input type="text" name="livefilter" id="livefilter" class="six" autocomplete="false" placeholder="<%= t('sections.tree.fields.query') %>" <%= plugins livefilter: { searchIn: '.tree', elements: 'li' } %>>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns large-offset-1">
    <ul class="tree">
      <%= render @sections %>
    </ul>
  </div>

  <div class="large-6 columns" id="updater-target"></div>
</div>

<% unless request.xhr? %>
  <%= render_context_actions :section, left: { back: { url: sections_path } } %>
<% end %>

