//
// Styles for the uniqueaccess backend plugin.
//
@import 'partials/base';

.ua-participants {
  position: fixed;
  top: 54px;
  right: 10px;
  background: $app-color-light-grey;
  padding-left: 9px;
  z-index: 3;

  .ua-legend {
    color: $app-color-dark-grey;
    display: none;
  }

  &:hover .ua-legend {
    display: inline-block;
  }

  .ua-participant {
    display: inline-block;
    padding: 9px 6px;
    text-align: center;
    min-width: 2.5em;
    background: $app-color-normal;
    color: $app-color-white;
    font-weight: bold;
    margin-left: .5em;

    .ua-notice {
      font-weight: 200;
    }

    &.ua-made-changes {
      background-color: $app-color-warning;
      color: $app-color-darkest-grey;
    }

    &.ua-saved {
      background-color: $alert-color;
    }

    &.ua-destroyed {
      background-color: $app-color-black;
    }
  }

  &.ua-empty {
    display: none;
  }
}