@import 'partials/base';
@import 'compass/css3';

.covers .editor-container.cover-editor,
.representations .editor-container.cover-editor {
  .canvas {
    .r-row .cols-container .r-col {
      background-color: rgba($app-color-black, .75);

      .components-container .r-component {
        padding: 6px 4px;

        &.component-configuration {
          opacity: .15;
          border-color: $app-color-dark-grey;
          color: $app-color-black;
          background-color: $app-color-dark-grey;
        }

        &.cover-component-configuration {
          border-color: $app-color-grey;

          .content {
            padding: 6px;
          }
        }

        .module-container {
          &:first-of-type .move.up i,
          &:last-of-type .move.down i {
            color: $app-color-light-grey;
            background-color: $app-color-grey;
            cursor: not-allowed;
          }

          .reveal-modal {
            @extend %settings-modal;
          }
        }

        .module {
          @extend %module;
          @extend %settings-group-container;
        }

        .add-module {
          @extend %module;
        }
      }
    }
  }
}

%module {
  border: 1px solid $app-color-grey;
  padding: 6px;
  margin-bottom: 2px;
  display: block;
  background: $app-color-white;

  &:hover {
    background: rgba(#efefef, .95);
    border-color: $app-color-dark-grey;
  }

  .stats {
    font-size: 90%;
    margin-left: 9px;
    margin-top: 3px;
    color: $app-color-dark-grey;

    .stat {
      line-height: 1.4;
    }
  }
}

%settings-group-container {
  position: relative;

  .settings-group {
    display: none;
    font-size: 24px;
    @extend %center-in-parent;

    i {
      display: inline-block;
      text-align: center;
      background: $app-color-darkest;
      color: $app-color-white;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      padding: 0.1em;

      &:hover {
        background: $app-color-darker;
      }
    }

    .settings i {
      background: $app-color-black;

      &:hover {
        background: lighten($app-color-black, 6.5%);
      }
    }

    .remove i {
      background: $app-color-red;

      &:hover {
        background: lighten($app-color-red, 6.5%);
      }
    }
  }

  &:hover .settings-group {
    display: block;
  }
}

%settings-modal {
  select {
    display: none !important;
  }

  .modal-title {
    .container-name {
      line-height: 1.5;
    }

    input {
      margin: 0 6px;
      padding: 0.25em;
      height: auto;
      width: 95%;
    }
  }

  .tabular {
    min-height: 10em;

    li {
      background: $app-color-white;
      cursor: move;
    }
  }

  .available-articles-filters {
    border: 1px solid $app-color-grey;
    background: $app-color-light-grey;
    padding: 4px;

    .large-6:first-child {
      padding-right: 0.5em;
    }

    .select2-container,
    input {
      margin-bottom: 0;
    }
  }

  .group-title {
    background: $app-color-light-grey;
    text-align: center;
    font-weight: bold;
    border: 1px solid $app-color-grey;
    border-bottom-width: 0;
    padding: 6px 9px;
    margin-left: 9px;
  }

  .associated-articles {
    .placeholder {
      min-height: 3em;
      background: lighten($app-color-black, 15%);
    }

    .article.lf-no-match {
      opacity: 1;
    }
  }

  .cover-editor-article-actions {
    margin: 0 1em 0 1.2em;

    i {
      font-size: 1.5em;
      cursor: pointer;

      &.delete-action {
        color: red;
      }
    }
  }

  .search-results {

    .searching-box {
      display: none;
      position: absolute;
      z-index: 100000;
      width: 100%;
      height: 100%;
      padding: 20%;
      font-size: 3em;
      color: #444444;
    }

    .article-views {
      display: none;
      visibility: hidden;
      height: 0;
    }
  }

  .livefilter {
    margin: 0;
  }
}