article {

}

/*Módulo de portada*/
.cover_module{
margin: 0px 0px 10px 0px;
width: 100%;
}

.cover_module .article{
float: left;
width: 100%;
}

/**********Volanta**********/
.heading{
font-size: 0.8em;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 1px;
margin: 5px 0px 5px 0px;
float: left;
width: 100%;
}

/**********Titulos**********/
.cover_module .title{
float: left;
width: 100%;
}

.cover_module h1{
margin: 0px;
width:100%;
}

.cover_module h2,
.cover_module h3,
.cover_module h4,
.cover_module h5,
.cover_module h6{
float: left;
width:100%;
margin: 5px 0px 5px 0px;
}

.cover_module article{
  float: left;
  width: 100%; 
  position: relative;
}

.main_image a:before{
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border: 3px solid white;
      z-index: 101;
} 

.main_image a:after{
display: block;
content: '';
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
border: 1px solid #ccc;
  z-index: 100;
} 


.main_image{
float: left;
border: none !important;
padding: 0px !important;
background-color: white;
  width: 100%;
  position: relative;
}

.main_image img{
float: left;
position: relative;
}

.main_image img{
width: calc(100% - 8px);
margin: 4px;
}




/**********Bajada**********/
.cover_module .lead{
float: left;
width: 100%;
font: 0.688em/1.2em "lucida grande", tahoma, verdana, arial, sans-serif;
color: #333;
text-align: left;
margin: 5px 0px 5px 0px;
}

/**********Layouts de portada**********/
.cover_layout_100 {
  float: left; }

.cover_layout_70_30 {
  float: left; }

.cover_layout_70_30 .col_70,
.cover_layout_30_70 .col_30 {
  margin: 0 1% 0 0; }

.cover_layout_70_30 .col_30,
.cover_layout_30_70 .col_70 {
  margin: 0 0 0 1%; }

.cover_layout_70_30 .col_30 article,
.cover_layout_30_70 .col_70 article {
  margin: 0px 0px 10px 0px; }

.cover_layout_30_70 {
  float: left; }

.cover_layout_70_30_h {
  float: left; }

.cover_layout_30_70_h {
  float: left; }

.cover_layout_70_30_h .col {
  float: left;
  width: 29%; }

.cover_layout_30_70_h .col {
  float: left;
  width: 69%; }

.cover_layout_70_30_h .col:nth-of-type(odd) {
  float: left;
  width: 69%; 
  margin-left: 0;
}

.cover_layout_30_70_h .col:nth-of-type(odd) {
  float: left;
  width: 29%; 
  margin-left: 0;
}

.cover_layout_50_50_h {
  float: left; }

.cover_layout_50_50_h .col_50:nth-of-type(odd) {
  margin: 0% 2% 1% 0%; }

.cover_layout_50_50_h .col_50 {
    margin-bottom: 1%;
 }

.cover_layout_50_50_v{
float:left;
}

.cover_layout_50_50_v .col_50:nth-of-type(odd){
    margin: 0% 2% 0% 0%;
}

.cover_layout_30_30_40{
float: left;
}

.cover_layout_40_30_30{
float: left;
}

.cover_layout_30_30_40 .col_30:nth-of-type(even) {
  margin: 0% 2% 0% 2%; 
}

.cover_layout_40_30_30 .col_30:nth-of-type(even) {
  margin: 0% 2% 0% 2%; 
}
  
  
.cover_layout_30_30_40 .col_30:last-child {
  width: 38%;
}  
  
.cover_layout_40_30_30 .col_30:first-child  {
  width: 38%;
}  
  

.col_33 {
float: left;
width: 32%;
overflow: hidden;
}

.cover_layout_33_33_33 .col_33:nth-of-type(even) {
margin: 0% 2% 0% 2%;
}


.col_100{
float: left;
width: 100%;
overflow: hidden;
}

.col_50{
float: left; 
width: 49%; 
overflow: hidden;
}

.col_25{
float: left; 
width: 24%; 
overflow: hidden;
}

.col_70{
float: left; 
width: 69%; 
overflow: hidden;
}

.col_30{
float: left; 
width: 29%; 
overflow: hidden;
}


/**********Artículo: volanta + título h2 + foto + bajada**********/
.heading_tith2_photo_lead{
float: left;
}

/**********Artículo: volanta + título h3 + foto + bajada**********/
.heading_tith3_photo_lead{
float: left;
}

/**********Artículo: volanta + título h4 + foto + bajada**********/
.heading_tith4_photo_lead{
float: left;
}

/**********Artículo: foto + volanta + título h2 + bajada**********/
.photo_heading_tith2_lead{
float: left;
}

/**********Artículo: título h3 + bajada**********/
.tith3_lead{
float:left;
}

/**********Artículo: título h4 + foto der + bajada**********/
.tith4_photoright_lead{
margin: 0px 0px 10px 0px;
}

.tith4_photoright_lead .title{
    float: none;
    width: auto;
}

.tith4_photoright_lead .main_image {
width: 160px;
float: right;
margin: 0px 0px 5px 5px !important;
}

.tith4_photoright_lead .lead {
  float: none; 
}

/**********Artículo: volanta + título h3 + foto izq + bajada**********/
.tith3_photoleft_lead{
margin: 0px 0px 10px 0px;
}

.tith3_photoleft_lead .title{
    float: none;
    width: auto;
}

.tith3_photoleft_lead .main_image {
width: 160px;
float: left;
margin: 0px 5px 2px 0px !important;
}

.tith3_photoleft_lead .lead {
  float: none; 
}



/**********Artículo: volanta + título h4 + foto izq + bajada**********/
.tith4_photoleft_lead{
margin: 0px 0px 10px 0px;
}

.tith4_photoleft_lead .title{
    float: none;
    width: auto;
}

.tith4_photoleft_lead .main_image {
width: 160px;
float: left;
margin: 0px 5px 2px 0px !important;
}

.tith4_photoleft_lead .lead {
  float: none; 
}


/**********Artículo: título h5 + foto der + bajada**********/
.tith5_photoright_lead{
margin: 0px 0px 10px 0px;
}

.tith5_photoright_lead .title{
    float: none;
    width: auto;
}

.tith5_photoright_lead .main_image {
width: 160px;
float: right;
margin: 0px 0px 5px 2px !important;
}

.tith5_photoright_lead .lead {
  float: none; 
}

/**********Artículo: título h5 + foto izq + bajada**********/
.tith5_photoleft_lead{
margin: 0px 0px 10px 0px;
}

.tith5_photoleft_lead .title{
    float: none;
    width: auto;
}

.tith5_photoleft_lead .main_image {
width: 160px;
float: left;
margin: 0px 5px 2px 0px !important;
}

.tith5_photoleft_lead .lead {
  float: none; 
}


/**********Artículo: título h6 + foto der + bajada**********/
.tith6_photoright_lead{
margin: 0px 0px 10px 0px;
}

.tith6_photoright_lead .title{
    float: none;
    width: auto;
}

.tith6_photoright_lead .main_image {
width: 160px;
float: right;
margin: 0px 0px 2px 5px !important;
}

.tith6_photoright_lead .lead {
  float: none; 
}

/**********Artículo: título h6 + foto izq + bajada**********/
.tith6_photoleft_lead{
margin: 0px 0px 10px 0px;
}

.tith6_photoleft_lead .title{
    float: none;
    width: auto;
}

.tith6_photoleft_lead .main_image {
width: 160px;
float: left;
margin: 0px 5px 2px 0px !important;
}

.tith6_photoleft_lead .lead {
  float: none; 
}


/**********Artículo: foto + título h3 + bajada**********/
.photo_tith3_lead{
float:left;
}

/**********Artículo: foto + título h4 + bajada**********/
.photo_tith4_lead{
float:left;
}

/**********Artículo: foto + título h5 + bajada**********/
.photo_tith5_lead{
float:left;
}

/**********Artículo: foto + título h6**********/
.photo_tith6{
float:left;
}

/**********Artículo: foto + título h1**********/
.photo_tith1{
float: left;
width: 100%;
position: relative;

}

.photo_tith1 .main_image{

}

.photo_tith1 .main_image img{
}

.photo_tith1 h1 {
  color: white;
}

.photo_tith1_text .lead,
.photo_tith1_text .lead a
{
    float: left;
    width: 100%;
    color: #fff;
}

.photo_tith1_text{
  bottom: 0;
  position: absolute;
  width: 96%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 2% 10px 2%;  
}

.photo_tith1_text .heading,
.photo_tith1_text .heading a,
.photo_tith1 h1 a,
.photo_tith1 h1 a:hover
{
    float: left;
    width: 100%;
    color: #fff;
}


/**********Artículo: foto + volanta + titulo h1 + bajada (hover)***********/
.photo_hover {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative; }

.photo_hover .main_image {
  float: left; }

.photo_hover .photo_hover_box {
  position: absolute;
  width: 96%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 0% 2% 0% 2%;
  top: 105%;
  left: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.photo_hover:hover .photo_hover_box{
  top: 0;
}


.photo_hover .photo_hover_box .photo_hover_heading_title {
  float: left;
  width: 100%;
  padding: 10px 0px 10px 0px;  
}

.photo_hover .photo_hover_box .photo_hover_heading_title h1 a {
  color: #fff;
  float: left;
  width: 100%; }

.photo_hover .photo_hover_box .photo_hover_heading_title .heading {
  color: #fff;
  float: left;
  width: 100%;
}  


.photo_hover .photo_hover_box .lead a {
  color: #fff;
  float: left;
  width: 100%; }


/**********Artículo: Título - Listado**********/
.tit_list{
float: left;
width: 100%;
font-size: 0.688em;
line-height: 1.2em;
color: #333;
text-align: left;
margin: 5px 0px 5px 0px;
padding: 5px 0px 0px 0px;
border-top: dashed 1px rgba(0, 0, 0, 0.25);
position:relative;
}

.tit_list a{
float:left;
padding: 0px 0px 0px 10px;
}

.tit_list a:before {
  content: " ";
  width:5px;
  height:5px;
  left:0;
  top: 10px;
  position:absolute; 
  background:#000; 
}
