<h1><%= title t('settings.edit.title') %></h1>

<%= form_tag update_all_settings_path, method: :put do %>
<div class="form-container">
  <%= render_flashes %>
  <div class="field-container panel">
    <% @settings.each do |setting| %>
      <div class="row">
        <div class="large-12 columns">
          <%= label_tag "settings[#{setting.var}]", t("settings.vars.#{setting.var}") %>
          <%= text_field_tag "settings[#{setting.var}]", setting.value %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <ul class="form-actions">
    <li class="right"><%= button_tag t('settings.edit.save'), class: "action button radius success" %></li>
  </ul>

<% end %>

<%= render_context_actions :settings, 
  left: {
    back: { url: settings_path }
  } %>