<div class="row crud-header">
  <h1 class="large-12 columns">
    <%= title t('settings.list.title') %>
  </h1>

</div>

<%= render_flashes %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-2">
      <%= t('activerecord.attributes.setting.var').capitalize  %>
    </th>
    <th class="large-3">
      <%= t('activerecord.attributes.setting.value').capitalize  %>
    </th>
  </tr>
  </thead>
 <tbody>
  <% @settings.each do |setting| %>
    <tr>
      <td>
        <%= t("settings.vars.#{setting.var}") %>
      </td>
      <td>
        <%= setting.value %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <%= render_context_actions :settings, 
  right: {
    edit: { url: edit_all_settings_path }
  } %>
</div>
