<div class="row">
  <div class="large-10 large-centered columns">
    <p>
      <a href="#" data-reveal-id="component-assets"><%= t 'activerecord.actions.representation_assets.show_component_assets' %></a>
      (<a href="#" id="representation-assets-hint"><%= t 'representation_assets.info.help' %></a>)
    </p>
  </div>
</div>

<div class="row initially-hidden" <%= plugins 'collapsible' => {useToggle: '#representation-assets-hint', labels: {collapse: t('representation_assets.info.help'), rise: t('representation_assets.info.help')}} %>>
  <div class="large-10 large-centered columns">
    <h5><%= t 'representation_assets.info.title', default: 'Understanding representation assets' %></h5>
    <p class="small text-justify">
      <%= t 'representation_assets.info.text', default: 'When a client application searches for representation assets, it will return all components assets used by this representation and associated assets. If you want to add aditional assets to those provided by components, you can do it from the New button or from client application assets page. When assets are listed in the table below, you must associate them to be considered. You can overwrite a component asset uploading it with same name under the component prefix' %>
    </p>
  </div>
</div>

<div class="reveal-modal fullscreen" id="component-assets">
  <div class="modal-title">
    <h2><%= t 'representation_assets.show_component_assets.title' %></h2>
  </div>

  <div class="modal-content">
    <table class="crud-table">
      <thead>
      <tr>
        <th class="large-8">
          <%= t('activerecord.attributes.client_application_asset.file') %>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @representation.component_assets.each do |asset| %>
        <tr>
          <td><p><%= asset %></p></td>
          <td><%= link_to t('activerecord.actions.representation_assets.download'), asset_preview_path(asset), class: 'button success radius' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
