<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_representations_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_path(@client_application) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= t('representation_assets.list.assets', representation: render_value(@representation.name)) %>
  </h1>
</div>

<%= render_flashes %>

<%= render 'component_assets' %>

<%= render_context_actions :representation_assets, 
  left: { 
    new_empty: { url: new_empty_client_application_representation_assets_path(@client_application, @representation), class: 'success' } 
  },
  right: {
    new: { url: new_client_application_representation_asset_path(@client_application, @representation) }
  },
  target: ClientApplicationAsset
%>

<%= form_tag(batch_action_client_application_representation_assets_path, method: :patch) do %>
<table class="crud-table">
  <thead>
  <tr>
    <th class="large-1"></th>
    <th class="large-6">
      <%= t('activerecord.attributes.client_application_asset.file') %>
    </th>
    <th class="large-2"><%= t('activerecord.attributes.client_application_asset.is_favicon') %></th>
    <th class="large-2 text-center"><%= t('representation_assets.asset_enabled') %></th>
    <th class="large-1"></th>
  </tr>
  </thead>

  <tbody>
  <% @application_assets.each do |application_asset| %>
    <tr>
      <td class="text-center batch-checkbox"><%= check_box_tag 'assets[]', application_asset.id %></td>
      <td><%= application_asset %></td>
      <td><%= render_boolean application_asset.favicon_for?(@representation, strict: true) %></td>
      <td class="text-center"><%= render_boolean @representation.assets.include?(application_asset) %></td>
      <td>

        <%= render_dropdown_actions application_asset, :client_application_assets,
          {
            show:             { url: client_application_representation_asset_path(@client_application, @representation, application_asset) },
            edit:             { url: edit_client_application_representation_asset_path(@client_application, @representation, application_asset) },
            rename:           { url: rename_client_application_representation_asset_path(@client_application, @representation, application_asset), divider: true },
            edit_content:     { 
                                url: edit_content_client_application_representation_asset_path(@client_application, @representation, application_asset),
                                condition: application_asset.editable?
                              },
            unset_as_favicon: 
                              { 
                                url: toggle_as_favicon_client_application_representation_asset_path(@client_application, @representation, application_asset),
                                condition: application_asset.can_be_favicon? && application_asset.favicon_for?(@representation, strict: true),
                                method: :post
                              },
            set_as_favicon:   
                              { 
                                url: toggle_as_favicon_client_application_representation_asset_path(@client_application, @representation, application_asset),
                                condition: application_asset.can_be_favicon? && !application_asset.favicon_for?(@representation, strict: true),
                                method: :post
                              },
            download:         { url: client_application_asset_serve_path(application_asset) },
            delete_from_representation:
                              {
                                url: toggle_into_representation_client_application_representation_asset_path(@client_application, @representation, application_asset),
                                condition: @representation.assets.include?(application_asset),
                                class: 'alert',
                                method: :post,
                                divider: true
                              },
            add_to_representation:
                              {
                                url: toggle_into_representation_client_application_representation_asset_path(@client_application, @representation, application_asset),
                                condition: !@representation.assets.include?(application_asset),
                                class: 'success',
                                method: :post,
                                divider: true
                              }
          }
        %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td class="text-center"><p>&uarr;</p></td>
    <td colspan="3">
      <span class="large-2 columns">
        <%= select_tag(:batch_action, options_for_select([
                                                           [t("activerecord.actions.representation_assets.delete_from_representation"), RepresentationAssetsController::DELETE_FROM_REPRESENTATION_BATCH],
                                                           [t("activerecord.actions.representation_assets.add_to_representation"), RepresentationAssetsController::ADD_TO_REPRESENTATION_BATCH]
                                                         ]), data: {plugins: escape_configuration('select2' => {})}) %>
      </span>
      <span class="large-10 columns">
        &nbsp;
        <%= submit_tag t('activerecord.actions.shared.submit_batch'), class: 'action button primary success radius small' %>
      </span>
    </td>
  </tr>
  </tbody>
</table>
<% end %>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @application_assets %>
  </div>
</div>

<%= render_context_actions :representation, left: { back: { url: client_application_representations_path(@client_application) } } %>
