<%= form_for [@component, @component_translation], url: form_component_translation_path(@component, @component_translation) do |f| %>
  <%= render_form_errors @component_translation %>
  <div class="field-container panel">
    <div class="form-item" data-item-hidden="<%= @component_translation.id %>">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :locale %>
          <%= f.select :locale, options_for_select(I18n.available_locales, :selected => f.object.locale), {}, data: {plugins: escape_configuration('select2' => {})}, class: 'item-editable' %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :values %>
          <%= f.text_area :values, data: { plugins: escape_configuration('codemirror' => {mode: @component_translation.filetype}) }, id: "codemirror_#{@component_translation.id}", class: 'codemirror' %>
        </div>
      </div>
    </div>
  </div>
  
  <ul class="form-actions right">
    <li><%= f.submit t('component/translations.form.submit'),class: 'action button radius success' %></li>
  </ul>
<% end %>