<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/translations.label.plural'), component_translations_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('component/translations.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :component_translation, right: { new:  { url: new_component_translation_path } }, target: ComponentTranslation %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-10">
      <%= t('activerecord.attributes.component_translation.locale').capitalize %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
  <tbody>
  <% @component_translations.each do |translation| %>
    <tr>
      <td>
        <%= translation.locale %>
      </td>
      <td>
        <%= render_dropdown_actions(translation, :component_translation,
          {
            show:         {url: component_translation_path(@component, translation)},
            edit:         {url: edit_component_translation_path(@component, translation)},
            destroy:      {url: component_translation_path(@component, translation)}
          }
        ) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render_context_actions(:component_translation, left: { back: { url: components_path } }, target: ComponentTranslation) %>
