<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('components.label.plural'), components_path %></li>
    <li><%= link_to @component, component_path(@component) %></li>
    <li><%= link_to t('component/translations.label.plural'), component_translations_path(@component) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('component/translations.show.title') %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_translation.component' %></div>
    <div class="large-9 columns"><%= @component.name %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_translation.locale' %></div>
    <div class="large-9 columns"><%= @component_translation.locale %></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= CodeRay.scan(@component_translation.values, :yaml).div(:line_numbers => :table).html_safe %>
    </div>
  </div>
</div>

<%= render_context_actions :component_translation, left: { back:    { url: component_translations_path(@component) } }, 
                                                   right: { edit:    {url: edit_component_translation_path(@component, @component_translation)},
                                                            destroy: {url: component_translation_path(@component, @component_translation)} },
                                                   target: @component_translation %>
