<%= render_dropdown_actions(client_application, :client_application,
  {
    show:   { url: client_application },
    show_routes: { url: client_application_routes_path(client_application) },
    edit:   { url: edit_client_application_path(client_application) },
    copy:   { url: copy_client_application_path(client_application) },
    extra_attributes_management: {url: extra_attributes_client_application_path(client_application)},
    design:
    {
      title: true,
      text: t('activerecord.actions.client_application.groups.design'),
      divider: true
    },
    manage_assets: { url: client_application_assets_path(client_application), class: 'success' },
    compile_assets: { url: compile_assets_client_application_path(client_application), method: :post },
    manage_representations: { url: client_application_representations_path(client_application), class: 'success' },
    manage_newsletters: { url: client_application_newsletters_path(client_application), class: 'success' },
    preview: { url: preview_client_application_path(client_application) },
    remote_management:
    {
      title: true,
      text: t('activerecord.actions.client_application.groups.remote_management'),
      divider: true
    },
    invalidate_routes: {url: invalidate_routes_client_application_path(client_application)},
    notify_clients: { url: notify_clients_client_application_path(client_application), method: :post },
    disable: { url: disable_client_application_path(client_application), method: :post, condition: client_application.enabled? },
    enable: { url: enable_client_application_path(client_application), method: :post, condition: !client_application.enabled? },
    destroy: { url: client_application }
  }
) %>
