<%= nested_form_for(@client_application) do |f| %>
  <%= render_form_errors @client_application %>

  <div class="section-container tabs" data-section="tabs">
    <section class="active">
      <p class="title" data-section-title><a href="#"><%= t 'client_applications.form.general_information' %></a></p>
      <div class="field-container panel" data-section-content>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :enabled do %>
              <%= f.check_box :enabled %>
              <%= t 'activerecord.attributes.client_application.enabled_description' %>
            <% end %>
          </div>
        </div>

        <hr class="thick">

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :identifier %>
            <% if @client_application.new_record? %>
              <em class="hint"><%= t('client_applications.new.identifier_pendant') %></em>
            <% else %>
              <%= f.text_field :identifier, class: 'large-12', disabled: true %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'large-12', placeholder: 'example' %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :url %>
            <%= f.url_field :url, class: 'large-12', placeholder: 'http://www.example.com' %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :news_source %>
            <%= collection_select2_select :client_application, :news_source_id, NewsSource.all, :id, :to_s %>
          </div>
        </div>

        <div class="row">
          <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
        </div>
      </div>
    </section>

    <section class="cache">
      <p class="title" data-section-title><a href="#"><%= t 'client_applications.form.cache' %></a></p>
      <div class="field-container panel" data-section-content>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :route_cache_control %>
            <%= f.text_field :route_cache_control, placeholder: ClientApplication.route_cache_control_default, class: 'large-12' %>
            <div class="hint">
              <%= t 'activerecord.attributes.client_application.route_cache_control_description' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :service_cache_control %>
            <%= f.text_field :service_cache_control, placeholder: ClientApplication.service_cache_control_default, class: 'large-12' %>
            <div class="hint">
              <%= t 'activerecord.attributes.client_application.service_cache_control_description' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :internal_varnish_urls %>
            <%= multi_select :client_application, :internal_varnish_urls%>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :external_varnish_urls %>
            <%= multi_select :client_application, :external_varnish_urls%>
          </div>
        </div>

      </div>
    </section>

    <section>
      <p class="title" data-section-title><a href="#"><%= t 'client_applications.form.assets_and_media' %></a></p>
      <div class="field-container panel" data-section-content>
        <div class="row with-hint">
          <div class="large-12 columns">
            <%= f.label :assets_url %>
            <%= f.url_field :assets_url, class: 'large-12', placeholder: 'http://www.example.com' %>
            <div class="hint">
              <%= t 'activerecord.attributes.client_application.assets_url_description' %>
            </div>
          </div>
        </div>

        <div class="row with-hint">
          <div class="large-12 columns">
            <%= f.label :media_url %>
            <%= f.url_field :media_url, class: 'large-12', placeholder: 'http://www.example.com' %>
            <div class="hint">
              <%= t 'activerecord.attributes.client_application.media_url_description' %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <ul class="form-actions right">
    <li><%= f.submit t('client_applications.form.submit'), class: 'action button radius success' %></li>
  </ul>
<% end %>
