<% if @representation %>
  <%= submit_tag t('client_applications.preview.submit_representation', representation: @representation), class: 'button small primary radius' %>

  <%= link_to t('representations.preview.actions.go_back'), :back, class: 'button small secondary radius' %>

  <% if @original_representation %>
      <%= link_to t('representations.preview.actions.apply'),
                  apply_client_application_representation_path(@client_application, @original_representation, gbt: @go_back), method: :post,
                  class: 'button small success radius', data: {
                    confirm: t('representations.preview.confirmations.apply'),
                    disable_with: t('representations.preview.confirmations.wait'),
                  } %>
  <% end %>
<% else %>
  <%= submit_tag t('client_applications.preview.submit'), class: 'button small success radius' %>
<% end %>
