<ul class="routes-list">
  <% @client_application.routes.each do |route| %>
    <li>
      <div class="url">
        <span class="n-a"><%= @client_application.url %></span>
        <strong><%= render_parameterized_url route.pattern %></strong>
      </div>
      <div class="details js-hidden">
        <div>
          <strong><%= route.name %></strong>
          <span class="n-a"><%= t route.type %></span>
        </div>
        <% if route.override_client_application_cache_control %>
        <div>
          <strong><%= t 'activerecord.attributes.route.cache_control' %></strong>
          <span class="n-a"><%= route.cache_control %></span>
        </div>
        <% end %>
        <% if route.default_route? %>
          <div>
            <div class="inner-details">
              <div><%= render_boolean true %> <%= t 'activerecord.attributes.route.default_route_for_type' %></div>
            </div>
          </div>
        <% end %>
        <% if route.constrained? %>
          <div>
            <div><%= t 'activerecord.attributes.route.constraints_applied' %></div>
            <div class="inner-details">
              <% if route.constrained_article %>
                <div><code class="url-parameter">:article</code> &rarr; <%= Article.find_by slug: route.constrained_article %></div>
              <% end %>
              <% if route.constrained_section %>
                <div><code class="url-parameter">:section</code> &rarr; <%= Section.find_by slug: route.constrained_section %></div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if route.requires_redirect_url? %>
        <div>
          <%= t 'route_type.description.redirect' %>
          <a href="<%= route.redirect_url %>" target="_redirect_demo"><%= route.redirect_url %></a>
        </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
