<div class="row">
  <h4 data-tooltip class="has-tip" title="<%= t('client_applications.copy.representation_holdback.hint') %>">
    <%= t 'client_applications.copy.representation_holdback.message' %>
  </h4>
  <% representations.each do |representation| %>
    <div>
    <%= link_to t('representations.edit.title_of', representation: representation.name),
                edit_client_application_representation_path(@client_application, representation),
                target: '_blank' %>
    </div>
  <% end %>
</div>
