<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('client_applications.copy.title') %></h1>
  <h2><%= t('client_applications.copy.client_application', client_application: @client_application) %></h2>
</div>

<%= render_flashes %>

<%= form_for @client_application, url: create_copy_client_application_path(@client_application), method: 'POST' do |f| %>
  <div class="form-container">
    <%= render_form_errors @client_application  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name, value: t('client_applications.copy.prefix', name: @client_application.name), autofocus: true %>
        </div>
        <div class="large-12 columns">
          <%= f.label :url %>
          <%= f.text_field :url, value: '', placeholder: '', required: true %>
        </div>
      </div>
      <%= render partial: 'uncopyable_representations', locals: {representations: @uncopyable_representations} %>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('client_applications.form.submit'), class: 'action button radius success save-client_application' %></li>
    </ul>
  </div>
<% end %>

<%= render_context_actions :client_application, left: { back: { url: client_applications_path } } %>
