<h1><%= title t('client_applications.extra_attributes.title') %></h1>

<p><strong><%= t('client_applications.label.singular') %>:</strong> <span> <%= @client_application.name %></span></p>

<%= render_flashes %>

<%= form_for(@client_application, url: extra_attributes_client_application_path) do |f| %>
<div class="panel">
  <div class="row">
    <%= render partial: 'extra_attribute_models/fields_for', locals: { form: f } %>
  </div>
</div>
  <%= f.submit t('client_applications.form.submit'), class: 'action button radius success' %>
<% end %>
