<div class="row crud-header">
  <h1 class="large-6 columns">
    <%= title t('client_applications.list.title') %>
  </h1>

  <div class="large-6 columns quick-filter-container">
    <%= render_simple_filter(client_applications_path, :query) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'client_applications/filter' %>

<%= render_flashes %>

<%= render_context_actions(:client_application, right: { new:  { url: new_client_application_path } }, target: ClientApplication) %>

<%= render_filter_labels(:client_applications) %>

<p><%= kaminari_info @client_applications %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-6"><%= t('activerecord.attributes.client_application.name') %></th>
    <th class="large-2"><%= t('activerecord.attributes.client_application.url') %></th>
    <th class="large-4"><%= t('activerecord.attributes.client_application.identifier') %></th>
    <th class="large-2"><%= t('activerecord.attributes.client_application.news_source') %></th>
    <th class="large-2"><%= t('activerecord.attributes.client_application.enabled') %></th>
    <th class="large-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @client_applications.each do |client_application| %>
    <tr>
      <td><%= client_application.name %></td>
      <td><%= client_application.url %></td>
      <td><%= client_application.identifier %></td>
      <td><%= client_application.news_source %></td>
      <td class="text-center"><%= render_boolean client_application.enabled %></td>
      <td>
        <%= render partial: 'actions_dropdown', locals: {client_application: client_application} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @client_applications %>
  </div>
</div>
