<h1><%= title t('client_application_routes.title') %></h1>

<%= render_flashes %>

<div class="row">
  <div class="large-12 columns">
    <%= form_tag invalidate_routes_client_application_path do -%>
      <div class="show-field-container panel">
        <div class="row">
          <div class="large-12 columns">
            <%= label_tag 'Ruta a invalidar'  %>
            <%= text_field_tag 'raw_route' %>
          </div>
        </div>
      </div>

      <ul class="form-actions right">
        <li> <input type="submit" class="button alert radius" value=" <%= t('client_application_routes.submit') %>"> </li>
      </ul>
    <%- end -%>

  <%= render_context_actions :client_application, left: { back: { url: client_applications_path } } %>
  </div>
</div>
