<h1><%= title t('client_applications.new.title') %></h1>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :client_application, left: { back: { url: client_applications_path } } %>
