<div class="preview" <%= plugins 'clientapplicationspreview' => {previewBaseUrl: update_preview_client_application_path(@client_application), message: image_tag('indicator-large.gif') + ' ' + t('indicators.loading')} %>>
  <%= form_tag update_preview_client_application_path(@client_application),
               id: 'preview-form',
               data: {plugins: escape_configuration('collapsible' => {collapseOnInit: false, useToggle: '#preview-form-toggle', labels: { rise: '<i class="fi-arrow-down"></i>', collapse: '<i class="fi-arrow-up"></i>' }})} do %>
    <%= hidden_field_tag 'representation_id', @representation.id if @representation %>

    <div class="row">
      <div class="large-9 columns">
        <div class="row collapse">
          <span class="large-2 columns">
            <span class="prefix silent n-a">
              <%= t 'client_applications.preview.route' %>
            </span>
          </span>
          <span class="large-6 columns">
            <%= select_tag :route, options_from_collection_for_select(@client_application.routes, :id, :to_s, @default_route.try(:id)),
                           {id: 'routes', data: {plugins: escape_configuration('select2' => {})}} %>
          </span>
          <span class="large-3 large-offset-1 columns">
            <%= label_tag :user_authenticated, class: 'inline' do %>
              <%= check_box_tag :user_authenticated %>
              <%= t('client_applications.preview.user_authenticated') %>
            <% end %>
          </span>
        </div>

		<div class="row collapse">
		  <span class="large-2 columns">
			<span class="prefix silent n-a">
			  <%= t 'client_applications.preview.format' %>
			</span>
		  </span>
		  <span class="large-6 columns end">
			<%= select_tag :format, options_for_select(View.uniq.pluck(:format), nil), {id: 'formats', data: {plugins: escape_configuration('select2' => {})}} %>
		  </span>
		</div>

        <div class="row">
          <div class="large-12 columns parameters hide" data-routes="<%= ArticleRoute.pluck(:id) %>">
            <%= field_set_tag t('client_applications.preview.route_parameters') do %>
              <div class="row">
                <div class="large-6 columns">
                  <%= label_tag t('activerecord.models.section') %>
                  <%= collection_select2_select :parameters, :section, Section.all, :slug, :name, {}, {}, {placeholder: t('client_applications.preview.section_placeholder')} %>
                </div>
                <div class="large-6 columns">
                  <%= label_tag t('activerecord.models.article') %>
                  <%= ajax_select2_field :parameters, :article, search_articles_path(key_method: 'slug'), {placeholder: t('client_applications.preview.article_placeholder'), allowClear: false} %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="large-12 columns parameters hide" data-routes="<%= SectionRoute.pluck(:id) %>">
            <%= field_set_tag t('client_applications.preview.route_parameters') do %>
              <%= label_tag t('activerecord.models.section') %>
              <%= collection_select2_select :parameters, :section, Section.all, :slug, :name, {}, {}, {placeholder: t('client_applications.preview.section_placeholder')} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="large-3 columns">
        <%= render partial: 'client_applications/preview_actions' %>
      </div>
    </div>
  <% end %>
  <div class="row toggle-row">
    <div class="large-12 columns text-center">
      <a href="#routes" id="preview-form-toggle"></a>
    </div>
  </div>

  <div class="preview-container">
    <iframe id="preview-frame" frameborder="0"></iframe>
  </div>
</div>
