<h1><%= title t('client_applications.show.title', client_application: @client_application) %></h1>

<%= render_flashes %>

<div class="show-field-container panel" <%= plugins clientapplicationsdetails: {} %>>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.identifier' %></div>
    <div class="large-9 columns">
      <strong>
        <%= render_value @client_application.identifier %>
      </strong>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.name' %></div>
    <div class="large-9 columns"><%= render_value @client_application.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.url' %></div>
    <div class="large-9 columns"><%= link_to @client_application.url, @client_application.url, target: '_blank' %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.news_source' %></div>
    <div class="large-9 columns"><%= render_value @client_application.news_source %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.servers' %></div>
    <div class="large-9 columns">
      <ul>
      <% @client_application.servers.each do |s| %>
        <li><%= s %> [<%= l s.updated_at %>]</li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%=t 'activerecord.attributes.client_application.enabled' %></div>
    <div class="large-9 columns"><%= render_boolean @client_application.enabled %></div>
  </div>

  <div class="row">
    <h2><%= t 'client_applications.form.cache' %></h2>

    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.route_cache_control' %></div>
      <div class="large-9 columns"><%= @client_application.calculated_route_cache_control %></div>
    </div>

    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.service_cache_control' %></div>
      <div class="large-9 columns"><%= @client_application.calculated_service_cache_control %></div>
    </div>

    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.external_varnish_urls' %></div>
      <div class="large-9 columns">
        <% @client_application.external_varnish_urls.each do |url| %>
          <p> <%= url %> </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application.internal_varnish_urls' %></div>
      <div class="large-9 columns">
        <% @client_application.internal_varnish_urls.each do |url| %>
          <p> <%= url %> </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <h2><%= t 'client_applications.form.assets' %></h2>

    <div class="row">
      <div class="large-3 columns label-element"><%=t 'activerecord.attributes.client_application.assets_url' %></div>
      <div class="large-9 columns"><%= render_value @client_application.assets_url %></div>
    </div>
  </div>

  <div class="row">
    <h2><%= t 'client_applications.form.media' %></h2>

    <div class="row">
      <div class="large-3 columns label-element"><%=t 'activerecord.attributes.client_application.media_url' %></div>
      <div class="large-9 columns"><%= render_value @client_application.media_url %></div>
    </div>

  </div>

  <div class="row">
    <%= render partial: 'extra_attribute_models/show_fields', locals: {extra_attribute_model: @client_application.extra_attribute_model} %>
  </div>

  <div class="row">
    <div class="right">
      <a href="#" class="button small radius details-toggle"><%= t 'activerecord.actions.route.toggle_details' %></a>
    </div>
    <h2><%= t 'client_applications.form.routes' %></h2>

    <%= render partial: 'client_applications/routes_detail' %>
  </div>

  <%= render partial: 'paper_trail/versions/versions', locals: {versions: @client_application.versions} %>

</div>

<%= render_context_actions :client_application, left: { back: {url: client_applications_path} },
                                                right: { preview:                {url: preview_client_application_path(@client_application)},
                                                         manage_representations: {url: client_application_representations_path(@client_application)},
                                                         assets_compile:         {url: compile_assets_client_application_path(@client_application), method: :post},
                                                         manage_assets:          {url: client_application_assets_path(@client_application), class: 'success'},
                                                         edit:                   {url: edit_client_application_path(@client_application)},
                                                         destroy:                {url: client_application_path(@client_application)} },
                                                target: @client_application %>
