<li class="article" data-id="<%= article.id %>" data-view-id="<%= article_configuration.view_id if article_configuration %>">
  <%= render article %>

  <div class="row inline-labels article-views">
    <div class="large-1 columns">
      <div class="cover-editor-article-actions">
        <i class="delete-action fi-x"></i>
      </div>
    </div>
    <div class="large-3 columns">
      <label class="right inline"><%= t 'representations.cover.editor.settings.cover_article_view' %></label>
    </div>
    <div class="large-8 columns">
      <%= render partial: 'representations/cover_editor/each_article_views', locals: {article_configuration: article_configuration} %>
    </div>
  </div>
</li>