<div class="filters">
  <div class="row available-articles-filters">
    <div class="large-6 columns">
      <%= datepicker_field :edition, :date, {}, {placeholder: t('editions.label.singular'), class: 'edition-date', id: nil} %>
    </div>
    <div class="large-6 columns">
      <%= collection_select2_select :section, :id, @sections, :id, :to_s, {prompt: true}, {placeholder: t('sections.label.singular'), class: 'section-id', id: nil} %>
    </div>
  </div>
</div>

<div class="search-results">
  <div class="searching-box">
    Buscando...
  </div>
  <input type="text" autocomplete="off" class="livefilter" placeholder="<%= t('representations.cover.editor.settings.articles.livefilter') %>" <%= plugins livefilter: {searchIn: '.available-articles-results', searchScope: '^.search-results', elements: '.article', reorderOnMatch: true, hideWhenEmpty: true} %>>
  <ul class="tabular inset sortable available-articles-results"></ul>
</div>
