<div class="r-col">
  <div class="components-container">
    <% column.component_configurations.each do |component_configuration| %>
      <%= render partial: "representations/cover_editor/#{component_configuration.type.underscore}", object: component_configuration %>
    <% end %>
  </div>
</div>