<div class="r-component cover-component-configuration" data-cover-id="<%= cover_component_configuration.id %>">
  <div class="title">
    <span class="const-cover-description"><%= cover_component_configuration.description %></span>
    <span class="n-a">&middot; <%= cover_component_configuration.component %></span>
  </div>

  <div class="content">
    <a class="add-module" href="#add-module">
      <i class="fi-plus"></i>
      <%= t 'representations.cover.editor.actions.add_module' %>
    </a>

    <span class="cover-articles-component-configurations-container">
      <% cover_component_configuration.cover_articles_component_configurations.each do |cover_articles_configuration| %>
        <%= render partial: 'representations/cover_editor/cover_articles_component_configuration', object: cover_articles_configuration %>
      <% end %>
    </span>

    <a class="add-module" href="#add-module">
      <i class="fi-plus"></i>
      <%= t 'representations.cover.editor.actions.add_module' %>
    </a>
  </div>
</div>
