<%= hidden_field_tag 'id', configuration.id %>

<div class="row inline-labels">
  <div class="large-2 columns">
    <%= label_tag 'component_id', t('representations.cover.editor.settings.type'), class: 'right inline' %>
  </div>
  <div class="large-4 columns">
    <%= collection_select2_select :configuration, :component_id, @module_types, :id, :to_s, {selected: configuration.component_id}, {class: 'value-module-type'} %>
  </div>

  <div class="large-2 columns">
    <%= label_tag 'view', t('representations.cover.editor.settings.view'), class: 'right inline' %>
  </div>
  <div class="large-4 columns">
    <% @module_types.each do |type| %>
      <%= collection_select2_select :configuration, :view_id, type.views.select(&:cover_view?), :id, :to_s, {selected: configuration.view_id}, {class: "value-module-view type-dependent show-for-type-#{type.id}", disabled: 'disabled'} %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="group-title">
      <%= t 'representations.cover.editor.settings.articles.in_use' %>
    </div>
    <ol class="tabular inset sortable large-12 columns associated-articles">
      <% configuration.articles_cover_articles_component_configurations.each do |article_configuration| %>
        <%= render partial: 'representations/cover_editor/article',
                   object: article_configuration.article,
                   locals: {article_configuration: article_configuration} %>
      <% end %>
    </ol>
  </div>
  <div class="large-5 large-offset-1 columns available-articles">
    <%= render partial: 'representations/cover_editor/available_articles', locals: { articles: configuration.articles } %>
  </div>
</div>
