<div class="module-container" data-module-id="<%= cover_articles_component_configuration.id %>">
  <div class="module">
    <div>
      <span class="n-a">
        <span class="display-module-type"><%= cover_articles_component_configuration.component %></span> &middot;
      </span>
      <span class="module-description">
        <span class="display-module-description"><%= cover_articles_component_configuration %></span>
      </span>
    </div>

    <ul class="stats simple marginless">
      <li class="stat">
        <%= t 'representations.cover.editor.articles' %>
        <span class="display-articles-count"><%= cover_articles_component_configuration.articles.count %></span>
      </li>
      <li class="stat">
        <%= t 'representations.cover.editor.main_article' %>
        <span class="display-main-article"><%= cover_articles_component_configuration.articles.first %></span>
      </li>
      <li class="stat">
        <%= t 'representations.cover.editor.view' %>
        <span class="display-module-view"><%= cover_articles_component_configuration.view %></span>
      </li>
    </ul>

    <!-- Settings buttons -->
    <div class="settings-group">
      <a href="#setup" class="settings" title="<%= t 'representations.cover.editor.actions.setup_module' %>">
        <i class="fi-wrench"></i>
      </a>
      <a href="#move-up" class="move up" data-direction="up" title="<%= t 'representations.cover.editor.actions.move_up' %>">
        <i class="fi-arrow-up"></i>
      </a>
      <a href="#move-down" class="move down" data-direction="down" title="<%= t 'representations.cover.editor.actions.move_down' %>">
        <i class="fi-arrow-down"></i>
      </a>
      <a href="#remove" class="remove" title="<%= t 'representations.cover.editor.actions.remove_module' %>" data-ask="<%= t 'representations.cover.editor.confirmations.remove_module' %>">
        <i class="fi-x"></i>
      </a>
    </div>
    <!-- /Settings buttons -->
  </div>

  <!-- Settings modal -->
  <div class="reveal-modal fullscreen settings-modal">
    <div class="modal-title">
      <h2>
        <span class="large-5 columns text-right n-a container-name">
          <span class="display-cover-description"><%= cover_articles_component_configuration.cover_component_configuration %></span> &raquo;
        </span>
        <span class="large-7 columns">
          <%= text_field_tag :description, cover_articles_component_configuration.description, class: 'value-module-description' %>
        </span>
      </h2>
    </div>

    <div class="modal-content">
      <%= render partial: 'representations/cover_editor/cover_articles_component_configuration_form', object: cover_articles_component_configuration, as: :configuration %>
    </div>

    <div class="modal-footer">
      <div class="text-right">
        <a href="#close" class="dismiss-modal button medium success radius"><%= t 'representations.cover.editor.actions.dismiss_modal' %></a>
      </div>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- /Settings modal -->
</div>
