<% (@_c ||= CoverArticlesComponent.eager_load(:views)).each do |type| %>
  <%= collection_select2_select :article_configuration, :view_id, type.views.select(&:article_view?).sort {|a,b| a.name <=> b.name}, :id, :to_s,
                                { selected: (article_configuration.view_id if article_configuration) },
                                { class: "value-article-view type-dependent show-for-type-#{type.id}", disabled: 'disabled' } %>
<% end %>