<div class="row canvas">
  <% @representation.rows.each do |row| %>
    <%= render partial: 'representations/cover_editor/row', object: row %>
  <% end %>
</div>

<!-- Templates -->
<script id="template-module" type="text/html">
  <%= render partial: 'representations/cover_editor/cover_articles_component_configuration', object: @configuration_template %>
</script>
<!-- /Templates -->