<div class="r-row">
  <div class="cols-container">
    <% row.columns.each do |column| %>
      <%= render partial: 'representations/cover_editor/column', object: column %>
    <% end %>
  </div>
</div>