/*
 * Styles for the Livefilter JS plugin.
 */

@import 'compass/css3';

@mixin matching {
  @include transition(all .2s);
  opacity: 1;
}

@mixin non-matching {
  @include transition(all .2s);
  opacity: .2;
}

.lf-match {
  @include matching;
}

.lf-no-match {
  @include non-matching;
}