/*
 * Styles for the Indicators JS plugin.
 */

@import "compass";

@mixin indicator($z-index: 5) {
  @include inline-block;
  z-index: $z-index;

  img {
    @include inline-block;
  }
}

.indicator {
  @include indicator;
}