// Styles for the Dropzone Backend Plugin
@import 'compass/css3';


@-moz-keyframes loading {
  0%   { background-position: 0 -400px; }
  100% { background-position: -7px -400px; }
}

@-webkit-keyframes loading {
  0%   { background-position: 0 -400px; }
  100% { background-position: -7px -400px; }
}

@-o-keyframes loading {
  0%   { background-position: 0 -400px; }
  100% { background-position: -7px -400px; }
}

@-ms-keyframes loading {
  0%   { background-position: 0 -400px; }
  100% { background-position: -7px -400px; }
}

@keyframes loading {
  0%   { background-position: 0 -400px; }
  100% { background-position: -7px -400px; }
}

.plugin-dropzone, .plugin-dropzone * {
  @include box-sizing(border-box);
}

.plugin-dropzone {
  position: relative;
  padding: 1em;
  min-height: 200px;
  border-radius: 3px;

  &.clickable {
    * {
      cursor: default;
    }

    &, .message {
      cursor: pointer;
    }
  }

  &.drag-hover {
    border-color: rgba(#000, 0.15);
    background: rgba(#000, 0.04);

    .message {
      opacity: 0.15;
      filter: alpha(opacity=15);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    }
  }

  &.started {
    .message {
      display: none;
    }
  }

  .message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  .dz-preview {
    background: rgba(#fff, 0.8);
    position: relative;
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 6px 6px 6px 6px;
    box-shadow: 1px 1px 4px rgba(#000, 0.16);
    font-size: 14px;

    &:hover {
      &.error {
        .error-message {
          display: block;
          opacity: 1;
          -ms-filter: none;
          filter: none;
        }
      }

      .details {
        img {
          display: none;
        }
      }

      .dz-success-mark,
      .dz-error-mark {
        display: none;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        text-align: center;
        right: -10px;
        top: -10px;
      }
    }

    &.dz-image-preview:hover {
      .dz-details {
        img {
          display: block;
          opacity: 0.1;
          filter: alpha(opacity=10);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        }
      }
    }

    &.dz-error {
      .dz-progress .dz-upload {
        background: #ee1e2d;
      }

      .dz-error-mark {
        display: block;
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
    }

    &.dz-success {
      .dz-success-mark {
        display: block;
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }

      .dz-progress {
        display: block;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
      }
    }

    &.dz-processing {
      .dz-progress {
        display: block;
      }
    }

    .dz-details {
      width: 100px;
      height: 100px;
      position: relative;
      background: #ebebeb;
      padding: 5px;
      margin-bottom: 22px;

      .dz-filename {
        overflow: hidden;
        height: 100%;
      }

      .dz-size {
        position: absolute;
        bottom: -28px;
        left: 3px;
        height: 28px;
        line-height: 28px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
      }
    }

    .dz-error-mark,
    .dz-success-mark {
      display: block;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      -ms-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out;
      background-image: url(image-path('dropzone-spritemap.png'));
      background-repeat: no-repeat;

      span {
        display: none;
      }
    }

    .dz-success-mark {
      color: #8cc657;
      background-position: -268px -163px;
    }

    .dz-error-mark {
      color: #ee162d;
      background-position: -268px -123px;
    }

    .dz-error-message {
      display: none;
      position: absolute;
      top: -5px;
      left: -20px;
      background: rgba(245,245,245,0.8);
      padding: 8px 10px;
      color: #800;
      min-width: 140px;
      max-width: 500px;
      z-index: 500;
      display: block;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }

    .dz-progress {
      position: absolute;
      top: 100px;
      left: 6px;
      right: 6px;
      height: 6px;
      background: #d7d7d7;
      display: none;

      .dz-upload {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        background-color: #8cc657;
        -webkit-animation: loading 0.4s linear infinite;
        -moz-animation: loading 0.4s linear infinite;
        -o-animation: loading 0.4s linear infinite;
        -ms-animation: loading 0.4s linear infinite;
        animation: loading 0.4s linear infinite;
        -webkit-transition: width 0.3s ease-in-out;
        -moz-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        -ms-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-image: url(image-path('dropzone-spritemap.png'));
        background-repeat: repeat-x;
        background-position: 0px -400px;
      }
    }
  }
}
