/*
 * Styles for the Collapsible JS plugin.
 */

@mixin collapsible($collapsed-class: collapsed, $risen-class: risen) {
  &.#{$collapsed-class} {
    display: none;
  }

  &.#{$risen-class} {
    display: block;
  }
}

.collapsible {
  @include collapsible;
}

.collapsible-toggle {
  display: block;
}
