<%= form_for(@tag, url: combine_update_tag_path(@tag), method: :post) do |f| %>
  <div class="field-container panel">
    <div class="row">
      <p class="large-12 columns hint"><%= raw t('tags.combine.description', tag: @tag) %></p>
    </div>
    <div class="row">
      <div class="field large-6 columns">
        <%= f.label :name %>
        <strong class="n-a"><%= render_value raw @tag.name %></strong>
      </div>
      <div class="field large-6 columns">
        <%= f.label :slug %>
        <p class="n-a"><%= render_value raw @tag.slug %></p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <fieldset id="already-combined">
          <legend><%= t('tags.combine.already_combined', tag: @tag) %></legend>

          <div class="row">
            <% if @tag.combined.any? %>
              <p class="large-12 columns hint">
                <%= t('tags.combine.already_combined_description', separate: t('tags.combine.separate')) %>
              </p>

              <% @tag.combined.each do |tag| %>
                <div class="large-12 columns already-combined-item">
                  <span class="large-1 columns">
                    <a href="#" class="button radius tiny alert separate-button" data-id="<%= tag.id %>" data-name="<%= tag %>">
                      <%= t('tags.combine.separate') %>
                    </a>
                  </span>
                  <p class="large-11 columns"><%= tag %></p>
                </div>
              <% end %>
            <% else %>
              <div class="large-12 columns n-a"><%= t('tags.combine.nothing') %></div>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <fieldset id="similar">
          <legend><%= t('tags.combine.similar') %></legend>

          <div class="row">
            <% if @tag.similar(@tag.name.length / 4).any? %>
              <p class="large-12 columns hint">
                <%= t('tags.combine.similar_description', include: t('tags.combine.include')) %>
              </p>

              <% @tag.similar.each do |tag| %>
                <div class="large-12 columns similar-item">
                  <span class="large-2 columns">
                    <a href="#" class="button tiny radius success combine-button" data-id="<%= tag.id %>">
                      <%= t('tags.combine.include') %>
                    </a>
                  </span>
                  <p class="large-10 columns"><%= tag %></p>
                </div>
              <% end %>
            <% else %>
              <div class="large-12 columns n-a"><%= t('tags.combine.nothing') %></div>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="large-6 columns">
        <fieldset>
          <legend><%= t('tags.combine.specific') %></legend>

          <div class="row">
            <p class="large-12 columns hint">
              <%= t('tags.combine.specific_description') %>
            </p>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <%= f.label :serialized_combined, t('tags.combine.available') %>
              <%= ajax_select2_field :tag, :serialized_combined, search_tags_path(except: @tag), { escape_markup: false }, { prompt: true, multiple: true, placeholder: t('tags.combine.select_tags') } %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <ul class="form-actions right">
    <li><%= f.submit value: t('tags.combine.submit'), class: 'action button radius success' %></li>
  </ul>
<% end %>
