<div class="form-container">
  <%= form_for(@tag) do |f| %>

    <%= render_form_errors @tag  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :slug %>
          <%= f.text_field :slug %>
          <span class='hint'><%= t('tags.new.slug_advice') %></span>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :hidden do -%>
            <%= f.check_box :hidden %>
            <%= t('activerecord.attributes.tag.hidden') %>
          <% end -%>
          <span class="hint"><%= t('activerecord.attributes.tag.hidden_hint') %></span>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
