<h1><%= title t('tags.combine.title', tag: @tag) %></h1>

<%= render_flashes %>

<div class="form-container" <%= plugins combinetags: { separateEndpoint: separate_tags_path, separateConfirmation: t('tags.combine.separateConfirmation') } %>>
  <%= render 'combine_form' %>
</div>

<%= render_context_actions :tag, right: { back: { url: tags_path } } %>
