<div class="row crud-header">
  <h1 class="large-6 columns">
    <%= title @in_scope == :visible ? t('tags.list.title') : t('tags.list.hidden_title') %>
  </h1>

  <div class="large-6 columns quick-filter-container">
    <%= render_simple_filter(tags_path, :name) %>
  </div>
</div>

<%= render_flashes %>

<%= render_context_actions :tag, right: { new: { url: new_tag_path } }, target: Tag %>

<p><%= kaminari_info @tags %></p>

<%= render partial: 'tag_visibility_switcher' %>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'tags', field: 'name', label: t('activerecord.attributes.tag.name') } %>
      </th>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'tags', field: 'slug', label: t('activerecord.attributes.tag.slug') } %>
      </th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each.with_index do |tag, i| %>
      <tr id="tag_<%= tag.id %>">
        <td><%= raw tag.name %></td>
        <td><%= raw tag.slug %></td>
        <td>
          <%= render_dropdown_actions tag, :tag, show:        {url: tag_path(tag)},
                                                 edit:        {url: edit_tag_path(tag)},
                                                 combine:     {url: combine_tag_path(tag)},
                                                 blacklist:   {url: blacklist_tag_path(tag, page: params[:page], nt: @tags[i+1]), method: :post, condition: !tag.hidden?},
                                                 unblacklist: {url: unblacklist_tag_path(tag, page: params[:page], nt: @tags[i+1]), method: :post, condition: tag.hidden?},
                                                 destroy:     {url: tag_path(tag)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @tags %>
  </div>
</div>
