<h1><%= title t('tags.show.title') %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.tag.name' %></div>
    <div class="large-9 columns"><%= render_value raw @tag.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.tag.slug' %></div>
    <div class="large-9 columns"><%= render_value raw @tag.slug %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.tag.combined' %></div>
    <div class="large-9 columns"><%= render_value @tag.combined.join(', ') %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.tag.hidden' %></div>
    <div class="large-9 columns"><%= render_boolean @tag.hidden %></div>
  </div>
</div>

<%= render partial: 'paper_trail/versions/versions', locals: {versions: @tag.versions} %>

<%= render_context_actions :tag, left: { back: {url: tags_path} },
                                 right: { combine: {url: combine_tag_path(@tag), text: t('tags.combine.title', tag: @tag)},
                                          edit:    {url: edit_tag_path(@tag)},
                                          destroy: {url: tag_path(@tag)} },
                                 target: @tag %>
