  <div class="show-field-container panel">
    <h2><%= t 'versions.title' %></h2>
    <div class="row">
      <div class="large-12 columns">
        <% if versions.empty? %>
          <p><%= t 'versions.no_versions' %></p>
        <% else %>
          <div class="timeline">
          <% versions.each do |version| %>
            <p class="elem"><%= version_link version %></p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
