<% if @filter.any? && !@filter.simple_filter? %>
  <p class="filters-labels" <%= plugins 'crudfilters' => {'filtersSelector' => '.filter-form-container'} %>>
    <%= t "activerecord.actions.shared.filter_by" %>
    <% @filter.values_to_print(scope).each do |key, value| %>
      <span class="secondary radius label">
        <%= value %>
        <a class="remove-label" href="#" data-key="<%= key %>"><i class="fi-x"></i></a>
      </span>
    <% end %>
  </p>
<% end %>