<%= form_tag(action, method: :get) do %>
  <div class="row collapse">
    <div class="large-8 columns" >
      <%= text_field :filter, filter_key, placeholder: t('filter.actions.simple_search') %>
    </div>
    <div class="large-1 columns">
      <%= button_tag type: 'submit', name: 'commit', value: t('activerecord.actions.shared.filter'), class: 'button postfix' do %>
        <i class="fi-magnifying-glass"></i>
      <% end %>
    </div>
    <div class="large-2 columns end">
      <%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button postfix radius secondary' %>
    </div>
  </div>
<% end %> 