<section>
  <p class="title" data-section-title><a href="#"><%= t 'activerecord.attributes.component.assets' %></a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component.assets' %></div>
      <ul class="large-10 columns no-bullet">
        <% @component.assets.each do |asset| %>
          <li><%= link_to asset, component_asset_path(@component, asset) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
