<section>
  <p class="title" data-section-title><a href="#"><%= t 'activerecord.attributes.component.context' %></a></p>
  <div class="content" data-section-content>
    <div class="row context-content">
      <div class="large-12 columns" >
        <%= CodeRay.scan(@component.context, :ruby).div(:line_numbers => :table).html_safe %>
      </div>
    </div>
  </div>
</section>
