<div class="large-3 columns label-element"><%= Component.human_attribute_name(:defaults) %></div>
<% if @component.fields.any? %>
  <div class="large-12 columns" style="overflow-x: auto">
    <table class="component-defaults">
      <thead>
      <tr>
        <th rowspan="2"><%= ComponentField.human_attribute_name(:name) %></th>
        <th colspan="2" class="text-center"><%= t 'components.show.defaults.accessible_via' %></th>
        <th rowspan="2"><%= ComponentField.human_attribute_name(:type) %></th>
        <th rowspan="2"><%= ComponentField.human_attribute_name(:default) %></th>
      </tr>
      <tr>
        <th><%= t 'components.show.defaults.in_context' %></th>
        <th><%= t 'components.show.defaults.in_views' %></th>
      </tr>
      </thead>
      <tbody>
      <% @component.fields.each do |field| %>
        <tr>
          <th class="text-left"><%= field %></th>
          <td><code><%= field.context_name %></code></td>
          <td><code><%= field.view_name %></code></td>
          <td><%= field.class.model_name.human %></td>
          <td>
          <span style="overflow: auto">
            <%= render partial: "components/show/fields/#{field.field_type}", locals: {field: field} %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="large-9 columns n-a"><%= t 'components.show.defaults.no_defaults' %></div>
<% end %>