<section>
  <p class="title" data-section-title><a href="#"><%= t 'activerecord.attributes.component.services' %></a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component.services' %></div>
      <ul class="large-10 columns no-bullet">
        <% @component.services.each do |service| %>
          <li><%= link_to service, component_service_path(@component, service) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
