<section>
  <p class="title" data-section-title><a href="#"><%= t 'activerecord.attributes.component.locales' %></a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component.locales' %></div>
      <ul class="large-10 columns no-bullet">
        <% @component.translations.each do |translation| %>
          <li><%= link_to translation, component_translation_path(@component, translation) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
