<section>
  <p class="title" data-section-title><a href="#"> Representaciones asociadas </a></p>
  <div class="content" data-section-content>
    <div class="row label-element"> Este componente se encuentra siendo utilizado en las siguientes representaciones: </div>
    <ul class="row no-bullet">
      <% associated_representations = @component.associated_representations %>
      <% if associated_representations.empty? %>
        <h4> Ninguna </h4>
      <% else %>
        <% associated_representations.each do |representation| %>
          <li> <%= link_to representation.name, client_application_representation_path(representation.client_application.id, representation.id) %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
