<section>
  <p class="title" data-section-title><a href="#"><%= t 'versions.title' %></a></p>
  <div class="content" data-section-content>
    <div class="row">
      <%= render partial: 'paper_trail/versions/versions', locals: {versions: @component.versions} %>
    </div>
  </div>
</section>

