<section>
  <p class="title" data-section-title><a href="#"><%= t 'activerecord.attributes.component.views' %></a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component.views' %></div>
      <ul class="large-10 columns no-bullet">
        <% @component.views.each do |view| %>
          <li>
            <%= link_to component_view_path(@component, view) do -%>
              <%= view %>
              <span class="n-a">&middot; <%= view.format %></span>
              <%- if view.default? %>
                <%= render_boolean(true) %> <%= t 'component/views.show.default_view' %>
              <% end -%>
            <% end -%>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
