<%= render_dropdown_actions(version, :version, {
  show:    { url: version_path(version) },
  restore:   {
    url: restore_version_path(version),
    method: :post,
    class: 'alert',
    condition: version.restorable?
  }
}) %>
