<div class="filter-form-container panel radius"
  <%= plugins collapsible: { useToggle: '#filters-toggle',
                             labels: { rise: t('activerecord.actions.shared.show_filter'),
                                       collapse: t('activerecord.actions.shared.hide_filter') },
                             collapseOnInit: !@filter.any? } %>
   >
   <%= form_tag(versions_path, :class => 'filters-form', method: :get) do %>
     <div class="field-container">
       <div class="row">
         <div class="large-6 columns">
           <%= label :filter, :event, t('activerecord.attributes.version.event') %>
           <%= select_tag  'filter[event]', options_for_select(events_with_translation, @filter[:event]), include_blank: true, data: {plugins: {select2: {}} } %>
         </div>
         <div class="large-6 columns">
           <%= label :filter, :model, t('activerecord.attributes.version.model') %>
           <%= select_tag  'filter[item_type]', options_for_select(versionable_item_types_with_translation, @filter[:item_type]), include_blank: true, data: {plugins: {select2: {}} } %>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="large-8 columns">
           <%= label :filter, :whodunnit, t('activerecord.attributes.version.whodunnit') %>
           <%= text_field :filter, :whodunnit, placeholder: (@filter[:whodunnit] || t('activerecord.attributes.version.whodunnit')) %>
       </div>
     </div>
     <div class="row">
       <ul class="form-actions large-10 columns">
         <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
         <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
       </ul>
     </div>
   <% end %>
</div>
