<div class="row crud-header">
  <h1 class="large-5 columns">
    <%=  t 'auditing.title' %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'versions/filter' %>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-4"><%= t('auditing.version') %></th>
      <th class="large-2"><%= t('auditing.user') %></th>
      <th class="large-2"><%= t('auditing.action') %></th>
      <th class="large-6"><%= t('auditing.date') %></th>
      <th class="large-2"><!-- actions --></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= t("activerecord.models.#{version.item_type.underscore}") %></td>
        <td><%= perpetrator version.whodunnit %></td>
        <td><%= t "versions.events.#{version.event}" %></td>
        <td><%= l version.created_at, format: :long_with_time %></td>
        <td><%= render partial: 'actions_dropdown', locals: {version: version} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @versions %>
  </div>
</div>
