<h1>
  <%= t('versions.versioned_at',
        action: t("versions.events.#{@version.event}"),
        date: l(@version.created_at, format: :long_with_time),
        perpetrator: perpetrator(@version.whodunnit)) %>
</h1>

<%= render_flashes %>

<div class="show-field-container panel">
  <% @resource.attributes.each do |name, attr| %>
      <div class="row">
        <div class="large-3 columns label-element">
          <%= t "activerecord.attributes.#{@version.item_type.downcase}.#{name}" %>:
        </div>
        <div class="large-9 columns">
          <%= raw Differ.diff(attr.to_s, @previous.send(name).to_s) %>
        </div>
      </div>
  <% end %>
</div>

<%= render_context_actions :version,
  left:  {back:    {url: versions_path} },
  right: {restore: {url: restore_version_path(@version), method: :post, condition: @version.restorable?},
          # diff_current:  {url: diff_current_path(@version)},
          show_resource: {url: generic_show_path(@resource), condition: @resource.persisted? && generic_show_path(@resource)}
},
target: @version
%>

<%#
    TODO: dynamically get printable attributes
- paper_trailed_obj.options has {:ignore=>[], :skip=>[], :only=>[], :meta=>{}}
maybe create a concern with 'printable_attributes'
options[:only].any? -> attribute_names -> :only
options[:skip]
- sino, se puede agregar una '[black/white]_list' a cada modelo
    %>
