<div class="row" id="login-container">
  <div class="large-5 columns large-centered end">

    <%= render_flashes %>

    <div class="row">
      <div class="large-12 columns">
        <h4 class="application-name"><%= t('app.name') %></h4>
      </div>
    </div>

    <div class="panel">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :username, t('activerecord.attributes.user.username') %>
            <%= f.text_field :username, autocomplete: 'off', autofocus: true, tabindex: 1 %>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :password, t('activerecord.attributes.user.password') %>
            <%= f.password_field :password, tabindex: 2 %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="row">
            <div class="large-12 columns">
              <%= f.label :remember_me do -%>
                <%= f.check_box :remember_me %>
                <%= t 'activerecord.attributes.user.remember_me' %>
              <% end -%>
            </div>
          </div>
        <% end -%>

        <div class="row">
          <div class="large-12 columns">
            <%= f.submit t('session.login.submit'), class: 'button success radius right', tabindex: 3 %>
          </div>

          <div class="large-12 columns">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>