#most_read{
float: left;
width: 100%;
margin: 10px 0px 10px 0px;
}

#most_read h3{
font-size: 3em;
margin: 0px 0px 10px 0px;
letter-spacing: -1px;
}

#most_read .case{
clear: both;
margin-bottom: 15px;
}

#most_read .case > img{
float: left;
width: 70px;
border: 1px solid #ccc;
padding: 3px;
background-color: #fff;
margin: 0px 15px 10px 0px;
}

#most_read .case > p{
color: #333;
text-align: left;
margin: 0px 0px 5px 0px;
line-height: 1.4em;
}

#most_read .case > p > a{
font-weight: bold;
display: block;
}

