<div class="form-container">
  <%= form_for [@client_application, @asset], url: update_content_client_application_asset_path(@client_application, @asset) do |f| %>
    <%= render_form_errors @asset %>

    <div class="field-container panel">
      <div class="form-item" data-item-hidden="<%= @asset.id %>">
        <div class="row">
          <div class="large 12-columns">
            <%= f.label :content %>
            <%= f.text_area :content, data: {plugins: escape_configuration('codemirror' => {mode: @asset.content_type})}, id: "codemirror_#{@asset.id}", class: 'codemirror' %>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('client_application_assets.form.submit'), class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>