<div class="form-container">
  <%= form_for @asset, url: create_empty_client_application_assets_path(@client_application) do |f| %>
    <%= render_form_errors @asset %>

    <div class="field-container panel">
      <div class="row" id="prefix-path">
        <div class="large-6 columns">
          <%= f.label :prefix_path %>
          <span data-tooltip class="has-tip tip-right" title="<%= t('activerecord.attributes.client_application_asset.prefix_path_description') %>">?</span>
          <%= f.text_field :prefix_path, data: { plugins: escape_configuration('autocomplete' => { searchUrl: search_components_path, object_method: 'slug' }) }  %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <%= f.text_field :file %>
        </div>
        <div class="large-2 columns left">
          <%= collection_select2_select(:client_application_asset, :type, AssetUploader.empty_asset_extensions, :to_s, :to_s) %>
        </div>
      </div>
    </div>
    <div class="large 12-columns">
      <ul class="form-actions right">
        <li><%= f.submit class: 'action button radius success' %></li>
      </ul>
    </div>
  <% end %>
</div>
