<div class="form-container">
  <%= form_for [@client_application, @asset], url: (@asset.new_record? ? client_application_assets_path(@client_application) : client_application_asset_path(@client_application, @asset) ) do |f| %>
    <%= render_form_errors @asset %>
    <div class="field-container panel">
      <div class="form-item">
        <div class="row" id="prefix-path">
          <div class="large-12 columns">
            <%= f.label :prefix_path %>
            <%= f.text_field :prefix_path, data: { plugins: escape_configuration('autocomplete' => { searchUrl: search_components_path, object_method: 'slug' }) }  %>
            <div class="hint">
              <%= t('activerecord.attributes.client_application_asset.prefix_path_description') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :file %>
            <%= f.file_field :file %>
            <% if @asset.file_identifier  %>
              <em class="hint"><%= t('client_application_assets.form.current_file', file: @asset.file_identifier) %></em>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('client_application_assets.form.submit'), class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
