<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application.name, @client_application %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('client_applications.list.assets', client_application: @client_application.name) %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :client_application_assets, 
  left: { 
    new_empty: { url: new_empty_client_application_assets_path(@client_application), class: 'success' } 
  },
  right: { 
    new: { url: new_client_application_asset_path(@client_application) } 
  },
  target: ClientApplicationAsset
%>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-8"><%= t('activerecord.attributes.client_application_asset.file') %></th>
    <th class="large-3"><%= t('activerecord.attributes.client_application_asset.is_favicon') %></th>
    <th class="large-1"></th>
  </tr>
  </thead>

  <tbody>
  <% @application_assets.each do |application_asset| %>
    <tr>
      <td>
        <%= application_asset %>
        <% if application_asset.logo_for?(@client_application) %>
          (<%= t('activerecord.attributes.client_application.logo') %>)
        <% end %>
      </td>
      <td><%= render_boolean application_asset.favicon_for?(@client_application) %></td>
      <td>
        <%= render_dropdown_actions application_asset, :client_application_assets,
          {
            show:         { url: client_application_asset_path(@client_application, application_asset, :goto => :cli_assets) },
            edit:         { url: edit_client_application_asset_path(@client_application, application_asset) },
            rename:       { url: rename_client_application_asset_path(@client_application, application_asset) },
            edit_content: 
                          { 
                            url: edit_content_client_application_asset_path(@client_application, application_asset),
                            condition: application_asset.editable?,
                            class: 'success'
                          },
            unset_as_favicon:
                          {
                            url: toggle_as_client_application_asset_path(@client_application, application_asset, :toggable => :favicon),
                            condition: application_asset.can_be_favicon? && application_asset.favicon_for?(@client_application),
                            class: 'alert',
                            method: :post
                          },
            set_as_favicon:
                          {
                            url: toggle_as_client_application_asset_path(@client_application, application_asset, :toggable => :favicon),
                            condition: application_asset.can_be_favicon? && !application_asset.favicon_for?(@client_application),
                            class: 'success',
                            method: :post
                          },
            unset_as_logo:
                          {
                            url: toggle_as_client_application_asset_path(@client_application, application_asset, :toggable => :logo),
                            condition: application_asset.can_be_logo? && application_asset.logo_for?(@client_application),
                            class: 'alert',
                            method: :post
                          },
            set_as_logo:  
                          {
                            url: toggle_as_client_application_asset_path(@client_application, application_asset, :toggable => :logo),
                            condition: application_asset.can_be_logo? && !application_asset.logo_for?(@client_application),
                            class: 'success',
                            method: :post
                          },
            download:     { url: client_application_asset_serve_path(application_asset) },
            dissasociate_representations:
                          {
                            url: dissasociate_representations_client_application_asset_path(@client_application, application_asset), 
                            data: { confirm: t('client_application_assets.dissasociate_representations.messages.confirmation') },
                            class: 'alert'
                          },
            destroy:      { url: client_application_asset_path(@client_application, application_asset) }
          }
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @application_assets %>
  </div>
</div>

<%= render_context_actions :client_application, left: { back: {url: client_applications_path} } %>
