<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application.name, @client_application %></li>
    <li><%= link_to t('client_applications.assets.title'), @list_path %></li>
    <li>&nbsp;</li>
  </ul>

  <h1 class="large-12 columns">
    <%= title t('client_applications.new.assets', client_application: @client_application.name) %>
  </h1>
</div>

<%= render_flashes %>

<%= render 'client_application_assets/form' %>

<%= render_context_actions :client_application_assets, left: { back: { url: @list_path } } %>
