<h1><%= title t('activerecord.actions.client_application_assets.new_empty_for', client_app: @client_application.name) %></h1>

<%= render_flashes %>

<%= render 'client_application_assets/form_new_empty' %>

<%= render_context_actions :client_application_assets, left: { back: { url: @list_path } } %>
