<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application.name, @client_application %></li>
    <li><%= link_to t('client_applications.assets.title'), @list_path %></li>
    <li>&nbsp;</li>
  </ul>

  <h1 class="large-12 columns">
    <%= title t('client_application_assets.rename.title', asset: @asset) %>
  </h1>
</div>

<div class="form-container">
  <%= form_for @asset, url: update_name_client_application_asset_path(@client_application, @asset) do |f| %>
    <%= render_form_errors @asset %>

    <div class="field-container panel">
      <div class="form-item" data-item-hidden="<%= @asset.id %>">
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :file %>
            <%= f.text_field :file, value: @asset.relative_url_without_extension(false) %>
            <div class="hint">
              <%= t('component/assets.name_hint') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit t('component/assets.form.submit'), class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>

<%= render_context_actions :client_application_assets, left: { back: { url: @list_path } } %>
