<div class="row crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application.name, @client_application %></li>
    <li><%= link_to t('client_applications.assets.title'), @list_path %></li>
    <li>&nbsp;</li>
  </ul>

  <h1 class="large-12 columns">
    <%= title t('client_application_assets.show.title', asset: @asset) %>
  </h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application_asset.type' %></div>
    <div class="large-9 columns"><%= @asset.type %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application_asset.file' %></div>
    <div class="large-9 columns"><%= render_value @asset.file_url %></div>
  </div>
  <% if @asset.can_be_favicon? %>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application_asset.is_favicon' %></div>
      <div class="large-9 columns"><%= render_boolean @asset.favicon_for?(@container, strict: true) %></div>
    </div>
  <% end %>
  <% if @asset.can_be_logo? && @container.can_have_logo? %>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application_asset.is_logo' %></div>
      <div class="large-9 columns"><%= render_boolean @asset.logo_for?(@container) %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.client_application_asset.content' %></div>
    <div class="large-9 columns">
      <%= render_asset @asset %>
    </div>
  </div>
  <% if @asset.editable? %>
    <div class="row">
      <div class="large-3 columns label-element"><%= t 'activerecord.attributes.component_asset.compiled_content' %></div>
      <div class="large-9 columns">
        <%= render_asset @asset, compiled: true %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="large-3 columns label-element"><%= t('activerecord.attributes.client_application_asset.representations_present') %></div>
    <ul class="large-9 columns no-bullet">
      <% @asset.representations.each do |representation| %>
        <li><%= representation %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render_context_actions :client_application_assets, 
  left: { 
    back: { url: @list_path } 
  },
  right: { 
    edit: { url: @edit_path },
    edit_content: { url: @edit_content_path, class: 'success', condition: @asset.editable? }
  },
  target: @asset %>
