/*ARTICLE*/

.article {
  font-family: 'Oswald-Regular', arial, sans-serif;
  color: #333; }

  .article .volanta {
font-size: 120%;
line-height: 1.2em;
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 10px;
}

.article-main{
    float: left;
  
    width: 100%;
}


  .article .title {
    font-size: 325%;
    line-height: 1.2em;
    letter-spacing: 0px; 
    margin-bottom: 10px;
}

  .article .autor {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 0px; 
    font-family: 'Oswald-Regular', arial, sans-serif; line-height: 1.2em;
    margin-bottom: 10px;
}

  .article .bajada {
    font-size: 170%;
    line-height: 1.3em;
    letter-spacing: 0px; 
    margin-bottom: 10px;
}

  .article .actions {
    padding: 7px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; }

    .article .actions .action-expand {
      float: right;
      padding: 0px 5px; }

    .article .actions .action-shrink {
      float: right;
      padding: 0px 5px; }

    .article .actions .action-print, .article .actions .action-suggest, .article .actions .action-comment {
      padding: 0px 5px; }

  .article .main_image{
    float: left;
    
  
    width: 100%;
}

  .article .main_image img {
    float: left;
    width: 98.5%;
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #FFF;
    margin-bottom: 2%; }
    
  .article .galleria { 
    width: 580px;
    height: 400px;
    background: #000;
  }

  .article .body {
    font: normal 140%/1.6em Georgia, serif; 
    text-align: justify;
 
    color: #333;
}
  
    .article .body p {
 
    color: #333;
    float: left;
    margin: 10px 0px;
}
  
  
    .article .body a {
      text-decoration: underline; }
  .article .tags {
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px;
    padding-bottom: 30px;
    float: left;
    width: 100%; }
    
    .article .tags h5{
      
    }  
  .article .tags ul {
    float: left;
    width: 100%;
    margin: 10px 0px 10px 0px; }
  .article .tags li {
    float: left;
    position: relative;
    margin: 0px 10px 0px 10px; 
}
  .article .tags li a {
    display: block;
    max-height: 20px;
    height: 20px;
    margin: 2px 0px 0 0;
    padding: 0 10px 0 10px;
    border-radius: 0 2px 2px 0;
    font: 10px/19px Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    color: #fff !important;
    background: #ccc; 
}
  .article .tags li:hover {
    opacity: 0.75; }
  .article .tags li a:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 10px;
    border-color: transparent #ccc transparent transparent;
    border-bottom-style: solid;
    position: absolute;
    top: 0px;
    left: -22px;
    z-index: 99;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border: inset 11px !important;
    max-height: 20px;
    height: 20px;
}
  .article .tags li a:after {
    content: "  ";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 9px;
    left: -1px;
    font-size: 29px;
    color: #fff;
    background: #fff;
    z-index: 1000;
    border-radius: 2px; }

/* NOTAS RELACIONADAS */
.links {
    float: left;
 
    width: 100%;
    border-bottom: 1px solid #CCC; margin-bottom: 30px; padding-bottom: 30px;
}

.links ul{
  
}
  .links li {
    line-height: 1.3em;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 10px;
    border-bottom: 1px dotted #CCC; 
}
  .links h5 { }

  .links li a{
    
  }
  
    .links li a:before{
   content: "·"; 
  
   font-size: 24px;
   position: absolute;
   margin: -1px 0px 0px -10px;
}

#comments{
    float: left;
  
    width: 100%;
    margin: 0px 0px 20px 0px;
}