.galleria-layer {
  .audio {
    padding: 1em 0em;
    transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    -webkit-transform: scale(0.8,0.8);
    -webkit-backface-visibility: hidden;
  }
}