ul {
  &.tabs {
    list-style: none;

    li {
      float: left;
      
      .tab {
        padding: 0 1em;
        display: inline;
        border: solid;
	      border-width: 1px 1px 0 1px;
        border-radius: 6px;
	      margin: 0 0.1em 0 0;
        background-color: #333;
        font-size: 2em;
      }
    }
  }
}

ul {
  &.content {
    clear: both;
  }
}