<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') }, collapseOnInit: !@filter.any? } %>>
  <%= form_tag(roles_path, :class => 'filters-form', method: :get) do %>
    <div class="field-container">
      <div class="row">
        <div class="large-2 columns">
          <%= label :filter, :name, t('activerecord.attributes.role.name'), class: 'right inline' %>
        </div>
        <div class="large-10 columns">
          <%= text_field :filter, :name, class: 'six' %>
        </div>
      </div>
      <ul class="form-actions large-10 columns large-offset-2">
        <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
        <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
      </ul>
    </div>
  <% end %>
</div>
