<div class="form-container">
  <%= form_for(@role) do |f| %>
    <%= render_form_errors @role  %>

    <div class="field-container panel">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :enabled do -%>
            <%= f.check_box :enabled %>
            <%= t 'activerecord.attributes.role.enabled' %>
          <% end -%>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :permissions %>
          <div class="row">
            <%- Permission.all.each do |permission| %>
              <div class="large-4 columns">
                <%= f.label :permissions, for: "permission_#{permission.parameterize}" do -%>
                  <%= f.check_box :permissions, {multiple: true, id: "permission_#{permission.parameterize}"}, permission, nil %>
                  <%= t permission, scope: [:permissions] %>
                <% end -%>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: "action button radius success" %></li>
    </ul>
  <% end %>
</div>
