<div class="boolean-collection">
  <% Permission.all.each do |permission| -%>
    <% included = subject.has_permission? permission %>
    <div class="large-4 columns boolean-item <%= 'un' unless included %>checked">
      <%= render_boolean included %>
      <%= t permission, scope: [:permissions] %>
    </div>
  <% end -%>
</div>
