<h1><%= title t('roles.edit.title') %></h1>

<%= render_flashes %>

<%= render 'form' %>

<ul class="context-actions">
  <li><%= link_to t('activerecord.actions.shared.back'), roles_path, class: "action button radius secondary" %></li>
  <li><%= link_to t('activerecord.actions.shared.show'), @role, class: "action button radius" %></li>
</ul>
