<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('roles.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(roles_path, :name) %>
  </div>
</div>

<%= render_flashes %>

<%= render_context_actions :role, right: { new: { url: new_role_path } }, target: Role %>

<p><%= kaminari_info @roles %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'roles', field: 'name', label: t('activerecord.attributes.role.name') } %>
      </th>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'roles', field: 'enabled', label: t('activerecord.attributes.role.enabled') } %>
      </th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @roles) do |role| %>
      <td><%= role.name %></td>
      <td><%= render_boolean role.enabled? %></td>
      <td>
        <%= render_dropdown_actions role, :role, show:    {url: role_path(role)},
                                                 edit:    {url: edit_role_path(role)},
                                                 destroy: {url: role_path(role)} %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @roles %>
  </div>
</div>
