<h1><%= title t('roles.new.title') %></h1>

<%= render_flashes %>

<%= render 'form' %>

<ul class="context-actions button-group radius">
  <li><%= link_to t('activerecord.actions.shared.back'), roles_path, class: "action button secondary radius" %></li>
</ul>

