<h1><%= title t('roles.show.title') %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.role.name' %></div>
    <div class="large-9 columns"><%= @role.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.role.enabled' %></div>
    <div class="large-9 columns"><%= render_boolean @role.enabled? %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.role.permissions' %></div>
    <div class="large-9 columns">
      <%= render partial: 'permissions_detail', locals: { subject: @role } %>
    </div>
  </div>
</div>

<%= render_context_actions :role, left: { back: {url: roles_path} },
                                 right: { edit:  {url: edit_role_path(@role)},
                                          destroy: {url: role_path(@role)} },
                                 target: @role %>
