<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @representation, client_application_representation_path(@client_application, @representation) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations/backups.show.title') %></h1>
</div>

<%= render_flashes %>

<p><%= kaminari_info @backups %></p>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-5"><%= t('activerecord.attributes.backups.date') %></th>
    <th class="large-5"><%= t('activerecord.attributes.backups.time') %></th>
    <th class="large-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @backups.each do |backup| %>
    <tr>
      <td>
        <%= l(backup.name.to_date, format: :long) %>
      </td>
      <td>
        <%= l(backup.name.to_time, format: :long) %>
      </td>
      <td>

        <%= render_dropdown_actions backup, :representation_backups,
          {
            show:    { url: client_application_representation_backup_path(@client_application, @representation, backup) },
            restore: { 
                        url: restore_client_application_representation_backup_path(@client_application, @representation, backup),
                         method: :post, 
                         data: { confirm: t('representation_backups.actions.confirmation.apply') }
                      },
            destroy: { url: client_application_representation_backup_path(@client_application, @representation, backup) }
          }
        %>
        
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @backups %>
  </div>
</div>
