<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application, client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @representation, client_application_representation_path(@client_application, @representation) %></li>
    <li><%= link_to t('representations/backups.label.plural'), client_application_representation_backups_path(@client_application, @representation) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations/backups.show.title') %></h1>
</div>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.representation.client_application' %></div>
    <div class="large-9 columns"><%= render_value @client_application.name %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.backups.client_representation' %></div>
    <div class="large-9 columns"><%= render_value @representation.name %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.backups.date' %></div>
    <div class="large-9 columns"><%= render_value l(@backup.name.to_date, format: :long) %></div>
  </div>
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.backups.time' %></div>
    <div class="large-9 columns"><%= render_value l(@backup.name.to_time, format: :long) %></div>
  </div>
</div>

<%= render_context_actions :representations_backups,
  left: {
    back: { url: client_application_representation_backups_path(@client_application, @representation) }
  },
  right: {
    restore: { 
      url: restore_client_application_representation_backup_path(@client_application, @representation, @backup), 
      class: 'success', 
      method: :post, 
      data: { confirm: t('representation_backups.actions.confirmation.apply') } 
    }
  },
  target: @backup %>
