.seccion {
width: 580px;
margin-top: 20px;
}

.seccion article{
float: left;
width: 100%;
margin: 0px 0px 10px 0px;
}

.seccion article time{
float: left;
}

.seccion article time {
  float: left;
}

.article-date{
    font-weight: bold;
    margin-bottom: 5px;
    float: right;
}

.article-date.past{
    display: inline;
  
}

.article-date.today{
      display: none;
}

.article-time{
    float: right;
}

.seccion article div.alpha{
float: left;
width: 220px;
margin-right: 10px;
}

.seccion article div.alpha a{

}

.seccion article div.alpha a img{
border: 1px solid rgb(204, 204, 204); 
padding: 3px; 
background-color: rgb(255, 255, 255);

}

.seccion article div.omega{
float: left;
width: 280px;
margin-left: 10px;
}

.seccion article div.omega h5{
font-size: 200%;
margin-bottom: 10px;
letter-spacing: -1px;
}

.seccion article div.omega p{
margin: 0px 0px 10px 0px;
color: #333; 
line-height: 1.4em;
}


.seccion article div.omega p:after{
content: "[...]";
margin: 0px 0px 0px 5px;
}


.seccion #more-articles{
    margin: 0px 0px 10px 0px;
  
    float: left;
}
.seccion #more-articles h2{
    float: left;
        margin: 0px 0px 0px 60px;
}

#see-more-trigger{
border-radius: 5px;
padding: 5px;
width: auto;
font: bold 13px "helvetica neue", helvetica, arial, sans-serif;
color: #fff;
text-decoration: none;
text-align: center;
text-shadow: 0 -1px 1px #000f4d;
float: left;  
}
