// General theming variables
$app-color-black:        #0a0a0a;
$app-color-darkest:      #0055a7;
$app-color-darker:       #2f79c0;
$app-color-normal:       #0082ff;
$app-color-lighter:      #5eb0ff;
$app-color-lightest:     #a9d5ff;
$app-color-white:        #fafafa;
$app-color-light-grey:   #eeeeee;
$app-color-grey:         #cccccc;
$app-color-dark-grey:    #aaaaaa;
$app-color-darkest-grey: #888888;
$app-color-warning:      #ffd74c;
$app-color-highlight:    #c2e9ff;
$app-color-red:          #ae0d11;
$primary-color:          #2ba6cb;
$secondary-color:        #e9e9e9;
$alert-color:            #c60f13;
$success-color:          #5da423;

// Grid settings
$row-width: 62.5em;
$column-gutter: emCalc(10px);
$total-columns: 12;

// Top Bar Settings
$topbar-height:                45px;
$topbar-margin-bottom:         0;
$topbar-bg:                    $app-color-lighter;
$topbar-dropdown-bg:           $app-color-lighter;
$topbar-dropdown-toggle-alpha: 0.8;

// Colors settings
$black: $app-color-black;
$white: $app-color-white;

// Button settings
$global-radius: 4px;
$button-radius: 4px;

@import 'foundation/variables';
@import 'compass/css3/transform';

// Global mixins
%center-in-parent {
  // Parent element should have
  //    position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}
