.social_profiles {    
	
	  li{
		float: left;
		width: 32px;
		height: 31px;
		margin-right: 12px;
		margin-bottom: 10px;
    }
	
    a {
		display: block;
		width: 32px;
		height: 31px;
		text-indent:-9000px;
		text-decoration:none;
		color:#000;
		font-size:80%;
	
	  &:hover {
        background-position:0 -32px;
	  }
    } 
	
    .facebook {
		background: image-url("social_profiles/facebook.png") no-repeat ;
    }	
    
	 .twitter {
		background: image-url("social_profiles/twitter.png") no-repeat ;
    }	
	
    .google {
		background: image-url("social_profiles/google.png") no-repeat ;
    }	

	
    .youtube {
		background: image-url("social_profiles/youtube.png") no-repeat ;
    }	
	
	.linkedin {
		background: image-url("social_profiles/linkedin.png") no-repeat ;
    }
	
	.flickr {
		background: image-url("social_profiles/flickr.png") no-repeat ;
    }
	
	.technorati {
		background: image-url("social_profiles/technorati.png") no-repeat ;
    }

	.sharethis {
		background: image-url("social_profiles/sharethis.png") no-repeat ;
    }
	
	.skype {
		background: image-url("social_profiles/skype.png") no-repeat ;
    }
	
	.rss {
		background: image-url("social_profiles/rss.png") no-repeat ;
    }

}