<ul class="context-actions">
  <span class="right">
    <%- right_actions.each do |options| %>
      <li><%= link_to(options.delete(:text), options.delete(:url), options) %></li>
    <% end -%>
  </span>
 
  <%- left_actions.each do |options| %>
    <li><%= link_to(options.delete(:text), options.delete(:url), options) %></li>
  <% end -%>
</ul>
