
<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') }} %>>
  <%= form_tag(media_path, :class => 'filters-form', method: :get) do %>
    <div class="field-container">

      <div class="row panel radius">
        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :article_id, t('media.filter.belong_article') %>
            <%= ajax_select2_field :filter, :article_id, search_articles_path, {}, { placeholder: t('articles.none'), allowClear: true  } %>
          </div>

          <div class="large-4 columns">
            <%= label :filter, :type, t('media.filter.type') %>
            <%= i18n_select :filter, :type, Medium.types, i18n_key: 'media.types', include_blank: true %>
          </div>
          <div class="large-4 columns">
            <%= label :filter, :date, t('media.filter.date') %>
            <div class="row collapse">
                <div class="large-4 columns">
                  <%= datepicker_field :filter, :date_from, { trigger: '#media-datefrom-trigger', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.from') } %>
                </div>
                <div class="large-2 columns">
                  <a href="#" class="button postfix" id="media-datefrom-trigger">
                    <i class="fi-calendar"></i>
                  </a>
                </div>

                <div class="large-4 columns">
                  <%= datepicker_field :filter, :date_to, { trigger: '#media-dateto-trigger', shownOn: 'never', constrainInput: true }, { placeholder: t('activerecord.actions.shared.to') } %>
                </div>
                <div class="large-2 columns">
                  <a href="#" class="button postfix" id="media-dateto-trigger">
                  <i class="fi-calendar"></i>
                  </a>
                </div>
            </div>
          </div>
        </div>

        <ul class="form-actions">
          <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
          <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
        </ul>

      </div>


    </div>
  <% end %>
</div>
