<div class="form-container">
  <%= form_for(@medium, as: :medium, url: form_upload_medium_path(@medium), html: {multipart: true}) do |f| %>
    <%= f.hidden_field :type %>
    <%= render_form_errors @medium  %>

    <div class="field-container panel">
      <% unless @medium.new_record? %>
        <div class="row">
          <%= f.label :type %>
          <p><%= t "media.types.#{@medium.type}" %></p>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
        <%= f.label :date_string %>
          <div class="row collapse">  
            <div class="large-3 columns">
              <%= datepicker_field :medium, :date_string, { trigger: '#media-date-trigger', shownOn: 'never', constrainInput: true }, { value: date_with_format(@medium.date) } %>
            </div>
            <div class="large-1 columns end">
              <a href="#" class="postfix button" id="media-date-trigger"><i class="fi-calendar"></i></a>
            </div>
          </div>
          <div class="hint">
            <p><%= t('media.list.filter.date_help') %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :tags %>
          <%= tagging_select :medium, :serialized_tags, search_tags_path, :visible, { }, { multiple: true }  %>
        </div>
      </div>

      <%= render partial: "media/#{@medium.type.underscore}/form_fields", locals: { f: f } %>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
