<div class="row">
  <h1><%= title t('media.edit.title') %></h1>
  <span class="right"><%= preview_medium @medium, prefix: 'index' %></span>
</div>
<%= render 'form' %>

<%= render_context_actions :medium, left: { 
  back: { url: media_path },
  show: { url: medium_path(@medium) }
} %>
