<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('media.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(media_path, :query) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>

</div>

<%= render 'media/filter' %>

<%= render_flashes %>

<%- if can? :create, Medium %>
<ul class="crud context-actions right">
  <li>
    <a href="#" class="action button radius success dropdown" data-dropdown="action-dropdown-general">
      <%= t('activerecord.actions.medium.new') %>
    </a>
    <ul class="f-dropdown" id="action-dropdown-general" <%= plugins 'mover' => {} %> data-dropdown-content>
      <li><%= link_to t('activerecord.actions.audio_medium.new'), new_audio_media_path %></li>
      <li><%= link_to t('activerecord.actions.embedded_medium.new'), new_embedded_media_path %></li>
      <li><%= link_to t('activerecord.actions.file_medium.new'), new_file_media_path %></li>
      <li><%= link_to t('activerecord.actions.image_medium.new'), new_image_media_path %></li>
    </ul>
  </li>
</ul>
<% end -%>

<%= render_filter_labels(:media) %>

<p><%= kaminari_info @media %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-2"><%=t 'activerecord.attributes.medium.type' %></th>
      <th class="large-2"><%=t 'activerecord.attributes.medium.name' %></th>
      <th class="large-6"><%=t 'media.preview' %></th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @media) do |medium| %>
      <td><%= t "media.types.#{medium.type}" %>
        <div class="additional-information">
          <div class="categories collapse">
            <em><%= t('activerecord.attributes.media.tags') %>:</em>
                <%= medium.tags.join(', ') %>
          </div>
        </div>
      </td>
      <td><%= render_value raw medium.name %></td>
      <td>
        <%= preview_medium(medium, prefix: 'index') %>
      </td>
      <td>
        <%= render_dropdown_actions(medium, :medium,
          {
            show:     {url: medium_path(medium)},
            edit:     {url: edit_medium_path(medium)},
            destroy:  {url: medium_path(medium)}
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @media %>
  </div>
</div>
