<h4><%= t 'media.existent.search.results' %></h4>
<hr>
<ul class="large-block-grid-5 media-search-results">
  <% @media.each do |medium| %>
  <li class="medium medium-<%= medium.id %>" data-type="<%= medium.type %>">
    <div class="row">
      <a class="right add_nested_fields button small radius success add-medium" data-association="article_media"
        data-blueprint-id="article_media_fields_blueprint"
        data-target=".selected-media-pane"
        data-medium-url="<%= find_medium_path(medium.id) %>"
        data-medium-id="<%= medium.id %>"
      href="javascript:void(0)"><%= t('media.search.add') %></a>
      <%= preview_medium medium, controller: 'articles' %>
    </div>
  </li>
  <% end %>
</ul>
<div class="large-12 columns centered">
  <%= paginate @media %>
</div>