<h1><%= title t('media.show.title') %></h1>

<%= render_flashes %>
<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.type' %></div>
    <div class="large-9 columns"><%= t "media.types.#{@medium.type}" %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.name' %></div>
    <div class="large-9 columns"><%=  render_value raw @medium.name %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.date' %></div>
    <div class="large-9 columns"><%= render_value date_with_format(@medium.date) %></div>
  </div>

    <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.tags' %></div>
    <div class="large-9 columns"><%= render_value @medium.tags.join(', ') %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.file' %></div>
    <div class="large-9 columns"><%= render_value @medium.file %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.content' %></div>
    <div class="large-9 columns"><%= render_value @medium.content %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.medium.galleries' %></div>
      <div class="large-9 columns">
        <ul>
        <% @medium.media_galleries.each do | media_gallery | %>
          <div class="row">
            <div class="large-9 columns">
              <li>
                <%= link_to media_gallery.title, gallery_path(media_gallery) %>
              </li>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
  </div>
</div>

<%= render_context_actions :medium, left: { back: {url: media_path} },
                                    right: { edit:  {url: edit_medium_path(@medium)},
                                             destroy: {url: medium_path(@medium)} },
                                    target: @medium %>

<h3> <%= t('media.actions.preview') %></h3>

<%= preview_medium @medium %>
