<%= form_for(
  [@client_application, @representation.representation, @view], 
  url: @view.new_record? ? client_application_representation_views_path(@client_application, @representation.representation, @view) : client_application_representation_view_path(@client_application, @representation.representation, @view)
) do |f| %>
  <%= render_form_errors @view %>
  <div class="field-container panel">
    <div class="form-item row" data-item-hidden="<%= @view.id %>">
      <div class="row">
        <div class="large-6 columns">
          <%= f.label t('activerecord.attributes.view.name') %>
          <%= f.text_field :name %>
        </div>
        <div class="large-6 columns">
          <%= f.label t('activerecord.attributes.view.format') %>
          <%= f.text_field :format %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label t('activerecord.attributes.view.value') %>
          <%= f.text_area :value, data: { plugins: escape_configuration('codemirror' => { mode: "text/html" }) }, id: "codemirror_#{@view.id}", class: 'codemirror' %>
        </div>
      </div>
    </div>
  </div>

  <ul class="form-actions right">
    <li><%= f.submit t('component/views.form.submit'), class: 'action button radius success' %></li>
  </ul>
<% end %>
