<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application,  client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @representation.name, client_application_representation_path(@client_application, @representation.representation) %></li>
    <li><%= link_to t('representations_views.list.title'), client_application_representation_views_path(@client_application, @representation.representation) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations_views.edit.title') %></h1>
</div>

<%= render_flashes %>

<%= render 'form' %>

<%= render_context_actions :representation_views, left: { back: { url: client_application_representation_views_path(@client_application, @representation.representation) } } %>
