<div class="row crud-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application,  client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @representation.name, client_application_representation_path(@client_application, @representation.representation) %></li>
    <li>&nbsp;</li>
  </ul>
  <h1 class="large-12 columns">
    <a href="#" class="right" id="filters-toggle"></a>
    <%= title t('representations_views.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions :representation_views, right: { new: { url: new_client_application_representation_view_path } }, target: View %>

<table class="crud-table">
  <thead>
  <tr>
    <th class="large-6">
      <%= t 'activerecord.attributes.representations_view.name' %>
    </th>
    <th class="large-3">
      <%= t 'activerecord.attributes.representations_view.format' %>
    </th>
    <th class="large-1">
      <%= t 'activerecord.attributes.representations_view.associated' %>
    </th>
    <th class="large-2"></th>
  </tr>
  </thead>
  <tbody>
  <% @views.each do |view| %>
    <tr>
      <td>
        <%= view.name %>
      </td>
      <td>
        <pre><%= render_value view.format, '<span class="n-a">text/html</span>'.html_safe %></pre>
      </td>
      <td class="text-center">
        <%= render_boolean @representation.views.include? view %>
      </td>
      <td>
        <%= render_dropdown_actions view, :base_representation_views,
          {
            show:         { url: client_application_representation_view_path(@client_application, @representation.representation, view) },
            edit:         { url: edit_client_application_representation_view_path(@client_application, @representation.representation, view) },
            disassociate: 
                          { 
                            url: disassociate_client_application_representation_view_path(@client_application, @representation.representation, view), 
                            condition: @representation.has_view?(view),
                            method: :post
                          },
            associate:    
                          { 
                            url: associate_client_application_representation_view_path(@client_application, @representation.representation, view),
                            condition: !@representation.has_view?(view) && @representation.can_have_view?(view),
                            method: :post,
                            divider: true
                          },
            in_use: 
                          {
                            disable_text: t('representations_views.list.actions.associate'),
                            disable_title: t('representations_views.associate.messages.format_in_use'),
                            condition: !@representation.has_view?(view) && !@representation.can_have_view?(view),
                            divider: true,
                            disabled: true
                          },
            destroy:      { url: client_application_representation_view_path(@client_application, @representation.representation, view) }
          }
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render_context_actions :representation, left: { back: { url: client_application_representations_path(@client_application) } } %>
