<div class="crud-inner-header">
  <ul class="breadcrumbs">
    <li><%= link_to t('client_applications.label.plural'), client_applications_path %></li>
    <li><%= link_to @client_application,  client_application_path(@client_application) %></li>
    <li><%= link_to t('representations.label.plural'), client_application_representations_path(@client_application) %></li>
    <li><%= link_to @representation.name, client_application_representation_path(@client_application, @representation.representation) %></li>
    <li><%= link_to t('representations_views.list.title'), client_application_representation_views_path(@client_application, @representation.representation) %></li>
    <li>&nbsp;</li>
  </ul>

  <h1><%= title t('representations_views.show.title') %></h1>
</div>

<%= render_flashes %>

<div class="row panel show-field-container">
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/views.name' %></div>
    <div class="large-10 columns"><%= @view.name %></div>
  </div>
  <div class="row">
    <div class="large-2 columns label-element"><%= t 'activerecord.attributes.component/views.format' %></div>
    <div class="large-10 columns"><pre><%= @view.format %></pre></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= CodeRay.scan(@view.value, :erb).div(:line_numbers => :table).html_safe %>
    </div>
  </div>
</div>

<%= render_context_actions :representation_views, 
  left: { 
    back: { url: client_application_representation_views_path(@client_application, @representation.representation) } 
  },
  right: {
    edit: { url: edit_client_application_representation_view_path(@client_application, @representation.representation, @view) }
  },
  target: @view %>
