.menu_middle {
  margin: 0 auto;
  height: 40px;
  position: relative;
  float: left;
  width: 100%; }

.menu_middle li:hover + .menu_middle_dropdown {
  display: block; }

.menu_middle li {
  float: left; 
}

.menu_middle li:first-child {
  float: left; 
  margin: 10px 0px 0px 0px;
}

.menu_middle li:first-child a{
  float: left; 
  padding: 0;
  padding: 8px 9px 10px 9px;
}

.menu_middle li:first-child a:hover {
color: #161616;
text-shadow: 1px 1px 1px #fff;
border: 1px solid #777;
background: #F4F4F4;
background: -moz-linear-gradient(top, #f4f4f4, #eeeeee);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#eeeeee));
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
padding: 8px 8px 9px 8px;
border-bottom: none;
}

.menu_middle li .drop {
  background: image-url('menu_top/drop.png') no-repeat right center;
  padding: 8px 15px 8px 0px; }

.menu_middle li > a {
  font-family: 'Oswald-Regular';
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #EEE;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  font-size: 12px;
  float: left;
  padding: 14px 0px 14px 0px;
  margin: 0px 5px 0px 5px; }

.menu_middle_dropdown:hover {
  left: 0;
  display: block; }

.menu_middle_dropdown {
  text-align: left !important;
  padding: 1% 1% 1% 1%;
  margin: 37px 0px 0px 0px;
  border: 1px solid #777;
  background: #F4F4F4;
  background: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#bbbbbb));
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  z-index: 10000;
  display: none;
  border-top: none;
  width: 920px;
  position: absolute; }

.recent_news,
.other_news {
  display: inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px; }

.recent_news {
  width: 600px;
  position: relative; }

.other_news {
  width: 300px; }

.other_news > a {
  font-family: 'Oswald-Regular';
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 14px;
  display: block;
  outline: 0;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  margin: 10px 0px 0px 0px;
  line-height: 1.3em;
  }

.other_news h6 {
  font-size: 1.5em;
  font-family: 'Oswald-Regular', arial, sans-serif;
  }

.recent_news > a {
  float: left;
  position: relative;
  margin: 5px 15px 5px 5px; }

.recent_news > a:before {
  display: block;
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 3px solid white;
  z-index: 101; }

.recent_news > a:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #777;
  z-index: 100; }

.recent_news > a > img {
width: auto;
float: left;
width: 128px;
-moz-box-shadow: 0px 0px 5px #666;
-webkit-box-shadow: 0px 0px 5px #666;
box-shadow: 0px 0px 5px #666;
}

.recent_news h6 {
  font-size: 150%; 
  font-family: 'Oswald-Regular', arial, sans-serif;
  line-height: 1.4em;
  }

.recent_news p {
  width: 100%;
  font: 100%/18px "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #333;
  text-align: left;
  margin: 5px 0px 5px 0px;
  }

.recent_news p > a {
font-family: 'Oswald-Regular';
text-transform: uppercase;
letter-spacing: .5px;
font-size: 14px;
display: block;
outline: 0;
text-decoration: none;
text-shadow: 1px 1px 1px #fff;
margin: 5px 0px 0px 0px;
line-height: 1.6em;
}


.menu_middle_section{
margin: 10px 0px 0px 0px;  
}

.menu_middle_section:hover,
.menu_middle_section.selected{
  border: 1px solid #777;

  margin: 10px 0px 0px 0px;
background: #F4F4F4;
background: -moz-linear-gradient(top, #f4f4f4, #eeeeee);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#eeeeee));
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
} 

.menu_middle_section:hover a,
.menu_middle_section.selected a{
  
    color: #161616; text-shadow: 1px 1px 1px #fff;
    padding: 8px 13px 8px 0px;
}