.full-search {
  margin: 20px 0 30px 10px;
}
.search-text {
  background: #fcfcfc;
  border: 1px inset #AAA;
  margin: 5px 0 5px 0;
  padding: 5px 5px;
  height: 20px;
  font-size: 10px;
}
.search-date {
  background: #fcfcfc;
  border: 1px inset #AAA;
  margin: 5px 0 5px 0;
  padding: 2px 2px;
  height: 18px;
  font-size: 10px;
}
.search-section {
  background: #fcfcfc;
  border: 1px inset #AAA;
  margin: 5px 0 5px 0;
  padding: 5px 5px;
  height: 25px;
  font-size: 10px;
}
.search-submit {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee432e 0), to(#c63929 50%));
  background-image: -webkit-linear-gradient(top, #ee432e 0, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-bottom: 1px solid #450e0e;
  -webkit-box-shadow: inset 0 1px 0 0 #ff7364;
  -moz-box-shadow: inset 0 1px 0 0 #ff7364;
  -ms-box-shadow: inset 0 1px 0 0 #ff7364;
  -o-box-shadow: inset 0 1px 0 0 #ff7364;
  box-shadow: inset 0 1px 0 0 #ff7364;
  font: bold 13px "helvetica neue", helvetica, arial, sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  width: auto;
}
.search-results-container {
  float: left;
  width: 100%}
.search-results-container #results {
  float: left;
  width: 100%}
.full-search-results {
  float: left;
  width: 100%}
.full-search-results li {
margin: 20px 0 20px 0;
list-style: none;
float: left;
width: 100%;
}
  
.full-search-results .main-image {
float: left;
width: 100px;
margin: 25px 10px 0px 0px;
}
.full-search-results .main-image img {
  float: left;
  width: 100px;
}
.result-details {

}
  
.result-details .hit-information {
  width: 100%;
  text-align: right;
}
.result-details .hit-information progress {
border: 1px;
width: 50px;
height: 4px;
vertical-align: middle;
margin: 0px 10px 0px 10px;
}
.result-details .hit-information .edition {
  font-size: .75em;
  text-align: left;
}
.result-details .hit-information .section {
  font-size: .75em;
  text-align: left;
}
.result-details .title {
margin: 10px 0 5px 0;
font-size: 1.2em;
text-align: left;
width: 100%;
line-height: 120%;
}
.full-search-results a {
  text-decoration: none;
}
.full-search-results .ellipsis {
  color: #999;
}
.result-details .lead {
  width: 100%;
  margin: 5px 0 5px 0;
  font-size: 1em;
  text-align: left;
}
.result-details .body {
  font: .688em/1.4em "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #333;
  margin: 0 0 10px 0;
  text-align: left;
}
.full-search-results .result-details em {
  font-weight: bold;
  font-style: normal;
  color: darkred;
}
.result-details .tags {
margin: 2px 20px 5px 10px;
position: relative;
float: left;
}
.full-search-results .tags .tag {

}

.result-details .tags a {
    display: block;
    height: 20px;
    margin: 2px 20px 5px 0px;
    padding: 0 10px 0 10px;
    border-radius: 0 2px 2px 0;
    font: 10px/19px Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    color: #fff !important;
    background: #ccc; 
    position: relative;
    float: left;
}

.result-details .tags a:hover {
    opacity: 0.75; }
    
.result-details .tags  a:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 10px;
    border-color: transparent #ccc transparent transparent;
    border-bottom-style: solid;
    position: absolute;
    top: 0px;
    left: -20px;
    z-index: 99;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.result-details .tags a:after {
    content: "  ";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    left: -1px;
    font-size: 29px;
    color: #fff;
    background: #fff;
    z-index: 1000;
    border-radius: 2px; 
}
