<div class="form-container">
  <%= form_for @route, as: :route, url: url, data: { plugins: escape_configuration(routesform: {})} do |f| %>
  <div class="field-container panel">
  <div class="row">
    <div class="large-1 columns has-tip tip-top" data-tooltip title="<%= t 'activerecord.attributes.route.priority_description' %>">
      <%= f.label :priority %>
      <%= f.number_field :priority, placeholder: "1" %>
    </div>
    <div class="large-1 columns">
      <a href="#" data-reveal-id="all-routes-priorities">
        <i class="fi-magnifying-glass"></i>
      </a>
    </div>
    <div class="large-4 columns">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: t('activerecord.attributes.route.name_description') %>
    </div>
    <div class="large-5 columns">
      <div>
        <%= f.label :type_id %>
        <%= f.collection_select :type, Route.types, :to_s, ->(x) { x.model_name.human.capitalize }, {}, {class: 'type', data: {plugins: escape_configuration(select2: {})}} %>
      </div>
      <%= f.label :default_route, class: 'params-container params-for-ArticleRoute params-for-SectionRoute params-for-SearchRoute params-for-NewsletterRoute' do -%>
        <%= f.check_box :default_route %>
        <%= t 'activerecord.attributes.route.default_route' %>
      <% end -%>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :pattern, class: 'large-offset-4' %>
      <span class="row collapse">
        <span class="large-4 columns">
          <span class="prefix silent muted text-right"><%= @client_application.url || 'http://www.example.com' %></span>
        </span>
        <span class="large-8 columns">
          <%= f.text_field :pattern, placeholder: t('activerecord.attributes.route.pattern_placeholder') %>
        </span>
      </span>
    </div>
    <div class="large-5 columns">
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :pattern, t('client_applications.form.available_parameters') %>
          <div>
            <% Route.types.each do |route_type| %>
              <p class="params-container params-for-<%= route_type %>">
                <% if route_type.available_parameters.empty? %>
                  <span class="n-a">
                    <%= t 'client_applications.form.no_parameters_available' %>
                  </span>
                <% else %>
                  <% route_type.available_parameters.each do |param| %>
                    <code class="url-parameter"><%= param %></code>
                  <% end %>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row attrs-container <%= Route.types.reject { |type| !type.requires_representation? }.map { |k| "attrs-for-#{k}" }.join ' ' %>">
    <div class="large-12 columns">
      <%= f.label :representation %>
      <%= f.collection_select :representation_id, @client_application.representations, :id, :name,  {}, data: {plugins: escape_configuration(select2: {})} %>
    </div>
  </div>

  <div class="row attrs-container <%= Route.types.reject { |type| !type.requires_redirect_url? }.map { |k| "attrs-for-#{k}" }.join ' ' %>">
    <div class="large-12 columns">
      <%= f.label :redirect_url %>
      <%= f.text_field :redirect_url, placeholder: t('activerecord.attributes.route.redirect_url_placeholder') %>
    </div>
  </div>

  <div class="row attrs-container <%= Route.types.reject { |type| type.available_parameters.empty? }.map { |k| "attrs-for-#{k}" }.join ' ' %>">
    <div class="large-12 columns">
      <%= f.label :constrained do %>
        <%= f.check_box :constrained?, class: 'constraints-toggle' %>
        <%= t 'activerecord.attributes.route.constrained' %>
      <% end %>
    </div>

    <fieldset class="constraints-container">
      <legend><%= t 'activerecord.attributes.route.constraints' %></legend>

      <div class="large-12 columns constraint-container <%= Route.types.select { |type| type.available_parameters.include?('article') }.map { |k| "constraint-for-#{k}" }.join ' ' %>">
        <%= f.label :constrained_article %>
        <%= f.text_field :constrained_article_id, data: {plugins: escape_configuration(select2: {ajax: {url: search_articles_path, dataType: 'json'}}), placeholder: t('activerecord.actions.route.use_from_url')} %>
      </div>

      <div class="large-12 columns constraint-container <%= Route.types.select { |type| type.available_parameters.include?('section') }.map { |k| "constraint-for-#{k}" }.join ' ' %>">
        <%= f.label :constrained_section %>
        <%= f.collection_select :constrained_section, Section.visible, :slug, :to_s, {include_blank: true}, data: {plugins: escape_configuration(select2: {})}, placeholder: t('activerecord.actions.route.use_from_url') %>
      </div>
    </fieldset>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :override_client_application_cache_control   do %>
        <%= f.check_box :override_client_application_cache_control, class: 'route-override-client-application-cache-control-toggle' %>
        <%= t 'activerecord.attributes.client_application.override_client_application_cache_control' %>
      <% end %>
    </div>
  </div>

  <fieldset class="route-override-client-application-cache-control-container">
    <legend><%= f.label :cache_control %></legend>
    <div class="large-12 columns columns">
      <%= f.text_field :cache_control, class: 'route-override-client-application-cache-control', placeholder: ClientApplication.route_cache_control_default %>
    </div>
  </fieldset>
  </div>
  <ul class="form-actions right">
    <li><%= f.submit class: 'action button radius success', value: 'Guardar ruta' %></li>
  </ul>
<% end %>
</div>

<div id="all-routes-priorities" class="reveal-modal">
  <div class="row">
    <h2> Prioridad de las rutas actuales </h2>
  </div>
  <div class="alert-box success data-alert hide-for-medium-up" id="route-priority-flash">
  </div>
  <div class="panel">
  <% @routes.each do |route| %>
    <div class="row new-route-position up"><div class="large-12 columns">Ubicar ruta aquí</div></div>
    <div class="row route-priority-info" style="padding: 2px 0;">
      <div class="large-1 columns route-priority"><%= route.priority %></div>
      <div class="large-11 columns route-name"><%= route.name %></div>
    </div>
  <% end %>
  <div class="row new-route-position down"><div class="large-12 columns">Ubicar ruta aquí</div></div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
