<h1><%= title t('client_application_routes.edit.title', route: @route.name) %></h1>

<%= render_form_errors @route %>

<div>
  <%= render 'form', url: client_application_route_path(@client_application, @route) %>
</div>

<%= render_context_actions :routes, left: { back: { url: client_application_routes_path(@client_application) } } %>
