<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('client_application_routes.list.title') %>
  </h1>
</div>

<%= render_flashes %>

<%= render_context_actions(:client_application_routes, right: { new: { url: new_client_application_route_path } }, target: Route) %>

<p><%= kaminari_info @routes %></p>

<table class="large-12 crud-table">
  <thead>
    <tr>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'routes', field: 'priority', label: t('activerecord.attributes.route.priority') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'routes', field: 'name', label: t('activerecord.attributes.route.name') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'routes', field: 'pattern', label: t('activerecord.attributes.route.pattern') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'routes', field: 'type', label: t('activerecord.attributes.route.type_id') } %>
      </th>
      <th>
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'routes', field: 'representation', label: t('activerecord.attributes.route.representation') } %>
      </th>
      <th class="two"></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @routes) do |route| %>
      <td><%= route.priority %></td>
      <td><%= route.name %></td>
      <td><%= route.pattern %></td>
      <td><%= route.type %></td>
      <td><%= route.representation %></td>
      <td>
        <%= render_dropdown_actions(route, :route,
          {
            edit:           { url: edit_client_application_route_path(@client_application, route) },
            destroy:        { url: client_application_route_path(@client_application, route) }
          }
        ) %>
      </td>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @routes %>
  </div>
</div>
