<h1><%= title t('client_application_routes.new.title', client_application: @client_application.name) %></h1>

<%= render_form_errors @route %>

<div>
  <%= render 'form', url: client_application_routes_path(@client_application) %>
</div>

<%= render_context_actions :routes, left: { back: { url: client_application_routes_path(@client_application) } } %>
