.gallery-slider {

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;

    }

    50% { 
      opacity: 0;
    }

    100% { 
      opacity: 1;
    }
  }

  @-webkit-keyframes moveTarget {
    0% {
      left:-700px;

    }

    100% { 
      left:0px;
    }
  }

  @-webkit-keyframes moveIt {
    0% {
      left:0px;

    }
    50% {
      left:700px;

    }
    100% { 
      left:-700px;
      z-index: 5;
    }
  }

  .gs-box {
    text-align: left;
    width: 700px;
    margin: 30px auto 0 auto;
    background: #000;
    overflow: hidden;
    border: 10px solid #000;
    -webkit-box-shadow: #131313 0px 2px 10px;
    -moz-box-shadow: #131313 0px 3px 10px;
    box-shadow: #131313 0px 3px 10px; 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
  }

  ul.gs-slider {
    -webkit-border-radius: 10px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    width: 700px;
    height: 438px;
    overflow: hidden;

    li {
      width: 700px;
      height: 438px;
      position: absolute;

      &:target {
        -webkit-animation-name: moveTarget; 
        -webkit-animation-duration: .5s; 
        -webkit-animation-iteration-count: 1;
        top:0px;
        left: 0px;
        z-index: 10;
      }

      &:not(:target) {
        -webkit-animation-name: moveIt; 
        -webkit-animation-duration: 1.5s; 
        -webkit-animation-iteration-count: 1;
        top:0px;
        left: 0px;
      }

      p {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: inherit;
        color: #fff;
        background: rgba(0, 0, 0, .5);
        width: 100%;

        span {
          line-height: 1.2em;
          padding: 10px;
          display: block;
        }
      }
    }
  }

  ul.gs-thumb {
    overflow: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    background: #000;
    overflow: auto;
    width: 700px;

    a {
      -webkit-transition: opacity .2s ease-in-out;
      border: 1px solid #979797;
      width: 35px;
      height: 35px;
      display: block;
      overflow: hidden;
      float: right;
      margin: 10px 0px 0px 10px;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}