<div class="filter-form-container" <%= plugins collapsible: { useToggle: '#filters-toggle', labels: { rise: t('activerecord.actions.shared.show_filter'), collapse: t('activerecord.actions.shared.hide_filter') }} %>>
  <%= form_tag(galleries_path, :class => 'filters-form', method: :get) do %>
    <div class="field-container">
      <div class="row panel radius">
        <div class="row">
          <div class="large-4 columns">
            <%= label :filter, :type, t('galleries.filter.type') %>
            <%= i18n_select :filter, :type, Gallery.types, i18n_key: 'galleries.types', include_blank: true %>
          </div>
        </div>
        <ul class="form-actions">
          <li><%= submit_tag t('activerecord.actions.shared.filter'), class: 'button radius small' %></li>
          <li><%= submit_tag t('activerecord.actions.shared.clear_filter'), class: 'button radius small secondary' %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
