<div class="form-container">
  <%= form_for(@gallery, as: :gallery, url: url) do |f| %>
    <%= f.hidden_field :type %>
    <%= render_form_errors @gallery  %>

    <div class="field-container panel">
      <% unless @gallery.new_record? %>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :type %>
            <p><%= t "activerecord.attributes.gallery.types.#{@gallery.type}" %></p>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
      </div>

    <%= render partial: "galleries/#{@gallery.type.underscore}/form_fields", locals: { f: f } %>
    </div>

    <ul class="form-actions right">
      <li><%= f.submit class: 'action button radius success' %></li>
    </ul>
  <% end %>
</div>
