<div class="row">
  <h1><%= title t('galleries.edit.title') %></h1>
</div>

<%= render 'form', url: gallery_path(@gallery) %>

<%= render_context_actions :gallery, left: {
  back: { url: galleries_path },
  show: { url: gallery_path(@gallery) }
} %>
