<div class="row crud-header">
  <h1 class="large-5 columns">
    <%= title t('galleries.list.title') %>
  </h1>

  <div class="large-7 columns quick-filter-container">
    <%= render_simple_filter(galleries_path, :title) %>
    <a href="#" class="right" id="filters-toggle"></a>
  </div>
</div>

<%= render 'galleries/filter' %>

<%= render_flashes %>

<%= render_context_actions :madia_gallery, right: { new: { url: new_media_galleries_path } }, target: Gallery %>

<%= render_filter_labels(:galleries) %>

<p><%= kaminari_info @galleries %></p>

<table class="crud-table">
  <thead>
    <tr>
      <th class="large-5">
        <%= render partial: 'shared/sort_field_link' , locals: {list_name: 'galleries', field: 'title', label: t('activerecord.attributes.gallery.title') } %>
      </th>
      <th class="large-5">
        <%= t('activerecord.attributes.gallery.type') %>
      </th>
      <th class="large-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.title %></td>
        <td><%= t "activerecord.attributes.gallery.types.#{gallery.type}" %></td>
        <td>

          <%= render_dropdown_actions gallery, :gallery,
            {
              show:     { url: gallery_path(gallery) },
              edit:     { url: edit_gallery_path(gallery) },
              destroy:  { url: gallery_path(gallery) }
            }
          %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row crud-footer">
  <div class="large-4 columns">
    <%= render 'shared/pagination_resizer' %>
  </div>

  <div class="large-8 columns">
    <%= paginate @galleries %>
  </div>
</div>


