<h1><%= title t('galleries.show.title', gallery: @gallery.title) %></h1>

<%= render_flashes %>

<div class="panel show-field-container">
  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.gallery.title' %></div>
    <div class="large-9 columns"><%= render_value raw @gallery.title %></div>
  </div>

  <div class="row">
    <div class="large-3 columns label-element"><%= t 'activerecord.attributes.gallery.type' %></div>
    <div class="large-9 columns"><%= render_value raw t "activerecord.attributes.gallery.types.#{@gallery.type}" %></div>
  </div>

  <div class="show-field-container panel">
    <h2><%= t 'articles.show.media' %></h2>
    <div class="row">
      <div class="large-12 columns">
        <% @gallery.media.each do | medium | %>
          <%= link_to preview_medium(medium, prefix: 'index', controller: 'media'), medium_path(medium) %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= render_context_actions :gallery,
  left: {
    back: { url: galleries_path }
  },
  right: {
    edit: { url: edit_gallery_path(@gallery) },
    destroy: { url: gallery_path(@gallery) }
  }, target: @gallery %>
