@import "partials/base",
  "compass/css3/transition";

#ws_announcements {
  position: fixed;
  right: 9px;
  bottom: 9px;
  width: 20em;
  z-index: 11;

  .status .error,
  .announcement {
    display: block;
    margin-top: 6px;
    padding: 9px;
    border: 1px solid $app-color-dark-grey;
    background: $app-color-grey;
    position: relative;
    opacity: 0.75;
    @include transition(all 150ms ease-in-out);

    &:hover {
      opacity: 0.95;
    }

    .message {
      display: block;
      width: 90%;
      font-weight: bold;
      font-size: 90%;
    }

    .detail {
      font-size: 80%;
      color: $app-color-darkest-grey;
    }

    .close {
      position: absolute;
      font-weight: bold;
      font-size: 18px;
      top: 0;
      right: 5px;
      width: 10%;
      text-align: right;
      color: $app-color-darkest-grey;
      @include transition(color 150ms ease-in-out);

      &:hover {
        color: $app-color-black;
      }
    }

    .countdown {
      display: inline-block;
      font-size: 12px;
      color: $app-color-darkest-grey;
      margin-right: 0.5em;
    }

    // Announcement types
    &.alert {
      border-color: darken($alert-color, 15%);
      background-color: $alert-color;

      .message, .detail, .close {
        color: $app-color-white;
      }

      .countdown {
        color: darken($alert-color, 20%);
      }
    }

    &.notice {
      border-color: $app-color-darker;
      background-color: $app-color-normal;

      .message, .detail, .close {
        color: $app-color-white;
      }

      .countdown {
        color: $app-color-darkest;
      }
    }
  }
}