@import
  'partials/base',
  'compass/css3';

body.articles {
  .remote-preview {
    @include transition(all .3s linear);
    width: 95%;
    margin: 0 auto;
  }

  #full-filters-modal select {
    min-width: 400px;
    width: 400px;
  }

  table.crud-table {
    tbody td {
      padding: 10px;
      padding-bottom: 15px;
    }
  }

  table {
    tbody td {
      position: relative;
    }

    .title {
      font-size: 1.5em;
      line-height: 1.3;
      font-weight: bold;
      color: $app-color-black;
    }

    .subtitle {
      font-size: 0.85em;
      line-height: 1.3;
      color: $app-color-dark-grey;
    }

    .additional-information {
      font-size: 0.8em;
      border-top: 1px solid $app-color-grey;
      margin: 12px 0;

      > div {
        padding: 4px;
      }

      img {
        height: 50px;
      }
    }
  }

  .panel .filters-form {
    margin-bottom: 0;
  }

  .dropzone-container {
    .message {
      text-align: center;
    }
  }
}

.related-title {
  font-weight: bold;
  color: $app-color-black;
}

.related-subtitle {
  font-size: 14px;
  color: $app-color-dark-grey;
}

.related-additional-information {
  font-size: 12px;
}

.article-link-to-article {
  padding: 0.4em;
  font-size: 0.75em;
  border: 1px solid #2ba6cb;
  background-color: aliceblue;
}

.article-link-to-medium {
  padding: 0.4em;
  font-size: 0.75em;
  color: green;
  border: 1px solid green;
  background-color: #8bc34a69;
}
