@import 'partials/base';

.url-parameter {
  color: $app-color-darker;
}

.params-container .url-parameter {
  display: block;
}

.right .details-toggle {
  margin-top: 12px;
}

ul.routes-list {
  li {
    list-style-type: none;
    cursor: pointer;

    .url {
      background: $app-color-white;
      padding: 3px 6px;
      border-left: 2px solid $app-color-warning;
    }

    .inner-details,
    .details {
      margin-left: 18px;
      margin-bottom: 12px;
    }
  }
}

// Client application assets' prefix path field
#prefix-path .tt-dropdown-menu {
  background: white;
  padding: 5px;
  border-radious: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 10px 10px 2px #888888;
}