//
// Common components for the User Interface.
//
// This file should contain both new elements and extensions to
// the existing ones in any framework in use.
//
@import
  'partials/base',
  'foundation/variables',
  'compass/css3';

//
// "N/A" style elements.
//
.n-a {
  color: $app-color-dark-grey;
  font-weight: 200;
}

//
// "Nothing to show" alert boxes
//
.nothing-to-show {
  margin: 12px 16px;
}

//
// Text alignment helpers
//
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

//
// Text sizing helpers
//
.text-small {
  font-size: small;
}

//
// Text color helpers
//
.text-success {
  color: $success-color;
}

//
// Hint elements (small captions or help for specific parts of a page).
//
.hint,
html .hint p {
  color: $app-color-dark-grey;
  font-weight: normal;
}

//
// Help icon (usually to be used with tooltips).
//
.help {
  @extend .label !optional;
  @extend .secondary !optional;
  background-color: $app-color-lighter;
  color: $white;
  font-style: normal;

  &.has-tip,
  &.has-tip:hover {
    color: $white;
    border-bottom-width: 0;
  }

  &.inline {
    line-height: 32px;
    margin: 0;
    padding: 6px 9px;
  }
}

label.has-tip:after {
  content: '?';
  vertical-align: super;
  color: $app-color-lighter;
  font-size: 80%;
}

.has-tip input[type] {
  margin-bottom: 2px;
}

//
// Simple, plain, bullet-less lists
//
ul.simple {
  list-style: none;
  margin-left: 9px;

  &.marginless {
    margin: 0;
  }
}

//
// Tabular lists
//
ol.tabular,
ul.tabular {
  margin: 9px;

  &.inset {
    margin: 0;
  }

  &.with-actions li {
    padding-right: 28px;
  }

  .emptyness-item {
    display: none;
    background-color: transparent;
    text-align: center;
    border-width: 0;
    color: $app-color-grey;

    &:first-child:last-child {
      border-top-width: 0;
      padding-top: 5px;
      display: block;
    }
  }

  li {
    padding: 6px 9px;
    border: 1px solid $app-color-grey;
    border-top-width: 0;
    position: relative;

    &:first-of-type {
      border-top-width: 1px;
    }

    .actions {
      position: absolute;
      right: 9px;

      a {
        display: inline-block;
        line-height: 1.8;
      }

      .alert {
        color: $alert-color;
      }
    }
  }
}
ul.tabular {
  list-style-type: none;
}
ol.tabular {
  padding-left: 9px;
}
// Small reset for reveal-modals and tabular lists
.reveal-modal ul.tabular .row {
  margin-bottom: 0;
}

//
// Tree list for hierarchical data.
//
ul.tree {
  list-style-type: none;

  a {
    display: block;
    padding: 6px 12px;
  }

  > li {
    font-weight: bold;

    ul {
      font-weight: normal;
      list-style-type: none;
    }
  }
}

//
// Hoverable elements (will toggle their content on hover)
//
.hoverable {
  .on-normal { display: inherit; }
  .on-hover  { display: none; }

  &:hover .on-normal { display: none; }
  &:hover .on-hover  { display: inherit; }
}

//
// Labels for forms.
//
.label-element {
  font-weight: bold;
}

.inline-labels label.right.inline {
  padding-right: 0.5em;
}

.left-padded {
  padding-left: 0.5em;
}

//
// readonly values for forms.
//
.readonly-value {
  line-height: 1.9;
}

//
// Rows in CRUD forms
//
.field-container .row {
  margin-bottom: emCalc(8px);

  &.with-hint {
    margin-bottom: emCalc(32px);
  }
}

//
// Add a .crud-table class to a table to make it gap-less.
//
table.crud-table {
  border-spacing: 0;

  tr:hover td {
    background-color: $app-color-highlight;
  }
}

//
// Lump: a little bump on the page.
// Provides:
//   .lump           => An $app-color-normal box
//   .lump.dark      => A black box
//   .lump.secondary => A grey box
//   .lump.warning   => An orange box
//
.lump {
  @include text-shadow(0 1px 0 rgba($app-color-white, .5), 0 -1px 0 rgba($app-color-black, .25));
  @include box-shadow(0 2px 1px rgba($app-color-dark-grey, .75), 0 1px 1px rgba($app-color-white, .6) inset);
  display: inline-block;
  background: $app-color-lighter;
  border: 1px solid $app-color-normal;
  color: $app-color-white;
  border-radius: $button-radius;
  padding: .5em .75em;

  &.secondary {
    background: $app-color-grey;
    border-color: $app-color-dark-grey;
  }

  &.warning {
    background: $app-color-warning;
    border-color: darken($app-color-warning, 20%);
    color: $app-color-black;
  }

  &.dark {
    background-color: $app-color-black;
    border-color: $app-color-black;
  }
}

//
// Extension to Foundation's panels.
// Adds:
//   .panel.alert => A red panel
//
.panel {
  &.alert {
    background-color: $alert-color;
    border-color: darken($alert-color, 5%);
    color: $white;

    h1, h2, h3, h4, h5 {
      color: $white;
    }
  }
}

.context-content {
  overflow-x: scroll;
}

//
// Extension to Foundation's buttons.
// Adds:
//   .button.warning   => An orange button
//   .button.dark      => A black button
//   .button.light     => A light grey button
//   .button.invisible => A border-less button (a link with the padding of a button)
//
.button {
  &.warning {
    color: $app-color-black;
    background-color: $app-color-warning;
    border-color: darken($app-color-warning, 20%);

    &:hover {
      color: $app-color-black;
      background-color: darken($app-color-warning, 15%);
      border-color: darken($app-color-warning, 30%);
    }
  }

  &.dark {
    background-color: $app-color-black;
    color: $app-color-white;
    border-color: $app-color-black;

    &:hover {
      background-color: lighten($app-color-black, 25%);
    }
  }

  &.light {
    background-color: $app-color-grey;
    color: $app-color-white;
    border-color: $app-color-dark-grey;

    &:hover {
      background-color: darken($app-color-white, 25%);
    }
  }

  &.invisible,
  &.invisible:hover,
  &.invisible:focus {
    @include box-shadow(none);
    background: transparent;
    border-width: 0;
    color: $primary-color;
    font-weight: normal;

    &:focus {

    }
  }
}

//
// Extension to Foundation's dropdown lists.
// Adds:
//   .f-dropdown li.alert   => Show a red background on hover
//   .f-dropdown li.success => Show a green background on hover
//   .f-dropdown li.divider => Set the style for a horizontal divider
//
.f-dropdown {
  li {
    &.alert, &.success, &.warning, &.divider {
      color: $app-color-dark-grey;
    }

    &.alert:hover {
      color: $white;
      background: $alert-color;

      > a {
        color: $white;
      }
    }

    &.success:hover {
      color: $white;
      background: $success-color;

      > a {
        color: $white;
      }
    }

    &.warning:hover {
      color: $white;
      background: $app-color-warning;

      > a {
        color: $white;
      }
    }

    &.divider {
      line-height: 2px;
      height: 2px;
      font-size: 1px;
      padding: 0;
      border-top: 1px solid $white;
      border-bottom: 1px solid $app-color-light-grey;

      &:hover {
        background-color: $white;
      }
    }
  }
}

// Override Foundation's default bottom margin on .modal-title
.reveal-modal > h2.modal-title,
.reveal-modal > .modal-title > h2 {
  margin-bottom: 9px;
}

// Add a "fullscreen" modal
.reveal-modal.fullscreen {
  position: fixed;
  top: 2.5em !important;
  right: 2.5em;
  bottom: 2.5em;
  left: 2.5em;
  margin: 0;
  width: auto;
  padding: 0;

  .modal-title {
    height: 15%;
    overflow: hidden;
    padding: 1.5em 1.5em 0.75em;

    h2 {
      margin: 0;
    }

    .lead {
      @extend .n-a;
      font-size: 70%;
    }
  }

  .modal-content {
    height: 72.5%;
    overflow: auto;
    border-top: 1px solid $app-color-grey;
    border-bottom: 1px solid $app-color-grey;
    padding: 0.75em 1.5em;
  }

  .modal-footer {
    height: 12.5%;
    overflow: hidden;
    padding: 0.75em 1.5em 1.5em;

    .button {
      margin-bottom: 0;
    }
  }
}

// Global reset for Select2 components sizing
.select2-container,
.select2-container * {
  @include box-sizing(content-box);
}
// Added to match the size and colors Foundation's input elements
.select2-container {
  margin-bottom: 12px;

  &.select2-container-active {
    .select2-choices {
      border-color: $app-color-grey;
    }
  }

  .select2-choice {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-color: $app-color-grey;
    border-radius: 0;
    background: $white;

    .select2-arrow {
      border-width: 0;
      border-radius: 0;
      background: transparent;
    }
  }
}
.select2-container-multi {
  .select2-choices {
    .select2-search-choice {
      border-radius: 0;
      background: $app-color-light-grey;
    }

    .select2-search-choice .th {
      border: none;
    }
  }
}
.select2-drop,
.select2-drop-active {
  border-color: $app-color-grey;
  border-radius: 0;

  .select2-result-label {
    font-size: 14px;
    line-height: 1.4;
  }

  .select2-result-label .th {
    height: 50px;
    border: solid 2px white;
  }
}
// Do not show context information for chosen results
.select2-chosen .context-info {
  display: none;
}

.select2-chosen .th {
  border: solid 1px white;
}

.select2-chosen .select2-medium-image-result {
  height: 30px;
}

// Kaminari's page gap
span.page.gap {
  color: $app-color-grey;
}

// Horizontal Rulers (<hr> elements)
hr {
  &.thick {
    border-top-width: 3px;
  }

  &.strong {
    border-color: $primary-color;
  }

  &.tiny {
    margin: 0 0 6px;
  }
}

.initially-hidden {
  display: none;
}

.fade-in {
  transition: opacity 1s ease, visibility 1s ease;
}

.show-on-load {
  visibility: hidden;
  opacity: 0;
  position: relative;

  & + .show-while-loading {
    display: block;
  }
}

.show-while-loading {
  display: none;
}

// Emptyness indicator
.emptyness-item {
  color: $app-color-dark-grey;
}

// js-/no-js-related elements
.no-js .no-js-hidden {
  display: none;
}

.js .js-hidden {
  display: none;
}

//
// Form field prefixes
//
.prefix {
  &.silent {
    border: none;
    background: transparent;
  }

  &.muted {
    color: $app-color-dark-grey;
  }

  &.text-right {
    padding-right: 3px;
  }
}

// Remove margin on input elements nested under buttons
html .button input {
  margin-bottom: 0;
}

.pre {
  font-family: monospace;
}

//
// Errror blocks
//

// Inlined error blocks
.inline-error-block {
  color: $app-color-red;
  margin: 1em;

  .error-msg {
    margin-left: 1em;

    &:first-of-type {
      margin-top: .5em;
    }
  }
}

// Large error blocks
.panel.alert {
  p {
    color: $app-color-white;
  }
}

.inline-error-block,
.panel.alert {
  .error-msg {
    margin-bottom: .5em;
  }
}

//
// Select2 customization
//
.select2-container .select2-choices {
  border-color: $app-color-grey;
}

//
// Action menu - actions groups
//
.f-dropdown {
  .actions-group-title {
    font-weight: bold;
    text-align: center;

    &, &:hover {
      background: $app-color-light-grey;
    }
  }
}

//
// CodeMirror
//
.CodeMirror {
  height: 60vh;
}

.CodeMirror-empty {
  color: $app-color-light-grey;
}

//
// submenues
//
.f-dropdown .has-dropdown {
  position: relative;

  .drop-icon {
    float: right;
    padding: 5px 4px;
  }

  .submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    margin: 0;
    background: $app-color-white;
    border: 1px solid $app-color-grey;
    list-style: none;

    > li {
      font-size: 14px;
      line-height: 15.75px;
    }
  }

  &:hover .submenu {
    display: block;
  }
}

// twitter typeahead
.twitter-typeahead {
  display: block !important;
}

// CodeRay
.CodeRay {
  display: block;
  max-height: 18em;
  overflow: scroll;
}
