//
// CRUD modules styles.
//

@import 'partials/base';

.top-context-actions,
.context-actions,
.form-actions {
  li {
    list-style-type: none;
  }
}

.filters-form .postfix {
  z-index: 1;
}

.postfix.button {
  z-index: 1;
}

.filters-labels {
  a {
    color: inherit;
  }
}

.top-context-actions {
  vertical-align: middle;
  text-align: right;

  li {
    display: inline;
    display: inline-block;
  }
}

.context-actions {
  margin: 9px;

  li {
    display: inline;
    display: inline-block;

    &.right:last-child {
      margin-bottom: 9px;
    }
  }
}

.form-actions {
  li {
    display: inline;
  }
}

.show-field-container {
  .row {
    padding:  11px 20px;
  }
}

.form-container {
  margin-bottom: 9px;

  .field-container {
    border-radius: $button-radius;
  }

  .form-actions {
    margin-top: 9px;
  }
}

.filter-form-container {
  margin-top: 4px;

  .field-container {
    background-color: $app-color-light-grey;
    border-radius: $button-radius;
  }

  .accordion {
    margin-bottom: 9px;
  }

  label.right.inline {
    margin-right: .5em;
  }
}

// Header for CRUD modules
.crud-header {
  background: $app-color-light-grey;
  margin: 0;
  padding: 6px;
  border-bottom: 1px solid $app-color-grey;

  #filters-toggle {
    font-size:  12px;
  }

  .quick-filter-container {
    padding-top: 25px;
  }
}

.crud-inner-header {
  padding: 6px;

  h1 {
    margin-bottom: 0;
  }
}

.crud-header,
.crud-inner-header {
  .breadcrumbs {
    margin-bottom: 0;
    background: transparent;
    padding: 0 3px;
    border: none;

    & + h1 {
      margin-top: 0;
    }
  }
}

// CRUD Table
.crud-table {
  width: 100%;
}

// Footer for CRUD modules
.crud-footer {
  .pagination {
    margin-top: 3px;
  }

  input#per_page {
    text-align: center;
  }
}

form input + .hint {
  margin-top: -10px;
}

// Scaffolds
table.scaffolding {
  width: 100%;
}

.no-js, .js {
  .f-dropdown {
    padding: 0;
  }
}

.batch-checkbox input {
  margin-bottom: 0;
}