.dashboard {
  // Jobs
  .jobs-container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    iframe {
      z-index: 1;
      width: 100%;
      height: 99vh;
    }
  }
  .info_table_wrapper {
    padding: .5em;

    .data_container { width: 100%; }
    .title {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}