//
// Styles for avoiding Flash Of Unstyled Content (FOUC)
//
html.js.not-loaded {
  // FOUC avoidance - Hide elements that should not be visible during load.
  .select2-offscreen,
  *[data-plugins*="collapsible"],
  *[data-plugins*="indicators"],
  *[data-dropdown-content],
  .params-container {
    display: none;
  }
}

html.js.loaded {
  .select2-offscreen {
    display: none;
  }
}
