//
// General application layout stylesheets.
//
@import
  'partials/base',
  'compass/css3';

#app-name {
  @include transition(all .5s);
  background-color: $app-color-lighter;

  &:hover {
    background-color: $app-color-normal;
  }
}

@keyframes pulse {
  0%, 100% { opacity: 0; }
  25%, 50% { opacity: 1; }
}
@-o-keyframes pulse {
  0%, 100% { opacity: 0; }
  25%, 50% { opacity: 1; }
}
@-moz-keyframes pulse {
  0%, 100% { opacity: 0; }
  25%, 50% { opacity: 1; }
}
@-webkit-keyframes pulse {
  0%, 100% { opacity: 0; }
  25%, 50% { opacity: 1; }
}
#global-header .indicator {
  @include text-shadow(0 0 8px rgba($app-color-darker, .75));
  position: absolute;
  left: 50%;
  color: $app-color-white;
  animation: pulse 1s linear infinite;
  -o-animation: pulse 1s linear infinite;
  -moz-animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;
}