//
// Media upload & Media Search results
//
@import
  'partials/base',
  'compass/css3';

.media-search-results,
.selected-media-pane {
  .medium {
    margin-bottom: 10px;
    border: 1px transparent;
    border-radius: 4px;

    &:hover {
      @include box-shadow(0 1px 2px rgba($app-color-dark-grey, .95));
      border-color: $app-color-lighter;
      background: rgba($app-color-lighter, .5);
      border-radius: 4px;
    }

    @include box-shadow(0 1px 2px rgba($app-color-dark-grey, .95));
    border-color: $app-color-grey;
    background: rgba($app-color-light-grey, .5);
    border-radius: 4px;

  }
}

.selected-media-pane {
  list-style: none;
  margin-top: 10px;
  .medium {
    >.row {
      padding: 10px;
    }

    .medium-preview-row label {
      font-size: 75%;
    }

    .no-image {
      font-size: 400%;
      margin-left: 10px;
      margin-top: -20px;
    }
    .th {
      max-width: 70px;
      max-height: 100px;
    }
    .success-mark {
      display: inline-block;
      background-color: $success-color;
      color: $app-color-white;
      border-radius: 50%;
      padding: 0 .5em;
    }

    .marked-as-main-container {
      display: none;

      .button {
        margin-bottom: 0;
      }
    }

    .delete-container {
      text-align: right;

      .button {
        margin-bottom: 0;
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 100%;
    }

    &.main-medium {
      .marked-as-main-container {
        display: block;
        display: inline-block;
      }
      @include box-shadow(0 1px 2px rgba($app-color-dark-grey, .95));
      border-color: $success-color;
      background: rgba($success-color, .5);
      border-radius: 4px;
    }
  }
}

.media-search-results {
  margin-bottom: 10px;
  .medium-information {
    font-size: 85%;
    color: $app-color-dark-grey;
    font-weight: 200;
  }

  .medium {
    @include box-shadow(0 1px 2px rgba($app-color-dark-grey, .95));
    border-color: $app-color-grey;
    background: rgba($app-color-light-grey, .5);
    border-radius: 4px;
    margin: 5px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    width: 190px;
    height: 110px;
    .th {
      max-height: 100px;
      max-width: 100px;
    }
  }

  .medium.in-use {
    opacity: .5;
  }
  
  .in-use .add-medium {
    display: none;
  }
}