@import
  'partials/base',
  'compass/css3';

.preview {
  .toggle-row {
    position: relative;

    a {
      position: absolute;
      z-index: 2;
      background-color: $app-color-lighter;
      color: $app-color-white;
      display: inline-block;
      text-align: center;
      padding: 1px 16px;
      border-radius: 0 0 3px 3px;
    }
  }

  form {
    @include transition(all .3s ease-out);
    padding-top: .5em;
    background: rgba($app-color-white, .9);
    margin-bottom: 0;
    border-bottom: 1px solid $app-color-lighter;

    fieldset {
      margin-top: 0;
    }
  }

  .preview-container {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    iframe {
      z-index: 1;
      width: 100%;
      height: 99vh;
    }
  }

  .overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($app-color-white, .9);
    box-shadow: 0 0 6px rgba($app-color-dark-grey, .75);
    text-align: center;
    color: $app-color-grey;

    &:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .message {
      font-size: 2em;
      display: inline-block;
    }
  }
}
