@import
  'partials/base',
  'compass/css3/box';

%canvas {
  padding-top: 4px;

  .r-row {
    @extend %row;
  }
}

%row {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  border: 1px solid $app-color-dark-grey;
  background: $app-color-grey;
  margin-bottom: 4px;
  min-height: 60px;

  > .controls {
    @include box-flex(1);
    padding-top: 4px;
    padding-bottom: 4px;

    .remove-row {
      margin-top: 1em;
    }
  }

  &:first-child > .controls .fi-arrow-up,
  &:last-child > .controls .fi-arrow-down {
    color: $app-color-light-grey;
    cursor: not-allowed;
  }

  .cols-container {
    @include box-flex(90);
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    min-height: 60px;

    .r-col {
      @extend %column;
    }
  }
}

%column {
  @include box-flex(1);
  border: 1px solid $app-color-dark-grey;
  background: $app-color-white;
  margin: 2px;
  min-width: 0;
  min-height: 0;

  > .controls {
    border-bottom: 1px solid $app-color-dark-grey;
  }

  &:first-child > .controls .fi-arrow-left,
  &:last-child > .controls .fi-arrow-right {
    color: $app-color-light-grey;
    cursor: not-allowed;
  }

  .components-container {
    @include display-box;
    @include box-orient(vertical);

    .r-component {
      @include box-flex(1);
      border: 1px solid $app-color-dark-grey;
      background: $app-color-white;
      margin: 4px;

      .title-bar {
        text-align: center;
        padding: 4px;
        border-bottom: 1px solid $app-color-black;
        background: $app-color-black;
        color: $app-color-white;
      }

      &:first-child .controls .fi-arrow-up,
      &:last-child .controls .fi-arrow-down {
        color: $app-color-light-grey;
        cursor: not-allowed;
      }

      .controls {
        background-color: $app-color-white;
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

.covers,
.representations {
  .crud-inner-header {
    h1 {
      margin-bottom: 0;
    }
  }

  .editor-container {
    margin-bottom: 2em;
    position: relative;

    .loader {
      @extend %center-in-parent;
      text-align: center;
      color: $app-color-dark-grey;
      font-weight: bold;
      font-size: 200%;
    }
  }

  .canvas {
    @extend %canvas;
  }

  .controls {
    text-align: center;
    background: transparent;
    overflow: hidden;
    padding: 4px;

    &.large {
      font-size: 24px;
    }

    .action {
      display: inline-block;
      text-align: center;
      background: $app-color-light-grey;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      padding: 0.075em;

      &.setup-component,
      &.setup-col,
      &.setup-row {
        color: $app-color-dark-grey;
      }

      &.add-row,
      &.add-col {
        color: $success-color;
      }

      &.pop-palette {
        background-color: $success-color;
        color: $app-color-white;
      }

      &.remove-component,
      &.remove-col,
      &.remove-row {
        background-color: $alert-color;
        color: $app-color-white;
      }
    }

    &.general {
      text-align: right;

      a {
        color: $app-color-black;
      }
    }

    &.vertical .action {
      display: block;
      margin-bottom: 2px;
    }
  }

  #palette .panel {
    li .template-component {
      display: block;
      border: 1px solid $app-color-dark-grey;
      margin: 2px;
      text-align: center;
    }
  }
}

.cover-editor {
  .available-articles-results {
    overflow-y: auto;
    height: 300px;
  }

  .display-main-article {
    font-weight: bold;
  }
}
