@import
  'partials/base',
  'compass/css3/box';

.new-route-position {
  #height: 25px;
  font-size: smaller;
  font-weight: bold;
  margin: 0.75em 0;
  cursor: pointer;
  background-color: #DDDDDD;
  padding: 0.5em 3em;
  &:hover {  
    background-color: #00BFFF;
  }
}
