.backgr-active {
  background-color: rgba(179,255,179,0.5);
}

.backgr-no-visible {
  background-color: rgba(195,196,194,0.5);
}

.editions-list {
  td {
    border-bottom: 1px solid grey;
  }

  .strong {
    font-weight: bold;
  }
}