@import 'partials/base';

#login-container {
  padding-top: 10%;

  .application-name {
    text-align: center;
    background-color: $app-color-lighter;
    color: $white;
    margin: 0;
    padding: 14px 6px;
    border-radius: $button-radius $button-radius 0 0;
  }

  .panel {
    border-radius: 0 0 $button-radius $button-radius;
  }
}

.top-bar-section{
  .dropdown {
    min-width: 100%;
  }
}