$diff-red : #ffdddd;
$diff-green : #a6f3a6;
$diff-black : #565353;

.timeline {
  border-left: 3px solid #bfbfbf;
  margin: 0 1em;
  padding: 0 1em;
  position: relative;

  &:before, &:after {
    background: #bfbfbf;
    border-radius: 1em;
    content: '';
    height: 0.7em;
    width: 0.7em;
    position: absolute;
  }

  &:before { left: -0.4em; bottom: 0; }

  &:after { left: -0.4em; top: 0; }

  .elem:before {
    background: #bfbfbf;
    border-radius: 1em;
    content: '';
    height: 0.5em;
    left: -1.3em;
    position: absolute;
    top: 36.1%;
    width: 0.5em;
  }

  .elem {
    position: relative;

    &:first-of-type, &:last-of-type {
      &:before, &:after { content: none ; }
    }
  }
}

ins, del {
  border-radius: 3px;
  display: block;
  margin-bottom: .3em;
  padding: .5em;
  color: $diff-black;
}

ins {
  background: $diff-green ;
  border: 1px solid darken($diff-green, 5);
}

del {
  background: $diff-red ;
  border: 1px solid darken($diff-red, 5);
}

.differ {
  text-decoration: none;

  li { list-style-type: none; }
}
