<% if field.value.any? %>
  <ol>
    <% field.value.each do |value| %>
    <li><%= render_value value %> (<%= value.class.model_name.human rescue nil %>)</li>
    <% end %>
  </ol>
<% else %>
  <span class="n-a">&mdash;</span>
<% end %>