#ads_laterales { 
    width: 960px; 
    margin: auto; 
    z-index: -10; 
    position: fixed;
    display: block;
}

#ads_laterales .ad_left {
  float: left;
	background: image-url('ads_laterales/ad_test.jpg') no-repeat right center;  
  width: 160px;
  height: 600px;
  margin: 0px 0px 0px -160px;
}

#ads_laterales .ad_right {
  float: right;
	background: image-url('ads_laterales/ad_test.jpg') no-repeat right center;  
  width: 160px;
  height: 600px;
  margin: 0px -160px 0px 0px;
}


