<div class="form-container r-component-configuration" data-id="<%= component_configuration.id %>">
  <%= hidden_field_tag 'component_id', component_configuration.component.id %>

  <div class="row">
    <div class="large-12 columns listen-change">
      <%= label_tag 'description', t('representations.edit.component_form.description') %>
      <%= text_field_tag 'description', component_configuration.description, class: 'component-description' %>
    </div>
  </div>

  <hr class="thick" />

  <h3><%= t 'representations.edit.component_form.attributes' %></h3>

  <%= render partial: 'components/configuration/field', collection: component_configuration.all_fields_hash.values %>

  <hr class="thick" />

  <h3><%= t 'representations.edit.component_form.views' %></h3>

  <div class="row">
    <div class="large-12 columns">
      <%= label_tag 'view', t('representations.edit.component_form.select_view') %>
      <%= collection_select2_select :component_configuration, :view, component_configuration.component.views.html.templates, :name, :to_s, {selected: (component_configuration.view || component_configuration.component.default_view).try(:name)} %>
    </div>
  </div>
</div>
