<div class="row inline-labels">
  <div class="large-2 columns">
    <%= label_tag field.name, class: 'inline' do %>
      <%= field %>
      <div class="n-a"><%= field.class.model_name.human %></div>
    <% end %>
  </div>
  <div class="large-10 columns">
    <%= render partial: "components/configuration/fields/#{field.field_type}", locals: { field: field } %>
  </div>
</div>