<!DOCTYPE html>
<html class="no-js not-loaded">
<head>
  <meta charset="utf-8">
  <title><%= (content_for?(:title) ? "#{yield(:title)} | " : '') + t('app.name') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= render partial: 'shared/stylesheets' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].parameterize %> auto-initialize">
  <%= render partial: 'shared/header' %>

  <section class="outer-container">
    <%= yield %>
  </section>

  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= render partial: 'shared/javascripts' %>
</body>
</html>
